

<cfform action="frame.cfm?num=#myIndex+1#&myTo=end&myId=#myID#" method="post">
  <TABLE WIDTH=850 BORDER=0 align="center" CELLPADDING=0 CELLSPACING=0>
    <TR valign="top"> 
      <TD colspan="9"><font size="4"><strong>Please follow the instructions below.</strong></font> 
        <hr></TD>
    </TR>
    <TR valign="middle"> 
      <TD colspan="9"><div align="center"> </div>
        <div align="center"><img src="../../formatted/AbstractRI/images/RealIdeal.gif" width="644" height="358"></div></TD>
    </TR>
    <TR> 
      <TD colspan="9">&nbsp;</TD>
    </TR>
    <TR> 
      <TD> <IMG SRC="images/justBoxes_01.jpg" WIDTH=113 HEIGHT=62 ALT=""></TD>
      <TD> <img src="images/justBoxes_02.jpg" width=102 height=62 alt=""></TD>
      <TD> <IMG SRC="images/justBoxes_03.jpg" WIDTH=100 HEIGHT=62 ALT=""></TD>
      <TD> <IMG SRC="images/justBoxes_04.jpg" WIDTH=92 HEIGHT=62 ALT=""></TD>
      <TD> <IMG SRC="images/justBoxes_05.jpg" WIDTH=96 HEIGHT=62 ALT=""></TD>
      <TD> <IMG SRC="images/justBoxes_06.jpg" WIDTH=93 HEIGHT=62 ALT=""></TD>
      <TD> <IMG SRC="images/justBoxes_07.jpg" WIDTH=82 HEIGHT=62 ALT=""></TD>
      <TD> <IMG SRC="images/justBoxes_08.jpg" WIDTH=75 HEIGHT=62 ALT=""></TD>
      <TD> <IMG SRC="images/justBoxes_09.jpg" WIDTH=97 HEIGHT=62 ALT=""></TD>
    </TR>
    <TR> 
      <TD colspan="9">&nbsp;</TD>
    </TR>
    <TR> 
      <TD><div align="center"> 
          <input type="radio" name="ri_abstract" value="0">
        </div></TD>
      <TD><div align="center"> 
          <input type="radio" name="ri_abstract" value="1">
        </div></TD>
      <TD><div align="center"> 
          <input type="radio" name="ri_abstract" value="2">
        </div></TD>
      <TD><div align="center"> 
          <input type="radio" name="ri_abstract" value="3">
        </div></TD>
      <TD><div align="center"> 
          <input type="radio" name="ri_abstract" value="4">
        </div></TD>
      <TD><div align="center"> 
          <input type="radio" name="ri_abstract" value="5">
        </div></TD>
      <TD><div align="center"> 
          <input type="radio" name="ri_abstract" value="6">
        </div></TD>
      <TD><div align="center"> 
          <input type="radio" name="ri_abstract" value="7">
        </div></TD>
      <TD> <div align="left"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
          <input type="radio" name="ri_abstract" value="8">
		  <input name="ri_abstract_required" type=hidden id="ri_abstract_required" value="You must enter a rating.">
        </div></TD>
    </TR>
    <TR> 
      <TD colspan="9"><img src="images/base.gif" width="850" height="63"></TD>
    </TR>
    <TR align="center"> 
      <TD colspan="9"> <input type="submit" name="Submit" value="Continue"> 
      </TD>
    </TR>
  </TABLE>
</cfform>
