<cfquery name="is" datasource="#mySource#">
<cfset mUp = myIndex - 1>
<!--- From.qX where x should be one less than current file Y.cfm --->
<cfset myUpdate = "is" & mUp>
UPDATE #myTable#
	SET is1='#Form.is1#', 
		is2='#Form.is2#', 
		is3='#Form.is3#'
	WHERE ID = #myID#
</cfquery>

<cfquery name="Getroi" datasource="#mySource#">
 SELECT numpick FROM riopc WHERE Id=#URL.myId#
</cfquery>
<center>
<table width="585" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td colspan="8" align="center"> <blockquote>
	   <h3>Thank you for completing this questionnaire.</h3>
	   <cfoutput>   
       <cfif Getroi.numpick IS 2 OR Getroi.numpick IS 3 OR Getroi.numpick IS 4>
	  <form action="../RefPerson/frame.cfm?num=0&myID=#URL.myId#">
	  	<cfelseif Getroi.numpick IS 1 OR Getroi.numpick IS 5 OR Getroi.numpick IS 6>
		<form action="../Ought/frame.cfm?num=0&myID=#URL.myId#">
	</cfif>
	  		<input type="hidden" name="num" value="0" />
			<input type="hidden" name="myTo" value="1" />
				<input type="hidden" name="myId" value="#URL.myId#" />
				  </cfoutput>
    	  <input type="submit" value="Continue to the next Questionnaire">
	  </form>
	   
        </blockquote></td>
    </tr>
  </table>
</center>

