<cfquery name="Getroi" datasource="roi">
 SELECT numpick FROM #myTable# WHERE Id=#URL.myId#
</cfquery>
<!--- OUTDATED!!!!! --->
<cfif Getroi.numpick IS 2 OR Getroi.numpick IS 4> 
<cfoutput>
<cfquery name="Updaterat" datasource="roi">
  UPDATE #myTable#
 SET 	oo9='#Form.oo9#',
    	oi4 ='#Form.oi4#',
    	or3 ='#Form.or3#',
    	oi2 = '#Form.oi2#',
    	or12 = '#Form.or12#',
    	oo10='#Form.oo10#',
    	oo1 = '#Form.oo1#',
    	or9= '#Form.or9#',
    	oo8 = '#Form.oo8#',
    	oi1='#Form.oi1#',
    	oo6 ='#Form.oo6#',
    	or11 ='#Form.or11#'
WHERE Id=#URL.myId#
</cfquery>
</cfoutput>
</cfif>


<cfif Getroi.numpick IS 1 OR Getroi.numpick IS 3> 
<cfoutput>
<!-- there were two ri7s in update -->

<cfquery name="Updaterat" datasource="roi">
UPDATE #myTable#
  SET 	ri10 = '#Form.ri10#',
    	ro5 = '#Form.ro5#',
    	rr5='#Form.rr5#',
    	ri7 = '#Form.ri7#',
    	ro3= '#Form.ro3#',
     	ro7 = '#Form.ro7#',
    	ro1 = '#Form.ro1#',
    	rr9 = '#Form.rr9#',
    	ro8='#Form.ro8#',
    	ri1 = '#Form.ri1#',
    	ro6= '#Form.ro6#',
     	rr11 = '#Form.rr11#'
WHERE Id=#URL.myId#
</cfquery>
</cfoutput>
</cfif>

<cfquery name="IdealRating" datasource="roi">
 SELECT * FROM #myTable# WHERE Id=#URL.myId#
</cfquery>

<cfform action="frame_.cfm?num=#myIndex+1#&myTo=10o&myID=#myID#">
<center>
        <table width="585" border="0" cellpadding="0" cellspacing="0">
      <tr> 
        <td colspan="11" valign="top"> <h3 align="center"><strong>Please use the 
            following scale to describe your</strong></h3>
          <h3 align="center"><strong>IDEAL SELF</strong></h3>
          <h3 align="center"><strong>Yourself as YOU would like be in your own 
            eyes.</strong></h3>
          <div align="center">
            <input type="submit" value="Continue">
          </div></td>
      </tr>
    </table>
</center>
</cfform>
