<cfoutput>
<cfquery name="Updaterat" datasource="roi">
  UPDATE #myTable#
  SET ii10 = '#Form.ii10#',
    io5 = '#Form.io5#',
    ir5='#Form.ir5#',
    ii7 = '#Form.ii7#',
    io3= '#Form.io3#',
    io7 = '#Form.io7#',
	ii12='#Form.ii12#',
    ii5 ='#Form.ii5#',
    ii9 ='#Form.ii9#',
    io4 = '#Form.io4#',
    ir7 = '#Form.ir7#',
    ir2='#Form.ir2#'
WHERE Id=#URL.myId#
</cfquery>
</cfoutput>

<cfquery name="IdealRating" datasource="roi">
 SELECT * FROM #myTable# WHERE Id=#URL.myId#
</cfquery>

<cfif IdealRating.numpick IS 1 OR IdealRating.numpick IS 5> 
<cfset going="11">
</cfif>


<cfif IdealRating.numpick IS 4 OR IdealRating.numpick IS 6> 
<cfset going="9">
</cfif>

<cfif IdealRating.numpick IS 2 OR IdealRating.numpick IS 3> 
<cfset going="12">
</cfif>

<cfform action="frame_.cfm?num=#myIndex+1#&myTo=#going#&myID=#myID#">
<center>
    <table width="585" border="0" cellpadding="0" cellspacing="0">
      <tr valign="top"> 
        <td colspan="11"> <h3>Describe your IDEAL SELF: This is yourself as YOU 
            would like to be in your own eyes.</h3></td>
      </tr>
      <tr> 
        <td colspan="11"> <div align="center"><img src="../constructs.gif" width="586" height="49"></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="50%" rowspan="2" valign="middle"><cfoutput query="IdealRating"> 
            #opou3# </cfoutput>&nbsp;</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="41"><div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="io9"
value="1" <cfif debug>checked</cfif>>
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="io9"
value="2">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="io9"
value="3">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="io9"
value="4">
            </big></big></font></div></td>
        <td width="42"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="io9"
value="5">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="io9"
value="6">
            </big></big></font></div></td>
        <td width="42"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="io9"
value="7"><input type=hidden name="io9_required" value= "You must enter a rating.">
            </big></big></font></div></td>
        <td width="42">&nbsp;</td>
        <td width="42">&nbsp;</td>
        <td width="42">&nbsp;</td>
      </tr>
      <tr> 
        <td rowspan="2" valign="middle"><cfoutput query="IdealRating"> #ideal4# 
          </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr> 
        <td height="14"><div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="ii4"
value="1" <cfif debug>checked</cfif>>
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="ii4"
value="2">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="ii4"
value="3">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="ii4"
value="4">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="ii4"
value="5">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="ii4"
value="6">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="ii4"
value="7"><input type=hidden name="ii4_required" value= "You must enter a rating.">
            </big></big></font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td rowspan="2" valign="middle"><cfoutput query="IdealRating"> #real3# 
          </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td height="14"><div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="ir3"
value="1" <cfif debug>checked</cfif>>
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="ir3"
value="2">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="ir3"
value="3">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="ir3"
value="4">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="ir3"
value="5">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="ir3"
value="6">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="ir3"
value="7"><input type=hidden name="ir3_required" value= "You must enter a rating.">
            </big></big></font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="IdealRating"> 
            #ideal2# </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td> <div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="ii2"
value="1" <cfif debug>checked</cfif>>
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="ii2"
value="2">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="ii2"
value="3">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="ii2"
value="4">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="ii2"
value="5">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="ii2"
value="6">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="ii2"
value="7"><input type=hidden name="ii2_required" value= "You must enter a rating.">
            </big></big></font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top" bgcolor="#FFFFCC"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="IdealRating"> 
            #opr2# </cfoutput></td>
        <td> <div align="center"><font size="2">1</font></div></td>
        <td> <div align="center"><font size="2">2</font></div></td>
        <td> <div align="center"><font size="2">3</font></div></td>
        <td> <div align="center"><font size="2">4</font></div></td>
        <td> <div align="center"><font size="2">5</font></div></td>
        <td> <div align="center"><font size="2">6</font></div></td>
        <td> <div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td bgcolor="#FFFFCC"><div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="ir8"
value="1" <cfif debug>checked</cfif>>
            </big></big></font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="ir8"
value="2">
            </big></big></font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="ir8"
value="3">
            </big></big></font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="ir8"
value="4">
            </big></big></font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="ir8"
value="5">
            </big></big></font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="ir8"
value="6">
            </big></big></font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="ir8"
value="7"><input type=hidden name="ir8_required" value= "You must enter a rating.">
            </big></big></font></div></td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top" bgcolor="#FFFFFF"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="IdealRating"> 
            #opou4# </cfoutput></td>
        <td> <div align="center"><font size="2">1</font></div></td>
        <td> <div align="center"><font size="2">2</font></div></td>
        <td> <div align="center"><font size="2">3</font></div></td>
        <td> <div align="center"><font size="2">4</font></div></td>
        <td> <div align="center"><font size="2">5</font></div></td>
        <td> <div align="center"><font size="2">6</font></div></td>
        <td> <div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td><div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="io10"
value="1" <cfif debug>checked</cfif>>
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="io10"
value="2">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="io10"
value="3">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="io10"
value="4">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="io10"
value="5">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="io10"
value="6">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="io10"
value="7"><input type=hidden name="io10_required" value= "You must enter a rating.">
            </big></big></font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top" bgcolor="#FFFFCC"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="IdealRating"> 
            #ought1# </cfoutput></td>
        <td> <div align="center"><font size="2">1</font></div></td>
        <td> <div align="center"><font size="2">2</font></div></td>
        <td> <div align="center"><font size="2">3</font></div></td>
        <td> <div align="center"><font size="2">4</font></div></td>
        <td> <div align="center"><font size="2">5</font></div></td>
        <td> <div align="center"><font size="2">6</font></div></td>
        <td> <div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td bgcolor="#FFFFCC"> <div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="io1"
value="1" <cfif debug>checked</cfif>>
            </big></big></font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="io1"
value="2">
            </big></big></font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="io1"
value="3">
            </big></big></font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="io1"
value="4">
            </big></big></font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="io1"
value="5">
            </big></big></font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="io1"
value="6">
            </big></big></font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="io1"
value="7"><input type=hidden name="io1_required" value= "You must enter a rating.">
            </big></big></font></div></td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top" bgcolor="#FFFFFF"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="IdealRating"> 
            #opr3# </cfoutput></td>
        <td> <div align="center"><font size="2">1</font></div></td>
        <td> <div align="center"><font size="2">2</font></div></td>
        <td> <div align="center"><font size="2">3</font></div></td>
        <td> <div align="center"><font size="2">4</font></div></td>
        <td> <div align="center"><font size="2">5</font></div></td>
        <td> <div align="center"><font size="2">6</font></div></td>
        <td> <div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td><div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="ir9"
value="1" <cfif debug>checked</cfif>>
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="ir9"
value="2">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="ir9"
value="3">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="ir9"
value="4">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="ir9"
value="5">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="ir9"
value="6">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="ir9"
value="7"><input type=hidden name="ir9_required" value= "You must enter a rating.">
            </big></big></font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top" bgcolor="#FFFFCC"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="IdealRating"> 
            #opou2# </cfoutput></td>
        <td> <div align="center"><font size="2">1</font></div></td>
        <td> <div align="center"><font size="2">2</font></div></td>
        <td> <div align="center"><font size="2">3</font></div></td>
        <td> <div align="center"><font size="2">4</font></div></td>
        <td> <div align="center"><font size="2">5</font></div></td>
        <td> <div align="center"><font size="2">6</font></div></td>
        <td> <div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td bgcolor="#FFFFCC"><div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="io8"
value="1" <cfif debug>checked</cfif>>
            </big></big></font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="io8"
value="2">
            </big></big></font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="io8"
value="3">
            </big></big></font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="io8"
value="4">
            </big></big></font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="io8"
value="5">
            </big></big></font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="io8"
value="6">
            </big></big></font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="io8"
value="7"><input type=hidden name="io8_required" value= "You must enter a rating.">
            </big></big></font></div></td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top" bgcolor="#FFFFFF"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="IdealRating"> 
            #ideal1# </cfoutput></td>
        <td> <div align="center"><font size="2">1</font></div></td>
        <td> <div align="center"><font size="2">2</font></div></td>
        <td> <div align="center"><font size="2">3</font></div></td>
        <td> <div align="center"><font size="2">4</font></div></td>
        <td> <div align="center"><font size="2">5</font></div></td>
        <td> <div align="center"><font size="2">6</font></div></td>
        <td> <div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td> <div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="ii1"
value="1" <cfif debug>checked</cfif>>
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="ii1"
value="2">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="ii1"
value="3">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="ii1"
value="4">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="ii1"
value="5">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="ii1"
value="6">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="ii1"
value="7"><input type=hidden name="ii1_required" value= "You must enter a rating.">
            </big></big></font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top" bgcolor="#FFFFCC"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="IdealRating"> 
            #ought6# </cfoutput></td>
        <td> <div align="center"><font size="2">1</font></div></td>
        <td> <div align="center"><font size="2">2</font></div></td>
        <td> <div align="center"><font size="2">3</font></div></td>
        <td> <div align="center"><font size="2">4</font></div></td>
        <td> <div align="center"><font size="2">5</font></div></td>
        <td> <div align="center"><font size="2">6</font></div></td>
        <td> <div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td bgcolor="#FFFFCC"> <div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="io6"
value="1" <cfif debug>checked</cfif>>
            </big></big></font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="io6"
value="2">
            </big></big></font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="io6"
value="3">
            </big></big></font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="io6"
value="4">
            </big></big></font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="io6"
value="5">
            </big></big></font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="io6"
value="6">
            </big></big></font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="io6"
value="7"><input type=hidden name="io6_required" value= "You must enter a rating.">
            </big></big></font></div></td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top" bgcolor="#FFFFFF"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="IdealRating"> 
            #opr5# </cfoutput></td>
        <td> <div align="center"><font size="2">1</font></div></td>
        <td> <div align="center"><font size="2">2</font></div></td>
        <td> <div align="center"><font size="2">3</font></div></td>
        <td> <div align="center"><font size="2">4</font></div></td>
        <td> <div align="center"><font size="2">5</font></div></td>
        <td> <div align="center"><font size="2">6</font></div></td>
        <td> <div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td><div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="ir11"
value="1" <cfif debug>checked</cfif>>
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="ir11"
value="2">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="ir11"
value="3">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="ir11"
value="4">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="ir11"
value="5">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="ir11"
value="6">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="ir11"
value="7"><input type=hidden name="ir11_required" value= "You must enter a rating.">
            </big></big></font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43">&nbsp;</td>
        <td colspan="10"> <div align="left"> <br> <input type="submit" name="Submit" value="Continue"> 
        </td>
      </tr>
    </table>
</center>
</cfform>
