<cfquery name="Getroi" datasource="roi">
 SELECT numpick, BigOrder FROM #myTable# WHERE Id=#URL.myId#
</cfquery>

<cfif Getroi.numpick IS 2 OR Getroi.numpick IS 3>
<cfoutput>
<!--- correct!! --->
<cfquery name="Updaterat" datasource="roi">
  UPDATE #myTable#
 SET 	io9='#Form.io9#',
    	ii4 ='#Form.ii4#',
    	ir3 ='#Form.ir3#',
    	ii2 = '#Form.ii2#',
    	ir8 = '#Form.ir8#',
    	io10='#Form.io10#',
    	io1 = '#Form.io1#',
    	ir9= '#Form.ir9#',
    	io8 = '#Form.io8#',
    	ii1='#Form.ii1#',
    	io6 ='#Form.io6#',
    	ir11 ='#Form.ir11#'
WHERE Id=#URL.myId#
</cfquery>
</cfoutput>
</cfif>

<cfif Getroi.numpick IS 1 OR Getroi.numpick IS 6>
<cfoutput><!--- CORRECT!!! --->
<cfquery name="Updaterat" datasource="roi">
  UPDATE #myTable#
  SET 	oo9='#Form.oo9#',
    	oi4 ='#Form.oi4#',
    	or3 ='#Form.or3#',
    	oi2 = '#Form.oi2#',
    	or12 = '#Form.or12#',
    	oo10='#Form.oo10#',
    	oo1 = '#Form.oo1#',
    	or9= '#Form.or9#',
    	oo8 = '#Form.oo8#',
    	oi1='#Form.oi1#',
    	oo6 ='#Form.oo6#',
    	or11 ='#Form.or11#'
WHERE Id=#URL.myId#
</cfquery>
</cfoutput>
</cfif>

<cfif Getroi.numpick IS 4 OR Getroi.numpick IS 5> 
<cfoutput><!--- correct --->
<cfquery name="Updaterat" datasource="roi">
  UPDATE #myTable#
  SET 	ri10 = '#Form.ri10#',
    	ro5 = '#Form.ro5#',
    	rr5='#Form.rr5#',
    	ri7 = '#Form.ri7#',
    	ro3= '#Form.ro3#',
     	ro7 = '#Form.ro7#',
    	ro1 = '#Form.ro1#',
    	rr9 = '#Form.rr9#',
    	ro8='#Form.ro8#',
    	ri1 = '#Form.ri1#',
    	ro6= '#Form.ro6#',
     	rr11 = '#Form.rr11#'
WHERE Id=#URL.myId#
</cfquery>
</cfoutput>
</cfif>

<table width="585" height="20" border="0" cellpadding="0" cellspacing="0">
  <tr bgcolor="#FFFFFF"> 
    <td colspan="8" valign="top"> 
      <h3><br>
      </h3></td>
  </tr>
  <tr> 
    <td width="73" height="19"><strong> &nbsp;</td>
    <td colspan="7"><strong> 
		<cfif Getroi.BigOrder EQ -1 >
      <input type="button" value="Close the Survey" name="close" onClick="window.close()">
	  <cfelse>
	 	<cfinclude template="../getcode.cfm">
	  </cfif>
      </strong>
	  </td>
  </tr>
</table>
