<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Untitled Document</title>
</head>
<!---
CREATE TABLE `abstractRIc` (
  `Id` int(11) NOT NULL auto_increment,
  `Code` varchar(3) default NULL,
  `Gender` varchar(1) default NULL,
  `ri_abstract` varchar(4) default NULL,
  `datecreated` timestamp NULL default NULL,
  `datechanged` timestamp NULL default CURRENT_TIMESTAMP on update CURRENT_TIMESTAMP,
  PRIMARY KEY  (`Id`)
)
--->
CREATE TABLE `bai` (
  `Id` int(11) NOT NULL auto_increment,<br />
  `Code` varchar(3) default NULL,<br />
  `Gender` varchar(1) default NULL,<br />
  `datecreated` timestamp NULL default NULL,<br />
  `datechanged` timestamp NULL default CURRENT_TIMESTAMP on update CURRENT_TIMESTAMP,<br />
  <cfloop from="1" to="21" index="i">
  `bai<cfoutput>#i#</cfoutput>`&nbsp;varchar(1) default null,<br />
  </cfloop>
  `Submit` varchar(100) default NULL<br />
  PRIMARY KEY  (`Id`)
)
<body>
</body>
</html>
