<cfquery name="Getroi" datasource="#mySource#">
 SELECT numpick FROM #myTable# WHERE Id=#URL.myId#
</cfquery>

<cfif Getroi.numpick IS 1 OR Getroi.numpick IS 5> 
<cfoutput>
<cfquery name="Updaterat" datasource="#mySource#">
  UPDATE #myTable#
 SET 	ii8='#Form.ii8#',
    	ii3 ='#Form.ii3#',
    	io10 ='#Form.io10#',
    	ii7 = '#Form.ii7#',
    	ir12 = '#Form.ir12#',
    	io2='#Form.io2#',
    	ii2 = '#Form.ii2#',
    	io12= '#Form.io12#',
    	ii4 = '#Form.ii4#',
    	ii9='#Form.ii9#',
    	ir5 ='#Form.ir5#',
    	ii5 ='#Form.ii5#'
WHERE Id=#URL.myId#
</cfquery>
</cfoutput>
</cfif> 

<cfif Getroi.numpick IS 2 OR Getroi.numpick IS 6>
<cfoutput>
<!--- CORRECT!!! --->
<cfquery name="Updaterat" datasource="#mySource#">
  UPDATE #myTable#
  SET 	ri8='#Form.ri8#',
    	ri3 ='#Form.ri3#',
    	ro10 ='#Form.ro10#',
    	ri7 = '#Form.ri7#',
    	rr12 = '#Form.rr12#',
    	ro2='#Form.ro2#',
    	ri2 = '#Form.ri2#',
    	ro12= '#Form.ro12#',
    	ri4 = '#Form.ri4#',
    	ri9='#Form.ri9#',
    	rr5 ='#Form.rr5#',
    	ri5 ='#Form.ri5#'
WHERE Id=#URL.myId#
</cfquery>
</cfoutput>
</cfif>

<cfquery name="OppRating" datasource="roi">
 SELECT * FROM survey WHERE Id=#URL.myId#
</cfquery>

<cfform action="frame_.cfm?num=#myIndex+1#&myTo=11o&myID=#myID#">
<center>
   <table width="585" border="0" cellpadding="0" cellspacing="0">
      <tr> 
        <td colspan="11" valign="top"> <h3 align="center"><strong>Please use the 
            following scale to describe your</strong></h3>
          <h3 align="center"><strong>OUGHT/SHOULD SELF</strong></h3>
          <h3 align="center"><strong>Yourself as OTHERS think you ought or should 
            be.</strong></h3>
          <div align="center">
            <input type="submit" value="Continue">
          </div></td>
      </tr>
      
    </table>
</center>
</cfform>
