<cfoutput>
<cfquery name="Updaterat" datasource="#mySource#">
  UPDATE #myTable#
  SET stai12 ='#Form.stai12#',
	  stai13 ='#Form.stai13#',
	  stai14 ='#Form.stai14#',
	  stai15 ='#Form.stai15#',
	  stai16 ='#Form.stai16#',
	  stai17 ='#Form.stai17#',
	  stai18 ='#Form.stai18#',
	  stai19 ='#Form.stai19#',
	  stai20 ='#Form.stai20#'
WHERE Id=#URL.myId#
</cfquery>
</cfoutput>

<table width="585" height="20" border="0" cellpadding="0" cellspacing="0">
  <tr bgcolor="#FFFFFF"> 
    <td colspan="8" valign="top"> 
      <h3><br>
        <br>
      </h3></td>
  </tr>
  <tr> 
    <td width="73" height="19"><strong> &nbsp;</td>
    <td colspan="7">
	<cfquery name="Getroi" datasource="#mySource#">
 		SELECT numpick, BigOrder FROM #myTable# WHERE Id=#URL.myId#
	</cfquery>
         <cfif Getroi.BigOrder EQ -1 >
      <input type="button" value="Close the Survey" name="close" onClick="window.close()">
	  <cfelse>
	  <cfinclude template="../getcode_stai.cfm">
	  </cfif>
	</td>
  </tr>
</table>
