<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<cfset myTable = URL.table>
<CFQUERY DATASOURCE="watson" NAME="ranks">
SELECT 
Id as PrimaryDatabaseKey,
Code as ParticipantCode,
datechanged as TakenDuring,
real1,
real2,
real3
real4,
real5,
real6,
opr1,
opr2,
opr3,
opr4,
opr5,
opr6,
ideal1,
ideal2,
ideal3,
ideal4,
ideal5,
ideal6,
opid1,
opid2,
opid3,
opid4,
opid5,
opid6,
ought1,
ought2,
ought3,
ought4,
ought5,
ought6,
opou1,
opou2,
opou3,
opou4,
opou5,
opou6 

FROM `riopc` WHERE datechanged > '2007-09-25'
</CFQUERY>
<body>
<cfset delim = ",">
	<cfset myDataBase = "ParticipantCode" & delim & "TakenOn" & delim & "Gender" & delim & "Order">
	
	<cfloop index="j" from="1" to="21">
		<cfset myDataBase = myDatabase & delim & "BDI" & #j#>
	</cfloop>
	<cfloop index="k" from="1" to="20">
		<cfset myDataBase = myDatabase & delim & "STAI" & #k#>
	</cfloop>
	

		<cfloop index="pcrs" from="1" to="36">
			<cfset myDataBase = myDatabase & delim & "PCRS" & #pcrs#>
		</cfloop>
		<cfloop index="pcrs" from="1" to="36">
			<cfset myDataBase = myDatabase & delim & "PCIS" & #pcrs#>
		</cfloop>
		<cfloop index="pcrs" from="1" to="36">	
			<cfset myDataBase = myDataBase & delim & "PCOS" & #pcrs#>
		</cfloop>
	
	
	<cfset myDataBase = myDataBase & ",Mother,Father,Sibling(s),Friends,Close Friend(s),Girlfriend,Boyfriend,Spouse,Peers,Society,Others"> --->

	<cfset myDataBase = myDataBase & ",ImpI1,ImpI2,ImpI3,ImpO1,ImpO2,ImpO3<BR>">

	
	
	<cfoutput>#myDataBase#<BR></cfoutput>
	
	  <CFOUTPUT QUERY="ranks"> 
	  #Code#,#datecreated#,#Gender#,#numpick#,
   	#q1#,#q2#,#q3#,#q4#,#q5#,#q6#,#q7#,#q8#,#q9#,#q10#,#q11#,#q12#,#q13#,#q14#,#q15#,#q16#,#q17#,#q18#,#q19#,#q20#,#q21#,#stai1#,#stai2#,#stai3#,#stai4#,#stai5#,#stai6#,#stai7#,#stai8#,#stai9#,#stai10#,#stai11#,#stai12#,#stai13#,#stai14#,#stai15#,#stai16#,#stai17#,#stai18#,#stai19#,#stai20#,
	#ranks.rr1#,#ranks.rr2#,#ranks.rr3#,#ranks.rr4#,#ranks.rr5#,#ranks.rr6#,#ranks.rr7#,#ranks.rr8#,#ranks.rr9#,#ranks.rr10#,#ranks.rr11#,#ranks.rr12#,
		#ranks.ri1#,#ranks.ri2#,#ranks.ri3#,#ranks.ri4#,#ranks.ri5#,#ranks.ri6#,#ranks.ri7#,#ranks.ri8#,#ranks.ri9#,#ranks.ri10#,#ranks.ri11#,#ranks.ri12#,
		#ranks.ro1#,#ranks.ro2#,#ranks.ro3#,#ranks.ro4#,#ranks.ro5#,#ranks.ro6#,#ranks.ro7#,#ranks.ro8#,#ranks.ro9#,#ranks.ro10#,#ranks.ro11#,#ranks.ro12#,
	#ranks.ir1#,#ranks.ir2#,#ranks.ir3#,#ranks.ir4#,#ranks.ir5#,#ranks.ir6#,#ranks.ir7#,#ranks.ir8#,#ranks.ir9#,#ranks.ir10#,#ranks.ir11#,#ranks.ir12#,
		#ranks.ii1#,#ranks.ii2#,#ranks.ii3#,#ranks.ii4#,#ranks.ii5#,#ranks.ii6#,#ranks.ii7#,#ranks.ii8#,#ranks.ii9#,#ranks.ii10#,#ranks.ii11#,#ranks.ii12#,
		#ranks.io1#,#ranks.io2#,#ranks.io3#,#ranks.io4#,#ranks.io5#,#ranks.io6#,#ranks.io7#,#ranks.io8#,#ranks.io9#,#ranks.io10#,#ranks.io11#,#ranks.io12#,
	#ranks.or1#,#ranks.or2#,#ranks.or3#,#ranks.or4#,#ranks.or5#,#ranks.or6#,#ranks.or7#,#ranks.or8#,#ranks.or9#,#ranks.or10#,#ranks.or11#,#ranks.or12#,
		#ranks.oi1#,#ranks.oi2#,#ranks.oi3#,#ranks.oi4#,#ranks.oi5#,#ranks.oi6#,#ranks.oi7#,#ranks.oi8#,#ranks.oi9#,#ranks.oi10#,#ranks.oi11#,#ranks.oi12#,
		#ranks.oo1#,#ranks.oo2#,#ranks.oo3#,#ranks.oo4#,#ranks.oo5#,#ranks.oo6#,#ranks.oo7#,#ranks.oo8#,#ranks.oo9#,#ranks.oo10#,#ranks.oo11#,#ranks.oo12#,#ranks.mother#,#ranks.father#,#ranks.sibling#,#ranks.friend#,#ranks.closefriend#,#ranks.Girlfriend#,#ranks.Boyfriend#,#ranks.Spouse#,#ranks.Peers#,#ranks.Society#,#ranks.Others#,#ranks.is1#,#ranks.is2#,#ranks.is3#,#ranks.os1#,#ranks.os2#,#ranks.os3#<br>
	</CFOUTPUT>
</body>
</html>