<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<CFQUERY DATASOURCE="roi" NAME="ranks">
SELECT *
FROM survey ORDER BY Id
</CFQUERY>
<body>
<cfset delim = ",">
	<cfset myDataBase = "ParticipantCode" & delim & "TakenOn" & delim & "Gender" & delim & "Order" & delim & "ID">
	
	<cfloop index="j" from="1" to="21">
		<cfset myDataBase = myDatabase & delim & "BDI" & #j#>
	</cfloop>
	<cfloop index="k" from="1" to="20">
		<cfset myDataBase = myDatabase & delim & "STAI" & #k#>
	</cfloop>
	<cfloop index="pcrs" from="1" to="36">
		<cfset myDataBase = myDatabase & delim & "PCRS" & #pcrs#>
	</cfloop>
	<cfloop index="pcrs" from="1" to="36">
		<cfset myDataBase = myDatabase & delim & "PCIS" & #pcrs#>
	</cfloop>
	<cfloop index="pcrs" from="1" to="36">	
		<cfset myDataBase = myDataBase & delim & "PCOS" & #pcrs#>
	</cfloop>
	<cfloop index="pcrs" from="1" to="28">
		<cfset myDataBase = myDataBase & delim &"CCRS" & #pcrs#>
	</cfloop>
	<cfloop index="pcrs" from="1" to="28">
		<cfset myDataBase = myDataBase & delim & "CCOS" & #pcrs#>
	</cfloop>
	<cfloop index="pcrs" from="1" to="28">
		<cfset myDataBase = myDataBase & delim & "CCIS" & #pcrs#>
	</cfloop>
	
	<cfset myDataBase = myDataBase & ",Mother,Father,Sibling(s),Friends,Close Friend(s),Girlfriend,Boyfriend,Spouse,Peers,Society,Others">
	<cfset myDataBase = myDataBase & ",AMRI,AMRO<BR>">
	<!--- <cfset myDataBase = myDataBase & ",ImpI1,ImpI2,ImpI3,ImpO1,ImpO2,ImpO3<BR>"> --->
	
	
	<cfoutput>#myDataBase#</cfoutput>
	
	  <CFOUTPUT QUERY="ranks"> 
	  #Code#,#TakenOn#,#Gender#,#BigOrder#,#Id#,
   	#q1#,#q2#,#q3#,#q4#,#q5#,#q6#,#q7#,#q8#,#q9#,#q10#,#q11#,#q12#,#q13#,#q14#,#q15#,#q16#,#q17#,#q18#,#q19#,#q20#,#q21#,
	#stai1#,#stai2#,#stai3#,#stai4#,#stai5#,#stai6#,#stai7#,#stai8#,#stai9#,#stai10#,#stai11#,#stai12#,#stai13#,#stai14#,#stai15#,#stai16#,#stai17#,#stai18#,#stai19#,#stai20#,
	
	#ranks.rr1#,#ranks.rr2#,#ranks.rr3#,#ranks.rr4#,#ranks.rr5#,#ranks.rr6#,#ranks.rr7#,#ranks.rr8#,#ranks.rr9#,#ranks.rr10#,#ranks.rr11#,#ranks.rr12#,
		#ranks.ri1#,#ranks.ri2#,#ranks.ri3#,#ranks.ri4#,#ranks.ri5#,#ranks.ri6#,#ranks.ri7#,#ranks.ri8#,#ranks.ri9#,#ranks.ri10#,#ranks.ri11#,#ranks.ri12#,
		#ranks.ro1#,#ranks.ro2#,#ranks.ro3#,#ranks.ro4#,#ranks.ro5#,#ranks.ro6#,#ranks.ro7#,#ranks.ro8#,#ranks.ro9#,#ranks.ro10#,#ranks.ro11#,#ranks.ro12#,
	#ranks.ir1#,#ranks.ir2#,#ranks.ir3#,#ranks.ir4#,#ranks.ir5#,#ranks.ir6#,#ranks.ir7#,#ranks.ir8#,#ranks.ir9#,#ranks.ir10#,#ranks.ir11#,#ranks.ir12#,
		#ranks.ii1#,#ranks.ii2#,#ranks.ii3#,#ranks.ii4#,#ranks.ii5#,#ranks.ii6#,#ranks.ii7#,#ranks.ii8#,#ranks.ii9#,#ranks.ii10#,#ranks.ii11#,#ranks.ii12#,
		#ranks.io1#,#ranks.io2#,#ranks.io3#,#ranks.io4#,#ranks.io5#,#ranks.io6#,#ranks.io7#,#ranks.io8#,#ranks.io9#,#ranks.io10#,#ranks.io11#,#ranks.io12#,
	#ranks.or1#,#ranks.or2#,#ranks.or3#,#ranks.or4#,#ranks.or5#,#ranks.or6#,#ranks.or7#,#ranks.or8#,#ranks.or9#,#ranks.or10#,#ranks.or11#,#ranks.or12#,
		#ranks.oi1#,#ranks.oi2#,#ranks.oi3#,#ranks.oi4#,#ranks.oi5#,#ranks.oi6#,#ranks.oi7#,#ranks.oi8#,#ranks.oi9#,#ranks.oi10#,#ranks.oi11#,#ranks.oi12#,
		#ranks.oo1#,#ranks.oo2#,#ranks.oo3#,#ranks.oo4#,#ranks.oo5#,#ranks.oo6#,#ranks.oo7#,#ranks.oo8#,#ranks.oo9#,#ranks.oo10#,#ranks.oo11#,#ranks.oo12#,
	 
	<cfquery datasource="roi" name="ranks2">
	Select * from realrate where FK = #ranks.Id#</cfquery>
	
	#ranks2.rr1#,#ranks2.rr2#,#ranks2.rr3#,#ranks2.rr4#,#ranks2.rr5#,#ranks2.rr6#,#ranks2.rr7#,#ranks2.rr8#,#ranks2.rr9#,#ranks2.rr10#,#ranks2.rr11#,#ranks2.rr12#,
		#ranks2.rr13#,#ranks2.rr14#,#ranks2.rr15#,#ranks2.rr16#,#ranks2.rr17#,#ranks2.rr18#,#ranks2.rr19#,#ranks2.rr20#,#ranks2.rr21#,#ranks2.rr22#,#ranks2.rr23#,#ranks2.rr24#,
		#ranks2.rr25#,#ranks2.rr26#,#ranks2.rr27#,#ranks2.rr28#,
	#ranks2.or1#,#ranks2.or2#,#ranks2.or3#,#ranks2.or4#,#ranks2.or5#,#ranks2.or6#,#ranks2.or7#,#ranks2.or8#,#ranks2.or9#,#ranks2.or10#,#ranks2.or11#,#ranks2.or12#,
		#ranks2.or13#,#ranks2.or14#,#ranks2.or15#,#ranks2.or16#,#ranks2.or17#,#ranks2.or18#,#ranks2.or19#,#ranks2.or20#,#ranks2.or21#,#ranks2.or22#,#ranks2.or23#,#ranks2.or24#,
		#ranks2.or25#,#ranks2.or26#,#ranks2.or27#,#ranks2.or28#,
	#ranks2.ir1#,#ranks2.ir2#,#ranks2.ir3#,#ranks2.ir4#,#ranks2.ir5#,#ranks2.ir6#,#ranks2.ir7#,#ranks2.ir8#,#ranks2.ir9#,#ranks2.ir10#,#ranks2.ir11#,#ranks2.ir12#,
		#ranks2.ir13#,#ranks2.ir14#,#ranks2.ir15#,#ranks2.ir16#,#ranks2.ir17#,#ranks2.ir18#,#ranks2.ir19#,#ranks2.ir20#,#ranks2.ir21#,#ranks2.ir22#,#ranks2.ir23#,#ranks2.ir24#,
		#ranks2.ir25#,#ranks2.ir26#,#ranks2.ir27#,#ranks2.ir28#,
			
	#ranks.mother#,#ranks.father#,#ranks.sibling#,#ranks.friend#,#ranks.closefriend#,#ranks.Girlfriend#,#ranks.Boyfriend#,#ranks.Spouse#,#ranks.Peers#,#ranks.Society#,#ranks.Others#,
 	#ranks.ri_abstract#,#ranks.ro_abstract#<BR>
	<!---  #ranks.is1#,#ranks.is2#,#ranks.is3#,#ranks.os1#,#ranks.os2#,#ranks.os3#<BR>--->
  </CFOUTPUT> 
  
  <CFQUERY DATASOURCE="roi" NAME="append">
SELECT Id, is1, is2, is3, os1, os2, os3
FROM survey ORDER BY Id
</CFQUERY>
<cfoutput>
<cfset myDataBase = "ID,ImpI1,ImpI2,ImpI3,ImpO1,ImpO2,ImpO3<BR>"> 
<BR>
<BR>
#myDataBase#
</cfoutput>
<cfoutput query="append">
#Id#,#is1#,#is2#,#is3#,#os1#,#os2#,#os3#<BR>
</cfoutput>
</body>
</html>