<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<cfset myTable = URL.table>
<CFQUERY DATASOURCE="watson" NAME="ranks">
SELECT *
FROM #myTable# ORDER BY Id
</CFQUERY>
<body>
<cfset delim = ",">
	<cfset myDataBase = "ParticipantCode" & delim & "TakenOn" & delim & "Gender" & delim & "Order">
	<!---
	<cfloop index="j" from="1" to="21">
		<cfset myDataBase = myDatabase & delim & "BDI" & #j#>
	</cfloop>
	<cfloop index="k" from="1" to="20">
		<cfset myDataBase = myDatabase & delim & "STAI" & #k#>
	</cfloop>
	--->
	<cfif #myTable# EQ "riopc">
		<cfloop index="pcrs" from="1" to="36">
			<cfset myDataBase = myDatabase & delim & "PCRS" & #pcrs#>
		</cfloop>
		<cfloop index="pcrs" from="1" to="36">
			<cfset myDataBase = myDatabase & delim & "PCIS" & #pcrs#>
		</cfloop>
		<cfloop index="pcrs" from="1" to="36">	
			<cfset myDataBase = myDataBase & delim & "PCOS" & #pcrs#>
		</cfloop>
	<cfelse>
		<cfloop index="pcrs" from="1" to="28">
			<cfset myDataBase = myDataBase & delim &"CCRS" & #pcrs#>
		</cfloop>
		<cfloop index="pcrs" from="1" to="28">
			<cfset myDataBase = myDataBase & delim & "CCOS" & #pcrs#>
		</cfloop>
		<cfloop index="pcrs" from="1" to="28">
			<cfset myDataBase = myDataBase & delim & "CCIS" & #pcrs#>
		</cfloop>
		
	</cfif>
	<!---
	<cfset myDataBase = myDataBase & ",Mother,Father,Sibling(s),Friends,Close Friend(s),Girlfriend,Boyfriend,Spouse,Peers,Society,Others"> --->
	<!---
	<cfset myDataBase = myDataBase & ",AMRI,AMRO,ImpI1,ImpI2,ImpI3,ImpO1,ImpO2,ImpO3<BR>">
	--->
	<!--- <cfset myDataBase = myDataBase & ",ImpI1,ImpI2,ImpI3,ImpO1,ImpO2,ImpO3<BR>"> --->
	
	
	<cfoutput>#myDataBase#<BR></cfoutput>
	<cfif #myTable# EQ "riopc">
	  <CFOUTPUT QUERY="ranks"> 
	  #Code#,#datecreated#,#Gender#,#numpick#,
   	<!---#q1#,#q2#,#q3#,#q4#,#q5#,#q6#,#q7#,#q8#,#q9#,#q10#,#q11#,#q12#,#q13#,#q14#,#q15#,#q16#,#q17#,#q18#,#q19#,#q20#,#q21#,
	#stai1#,#stai2#,#stai3#,#stai4#,#stai5#,#stai6#,#stai7#,#stai8#,#stai9#,#stai10#,#stai11#,#stai12#,#stai13#,#stai14#,#stai15#,#stai16#,#stai17#,#stai18#,#stai19#,#stai20#,
	--->
	#ranks.rr1#,#ranks.rr2#,#ranks.rr3#,#ranks.rr4#,#ranks.rr5#,#ranks.rr6#,#ranks.rr7#,#ranks.rr8#,#ranks.rr9#,#ranks.rr10#,#ranks.rr11#,#ranks.rr12#,
		#ranks.ri1#,#ranks.ri2#,#ranks.ri3#,#ranks.ri4#,#ranks.ri5#,#ranks.ri6#,#ranks.ri7#,#ranks.ri8#,#ranks.ri9#,#ranks.ri10#,#ranks.ri11#,#ranks.ri12#,
		#ranks.ro1#,#ranks.ro2#,#ranks.ro3#,#ranks.ro4#,#ranks.ro5#,#ranks.ro6#,#ranks.ro7#,#ranks.ro8#,#ranks.ro9#,#ranks.ro10#,#ranks.ro11#,#ranks.ro12#,
	#ranks.ir1#,#ranks.ir2#,#ranks.ir3#,#ranks.ir4#,#ranks.ir5#,#ranks.ir6#,#ranks.ir7#,#ranks.ir8#,#ranks.ir9#,#ranks.ir10#,#ranks.ir11#,#ranks.ir12#,
		#ranks.ii1#,#ranks.ii2#,#ranks.ii3#,#ranks.ii4#,#ranks.ii5#,#ranks.ii6#,#ranks.ii7#,#ranks.ii8#,#ranks.ii9#,#ranks.ii10#,#ranks.ii11#,#ranks.ii12#,
		#ranks.io1#,#ranks.io2#,#ranks.io3#,#ranks.io4#,#ranks.io5#,#ranks.io6#,#ranks.io7#,#ranks.io8#,#ranks.io9#,#ranks.io10#,#ranks.io11#,#ranks.io12#,
	#ranks.or1#,#ranks.or2#,#ranks.or3#,#ranks.or4#,#ranks.or5#,#ranks.or6#,#ranks.or7#,#ranks.or8#,#ranks.or9#,#ranks.or10#,#ranks.or11#,#ranks.or12#,
		#ranks.oi1#,#ranks.oi2#,#ranks.oi3#,#ranks.oi4#,#ranks.oi5#,#ranks.oi6#,#ranks.oi7#,#ranks.oi8#,#ranks.oi9#,#ranks.oi10#,#ranks.oi11#,#ranks.oi12#,
		#ranks.oo1#,#ranks.oo2#,#ranks.oo3#,#ranks.oo4#,#ranks.oo5#,#ranks.oo6#,#ranks.oo7#,#ranks.oo8#,#ranks.oo9#,#ranks.oo10#,#ranks.oo11#,#ranks.oo12#
		<BR>
	</CFOUTPUT>
	<cfelse>
	<cfoutput query="ranks">
	#Code#,#datecreated#,#Gender#,#numpick#,	
		
	#ranks.rr1#,#ranks.rr2#,#ranks.rr3#,#ranks.rr4#,#ranks.rr5#,#ranks.rr6#,#ranks.rr7#,#ranks.rr8#,#ranks.rr9#,#ranks.rr10#,#ranks.rr11#,#ranks.rr12#,
		#ranks.rr13#,#ranks.rr14#,#ranks.rr15#,#ranks.rr16#,#ranks.rr17#,#ranks.rr18#,#ranks.rr19#,#ranks.rr20#,#ranks.rr21#,#ranks.rr22#,#ranks.rr23#,#ranks.rr24#,
		#ranks.rr25#,#ranks.rr26#,#ranks.rr27#,#ranks.rr28#,
	#ranks.or1#,#ranks.or2#,#ranks.or3#,#ranks.or4#,#ranks.or5#,#ranks.or6#,#ranks.or7#,#ranks.or8#,#ranks.or9#,#ranks.or10#,#ranks.or11#,#ranks.or12#,
		#ranks.or13#,#ranks.or14#,#ranks.or15#,#ranks.or16#,#ranks.or17#,#ranks.or18#,#ranks.or19#,#ranks.or20#,#ranks.or21#,#ranks.or22#,#ranks.or23#,#ranks.or24#,
		#ranks.or25#,#ranks.or26#,#ranks.or27#,#ranks.or28#,
	#ranks.ir1#,#ranks.ir2#,#ranks.ir3#,#ranks.ir4#,#ranks.ir5#,#ranks.ir6#,#ranks.ir7#,#ranks.ir8#,#ranks.ir9#,#ranks.ir10#,#ranks.ir11#,#ranks.ir12#,
		#ranks.ir13#,#ranks.ir14#,#ranks.ir15#,#ranks.ir16#,#ranks.ir17#,#ranks.ir18#,#ranks.ir19#,#ranks.ir20#,#ranks.ir21#,#ranks.ir22#,#ranks.ir23#,#ranks.ir24#,
		#ranks.ir25#,#ranks.ir26#,#ranks.ir27#,#ranks.ir28#
		<BR>
		</cfoutput>
	</cfif>		
	<!---#ranks.mother#,#ranks.father#,#ranks.sibling#,#ranks.friend#,#ranks.closefriend#,#ranks.Girlfriend#,#ranks.Boyfriend#,#ranks.Spouse#,#ranks.Peers#,#ranks.Society#,#ranks.Others#,
 	#ranks.ri_abstract#,#ranks.ro_abstract#,#ranks.is1#,#ranks.is2#,#ranks.is3#,#ranks.os1#,#ranks.os2#,#ranks.os3#
	--->
	
	<!---  #ranks.is1#,#ranks.is2#,#ranks.is3#,#ranks.os1#,#ranks.os2#,#ranks.os3#<BR>--->
 
</body>
</html>