<cftry>
	<cfif StructKeyExists(GetHttpRequestData().headers, "X-Forwarded-For")>
		<cfset request.remote_addr = GetHttpRequestData().headers["X-Forwarded-For"]>
	<cfelseif StructKeyExists(GetHttpRequestData().headers, "CLIENT-IP")>
		<cfset request.remote_addr = GetHttpRequestData().headers["CLIENT-IP"]>
	<cfelse>
		<cfset request.remote_addr = CGI.REMOTE_ADDR>
	</cfif>
<cfcatch type="any">
</cfcatch>
</cftry>
<p>
Your are at ip: [<cfoutput>#request.remote_addr#</cfoutput>]
</p>
<cfdump var="#CGI#">
<cfdump var="#Client#">
<cfdump var="#Server#">
<cfdump var="#GetHttpRequestData().headers#">
