<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<CFQUERY DATASOURCE="watson" NAME="demog">
SELECT *
FROM demographic ORDER BY Id
</CFQUERY>
<body>
<cfset delim = ",">
		Id,TakenOn,Age,Code,Gender,RaceOther,BirthDate,Race,Counseling,Depression,Anxiety,PastCounseling<br>
   <CFOUTPUT QUERY="demog"> 
	  #Id#,#TakenOn#,#Age#,#Code#,#Gender#,#Replace(demog.RaceOther, delim, "[comma]")#,#BirthDate#,#Race#,#Counseling#,#Depression#,#Anxiety#,#PastCounseling#<BR>
   </CFOUTPUT> 
</body>
</html>
