<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
</head>

<body>
<cfmail to="jackwarner@wmalumni.com"
	from="barney@bedrock.com"
	subject="Welcome to Bedrock"
	type="text">
	DearJack

	We, here at Bedrock, would like to thank you for joining.

	Best wishes
	Barney
</cfmail>
<cfoutput>
    <p>Thank you Jack for registering.
    We have just sent you an email.</p>
</cfoutput>

</body>
</html>
