<cfquery name="is" datasource="#mySource#">
<cfset mUp = myIndex - 1>
<!--- From.qX where x should be one less than current file Y.cfm --->
<cfset myUpdate = "os" & mUp>
UPDATE #myTable#
	SET os1='#Form.os1#', 
		os2='#Form.os2#', 
		os3='#Form.os3#'
	WHERE ID = #myID#
</cfquery>
<center>
  <table width="585" border="0" cellpadding="0" cellspacing="0">
    <tr> 
      <td><h3>&nbsp;</h3></td>
    </tr>
    <tr valign="top"> 
      <td height="43"> <blockquote>
       <strong>Thank you for completing this questionnaire.<BR>      
      <input type="button" value="Close the Survey" name="close" onClick="window.close()">
        </blockquote></td>
    </tr>
  </table>
</center>

