
<cfquery name="is" datasource="roi">
<cfset mUp = myIndex - 1>
<!--- From.qX where x should be one less than current file Y.cfm --->
<cfset myUpdate = "is" & mUp>
UPDATE survey
	SET is1='#Form.is1#', 
		is2='#Form.is2#', 
		is3='#Form.is3#'
	WHERE ID = #myID#
</cfquery>
<center>
  <table width="585" border="0" cellpadding="0" cellspacing="0">
    <tr> 
      <td><h3>&nbsp;</h3></td>
    </tr>
    <tr valign="top"> 
      <td height="43"> <blockquote>
	  <cfquery name="Getroi" datasource="roi">
 		SELECT numpick, BigOrder FROM survey WHERE Id=#URL.myId#
	</cfquery>
         <cfif Getroi.BigOrder EQ -1 >
      <input type="button" value="Close the Survey" name="close" onClick="window.close()">
	  <cfelse>
	  	<cfif Getroi.numpick EQ 1 OR Getroi.numpick EQ 5 OR Getroi.numpick EQ 6>
			<cfset myLink = "Ought">
		
		<cfelse>
			<cfset myLink = "RefPerson">
		</cfif>
            <strong>Thank you for completing this questionnaire.<BR>
            Please click <a href="../<cfoutput>#myLink#</cfoutput>/frame.cfm?num=2&myTo=1&myID=<cfoutput>#URL.myID#</cfoutput>&mySkip=no">here</a> 
            to continue to the next one. </strong> 
          </cfif>
        </blockquote></td>
    </tr>
  </table>
</center>

