
<cfoutput>
<cfquery name="Updaterat" datasource="#mySource#">
  UPDATE #myTable#
  SET stai1 ='#Form.stai1#',
	  stai2 ='#Form.stai2#',
	  stai3 ='#Form.stai3#',
	  stai4 ='#Form.stai4#',
	  stai5 ='#Form.stai5#',
	  stai6 ='#Form.stai6#',
	  stai7 ='#Form.stai7#',
	  stai8 ='#Form.stai8#',
	  stai9 ='#Form.stai9#',
	  stai10 ='#Form.stai10#',
	  stai11 ='#Form.stai11#'
WHERE Id=#URL.myId#
</cfquery>
</cfoutput>

<cfform action="frame.cfm?num=#myIndex+1#&myTo=end&myId=#myID#" method="post">
<center>
    <table width="585" border="0" cellpadding="0" cellspacing="0">
      <tr> 
        <td width="371">&nbsp;</td>
        <td colspan="8"><div align="center"><img src="stai.gif" width="211" height="106"></div></td>
      </tr>
      <tr bgcolor="#FFFFFF"> 
        <td width="371" rowspan="2" valign="middle">12. I lack self-confidence.</td>
        <td width="56" valign="top">&nbsp;</td>
        <td width="41" valign="top"> <div align="center"><font size="2">1</font></div></td>
        <td width="38" valign="top"> <div align="center"><font size="2">2</font></div></td>
        <td width="39" valign="top"> <div align="center"><font size="2">3</font></div></td>
        <td width="40" colspan="4" valign="top"> <div align="center"><font size="2">4</font></div>
          <div align="center"></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="56" valign="top" bgcolor="#FFFFFF">&nbsp;</td>
        <td width="41" valign="top" bgcolor="#FFFFFF"> <div align="center"> <font size="2"> 
            <input type="radio" name="stai12" value="1">
            </font></div></td>
        <td width="38" valign="top" bgcolor="#FFFFFF"> <div align="center"> <font size="2"> 
            <input type="radio" name="stai12" value="2">
            </font></div></td>
        <td width="39" valign="top" bgcolor="#FFFFFF"> <div align="center"> <font size="2"> 
            <input type="radio" name="stai12" value="3">
            </font></div></td>
        <td colspan="4" valign="top" bgcolor="#FFFFFF"> <div align="center"> <font size="2"> 
            <input type="radio" name="stai12" value="4">
            <input type=hidden name="stai12_required" value= "You must enter a rating.">
            </font></div>
          <div align="center"> <font size="2"> </font></div>
          <div align="center"> <font size="2"> </font></div>
          <div align="center"> <font size="2"> </font></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="371" rowspan="2" valign="middle">13. I feel secure.</td>
        <td width="56" valign="top">&nbsp;</td>
        <td width="41" valign="top"> <div align="center"><font size="2">1</font></div></td>
        <td width="38" valign="top"> <div align="center"><font size="2">2</font></div></td>
        <td width="39" valign="top"> <div align="center"><font size="2">3</font></div></td>
        <td width="40" colspan="4" valign="top"> <div align="center"><font size="2">4</font></div>
          <div align="center"></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="56" valign="top">&nbsp;</td>
        <td width="41" valign="top"> <div align="center"> <font size="2"> 
            <input type="radio" name="stai13" value="1">
            </font></div></td>
        <td width="38" valign="top"> <div align="center"> <font size="2"> 
            <input type="radio" name="stai13" value="2">
            </font></div></td>
        <td width="39" valign="top"> <div align="center"> <font size="2"> 
            <input type="radio" name="stai13" value="3">
            </font></div></td>
        <td colspan="4" valign="top"> <div align="center"> <font size="2"> 
            <input type="radio" name="stai13" value="4">
            <input type=hidden name="stai13_required" value= "You must enter a rating.">
            </font></div>
          <div align="center"> <font size="2"> </font></div>
          <div align="center"> <font size="2"> </font></div>
          <div align="center"> <font size="2"> </font></div></td>
      </tr>
      <tr bgcolor="#FFFFFF"> 
        <td width="371" rowspan="2" valign="middle">14. I make decisions easily.</td>
        <td width="56" valign="top">&nbsp;</td>
        <td width="41" valign="top"> <div align="center"><font size="2">1</font></div></td>
        <td width="38" valign="top"> <div align="center"><font size="2">2</font></div></td>
        <td width="39" valign="top"> <div align="center"><font size="2">3</font></div></td>
        <td width="40" colspan="4" valign="top"> <div align="center"><font size="2">4</font></div>
          <div align="center"></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="56" valign="top" bgcolor="#FFFFFF">&nbsp;</td>
        <td width="41" valign="top" bgcolor="#FFFFFF"> <div align="center"> <font size="2"> 
            <input type="radio" name="stai14" value="1">
            </font></div></td>
        <td width="38" valign="top" bgcolor="#FFFFFF"> <div align="center"> <font size="2"> 
            <input type="radio" name="stai14" value="2">
            </font></div></td>
        <td width="39" valign="top" bgcolor="#FFFFFF"> <div align="center"> <font size="2"> 
            <input type="radio" name="stai14" value="3">
            </font></div></td>
        <td colspan="4" valign="top" bgcolor="#FFFFFF"> <div align="center"> <font size="2"> 
            <input type="radio" name="stai14" value="4">
            <input type=hidden name="stai14_required" value= "You must enter a rating.">
            </font></div>
          <div align="center"> <font size="2"> </font></div>
          <div align="center"> <font size="2"> </font></div>
          <div align="center"> <font size="2"> </font></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="371" rowspan="2" valign="middle">15. I feel inadequate.</td>
        <td width="56" valign="top">&nbsp;</td>
        <td width="41" valign="top"> <div align="center"><font size="2">1</font></div></td>
        <td width="38" valign="top"> <div align="center"><font size="2">2</font></div></td>
        <td width="39" valign="top"> <div align="center"><font size="2">3</font></div></td>
        <td width="40" colspan="4" valign="top"> <div align="center"><font size="2">4</font></div>
          <div align="center"></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="56" valign="top">&nbsp;</td>
        <td width="41" valign="top"> <div align="center"> <font size="2"> 
            <input type="radio" name="stai15" value="1">
            </font></div></td>
        <td width="38" valign="top"> <div align="center"> <font size="2"> 
            <input type="radio" name="stai15" value="2">
            </font></div></td>
        <td width="39" valign="top"> <div align="center"> <font size="2"> 
            <input type="radio" name="stai15" value="3">
            </font></div></td>
        <td colspan="4" valign="top"> <div align="center"> <font size="2"> 
            <input type="radio" name="stai15" value="4">
            <input type=hidden name="stai15_required" value= "You must enter a rating.">
            </font></div>
          <div align="center"> <font size="2"> </font></div>
          <div align="center"> <font size="2"> </font></div>
          <div align="center"> <font size="2"> </font></div></td>
      </tr>
      <tr bgcolor="#FFFFFF"> 
        <td width="371" rowspan="2" valign="middle">16. I am content.</td>
        <td width="56" valign="top">&nbsp;</td>
        <td width="41" valign="top"> <div align="center"><font size="2">1</font></div></td>
        <td width="38" valign="top"> <div align="center"><font size="2">2</font></div></td>
        <td width="39" valign="top"> <div align="center"><font size="2">3</font></div></td>
        <td width="40" colspan="4" valign="top"> <div align="center"><font size="2">4</font></div>
          <div align="center"></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="56" valign="top" bgcolor="#FFFFFF">&nbsp;</td>
        <td width="41" valign="top" bgcolor="#FFFFFF"> <div align="center"> <font size="2"> 
            <input type="radio" name="stai16" value="1">
            </font></div></td>
        <td width="38" valign="top" bgcolor="#FFFFFF"> <div align="center"> <font size="2"> 
            <input type="radio" name="stai16" value="2">
            </font></div></td>
        <td width="39" valign="top" bgcolor="#FFFFFF"> <div align="center"> <font size="2"> 
            <input type="radio" name="stai16" value="3">
            </font></div></td>
        <td colspan="4" valign="top" bgcolor="#FFFFFF"> <div align="center"> <font size="2"> 
            <input type="radio" name="stai16" value="4">
            <input type=hidden name="stai16_required" value= "You must enter a rating.">
            </font></div>
          <div align="center"> <font size="2"> </font></div>
          <div align="center"> <font size="2"> </font></div>
          <div align="center"> <font size="2"> </font></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="371" rowspan="2" valign="middle">17. Some unimportant thought 
          runs through my mind and bothers me.</td>
        <td width="56" valign="top">&nbsp;</td>
        <td width="41" valign="top"> <div align="center"><font size="2">1</font></div></td>
        <td width="38" valign="top"> <div align="center"><font size="2">2</font></div></td>
        <td width="39" valign="top"> <div align="center"><font size="2">3</font></div></td>
        <td width="40" colspan="4" valign="top"> <div align="center"><font size="2">4</font></div>
          <div align="center"></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="56" valign="top">&nbsp;</td>
        <td width="41" valign="top"> <div align="center"> <font size="2"> 
            <input type="radio" name="stai17" value="1">
            </font></div></td>
        <td width="38" valign="top"> <div align="center"> <font size="2"> 
            <input type="radio" name="stai17" value="2">
            </font></div></td>
        <td width="39" valign="top"> <div align="center"> <font size="2"> 
            <input type="radio" name="stai17" value="3">
            </font></div></td>
        <td colspan="4" valign="top"> <div align="center"> <font size="2"> 
            <input type="radio" name="stai17" value="4">
            <input type=hidden name="stai17_required" value= "You must enter a rating.">
            </font></div>
          <div align="center"> <font size="2"> </font></div>
          <div align="center"> <font size="2"> </font></div>
          <div align="center"> <font size="2"> </font></div></td>
      </tr>
      <tr bgcolor="#FFFFFF"> 
        <td width="371" rowspan="2" valign="middle">18. I take disappointments 
          so keenly that I can't put them out of my mind.</td>
        <td width="56" valign="top">&nbsp;</td>
        <td width="41" valign="middle"> <div align="center"><font size="2">1</font></div></td>
        <td width="38" valign="middle"> <div align="center"><font size="2">2</font></div></td>
        <td width="39" valign="middle"> <div align="center"><font size="2">3</font></div></td>
        <td width="40" colspan="4" valign="middle"> <div align="center"><font size="2">4</font></div>
          <div align="center"></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="56" valign="top" bgcolor="#FFFFFF">&nbsp;</td>
        <td width="41" valign="top" bgcolor="#FFFFFF"> <div align="center"> <font size="2"> 
            <input type="radio" name="stai18" value="1">
            </font></div></td>
        <td width="38" valign="top" bgcolor="#FFFFFF"> <div align="center"> <font size="2"> 
            <input type="radio" name="stai18" value="2">
            </font></div></td>
        <td width="39" valign="top" bgcolor="#FFFFFF"> <div align="center"> <font size="2"> 
            <input type="radio" name="stai18" value="3">
            </font></div></td>
        <td colspan="4" valign="top" bgcolor="#FFFFFF"> <div align="center"> <font size="2"> 
            <input type="radio" name="stai18" value="4">
            <input type=hidden name="stai18_required" value= "You must enter a rating.">
            </font></div>
          <div align="center"> <font size="2"> </font></div>
          <div align="center"> <font size="2"> </font></div>
          <div align="center"> <font size="2"> </font></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="371" rowspan="2" valign="middle">19. I am a steady person.</td>
        <td width="56" valign="top">&nbsp;</td>
        <td width="41" valign="middle"> <div align="center"><font size="2">1</font></div></td>
        <td width="38" valign="middle"> <div align="center"><font size="2">2</font></div></td>
        <td width="39" valign="middle"> <div align="center"><font size="2">3</font></div></td>
        <td width="40" colspan="4" valign="middle"> <div align="center"><font size="2">4</font></div>
          <div align="center"></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="56" valign="top">&nbsp;</td>
        <td width="41" valign="top"> <div align="center"> <font size="2"> 
            <input type="radio" name="stai19" value="1">
            </font></div></td>
        <td width="38" valign="top"> <div align="center"> <font size="2"> 
            <input type="radio" name="stai19" value="2">
            </font></div></td>
        <td width="39" valign="top"> <div align="center"> <font size="2"> 
            <input type="radio" name="stai19" value="3">
            </font></div></td>
        <td colspan="4" valign="top"> <div align="center"> <font size="2"> 
            <input type="radio" name="stai19" value="4">
            <input type=hidden name="stai19_required" value= "You must enter a rating.">
            </font></div>
          <div align="center"> <font size="2"> </font></div>
          <div align="center"> <font size="2"> </font></div>
          <div align="center"> <font size="2"> </font></div></td>
      </tr>
      <tr bgcolor="#FFFFFF"> 
        <td width="371" rowspan="2" valign="middle">20. I get in a state of tension 
          or turmoil as I think over my recent concerns and interests.</td>
        <td width="56" valign="top">&nbsp;</td>
        <td width="41" valign="top"> <div align="center"><font size="2">1</font></div></td>
        <td width="38" valign="top"> <div align="center"><font size="2">2</font></div></td>
        <td width="39" valign="top"> <div align="center"><font size="2">3</font></div></td>
        <td width="40" colspan="4" valign="top"> <div align="center"><font size="2">4</font></div>
          <div align="center"></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="56" valign="top" bgcolor="#FFFFFF">&nbsp;</td>
        <td width="41" valign="top" bgcolor="#FFFFFF"> <div align="center"> <font size="2"> 
            <input type="radio" name="stai20" value="1">
            </font></div></td>
        <td width="38" valign="top" bgcolor="#FFFFFF"> <div align="center"> <font size="2"> 
            <input type="radio" name="stai20" value="2">
            </font></div></td>
        <td width="39" valign="top" bgcolor="#FFFFFF"> <div align="center"> <font size="2"> 
            <input type="radio" name="stai20" value="3">
            </font></div></td>
        <td colspan="4" valign="top" bgcolor="#FFFFFF"> <div align="center"> <font size="2"> 
            <input type="radio" name="stai20" value="4">
            <input type=hidden name="stai20_required" value= "You must enter a rating.">
            </font></div>
          <div align="center"> <font size="2"> </font></div>
          <div align="center"> <font size="2"> </font></div>
          <div align="center"> <font size="2"> </font></div></td>
      </tr>
      
      <tr valign="middle"> 
        <td> 
          <blockquote> 
            <p><div align="left"> <cfinclude template="cright.cfm"><br></p>
            </blockquote></td>
        <td colspan="8"> 
          <input type="submit" name="Submit" value="Continue"></td>
      </tr>
    </table>
</center>
</cfform>
