<cfoutput>
<cfquery name="Updaterat" datasource="#mySource#">
  UPDATE #myTable#
  SET stai12 ='#Form.stai12#',
	  stai13 ='#Form.stai13#',
	  stai14 ='#Form.stai14#',
	  stai15 ='#Form.stai15#',
	  stai16 ='#Form.stai16#',
	  stai17 ='#Form.stai17#',
	  stai18 ='#Form.stai18#',
	  stai19 ='#Form.stai19#',
	  stai20 ='#Form.stai20#'
WHERE Id=#URL.myId#
</cfquery>
</cfoutput>

<table width="585" height="20" border="0" cellpadding="0" cellspacing="0">
  <tr bgcolor="#FFFFFF"> 
    <td colspan="8" valign="top"> 
      <h3><br>
        <br>
      </h3></td>
  </tr>
  <tr> 
    <td width="73" height="19"><strong> &nbsp;</td>
    <td colspan="7">
	<strong>Thank you for completing this questionnaire.<BR></strong>
	<!---
	<cfquery name="Getroi" datasource="roi">
 		SELECT numpick, BigOrder FROM survey WHERE Id=#URL.myId#
	</cfquery>
         <cfif Getroi.BigOrder EQ -1 >
      <input type="button" value="Close the Survey" name="close" onClick="window.close()">
	  <cfelse>
	  
			<cfif Getroi.BigOrder EQ 1 OR Getroi.BigOrder EQ 5 OR Getroi.BigOrder EQ 7 OR Getroi.BigOrder EQ 8 OR Getroi.BigOrder EQ 10 OR Getroi.BigOrder EQ 0>
			<cfset myLink = "../authenticate/BDI">
          <strong>Thank you for completing this questionnaire.<BR>
            Please click <a href="../<cfoutput>#myLink#</cfoutput>/frame.cfm?num=1&myTo=1&myID=<cfoutput>#URL.myID#</cfoutput>&mySkip=no">here</a> 
            to continue to the next one. 
            <cfelse>
            <cfcookie name="npwatscookie" value="true" expires="NOW">
            <h3>Thank you for completing all the questionnaires on the computer. Now 
            please complete the paper-and-pencil questionnaires in the envelope 
            that you were given.</h3> <br>
            <br>
            <!-- Or, go <a href="http://cfdev.wm.edu/watson/results.cfm?Id=<cfoutput>#URL.myID#</cfoutput>">here</a> 
          to see the results of your questionnaire. For testing purposes only. -->
            </strong> 
            <input type="button" value="Close the Survey" name="close" onClick="window.close()">
          
        </cfif>
	 
	  </cfif>
	  --->
	</td>
  </tr>
</table>
