<!--- variable dSource found in questions.cfm --->
<cfquery name="bdi" datasource="#dSource#">
<cfset mUp = myIndex - 1>
<!--- From.qX where x should be one less than current file Y.cfm --->
<cfset myUpdate = "q" & mUp>
UPDATE #myTable#
	SET #myUpdate# = '#Form.q21#'
	WHERE ID = #myID#
</cfquery>

<table width="585" height="20" border="0" cellpadding="0" cellspacing="0">
  <tr bgcolor="#FFFFFF"> 
    <td colspan="8" valign="top"> 
      <h3><br>
        <br>
      </h3></td>
  </tr>
  <tr> 
    <td width="73" height="19"><strong> &nbsp;</td>
    <td colspan="7">
	<!---<cfquery name="Getroi" datasource="roi">
 		SELECT numpick, BigOrder FROM #myTable# WHERE Id=#URL.myId#
	</cfquery>
         <cfif Getroi.BigOrder EQ -1 >--->
      <input type="button" value="Close the Survey" name="close" onClick="window.close()">
	<!---  <cfelse>
	  		<cfinclude template="../getcode_bdi.cfm">
	  </cfif>--->
	</td>
  </tr>
</table>
