
<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body>
<div align="center"><strong><font color="#FF0000">The information contained in 
  this directory is copyrighted.<br>
  You must provide the proper credentials to log in.</font></strong><br>
 
  
  <cfform action="newauth.cfm">
    <table width="50%" border="0" cellspacing="0" cellpadding="0">
      <tr> 
        <td colspan="2"><hr></td>
      </tr>
      <tr> 
        <td width="35%">User ID:</td>
        <td width="65%"><cfinput type="text" maxlength="6" name="uid"></td>
      </tr>
      <tr>
        <td>Password:</td>
        <td><cfinput type="password" maxlength="50" name="pass"></td>
      </tr>
      <tr> 
        <td>&nbsp;</td>
        <td><input type="submit">&nbsp;</td>
      </tr>
    </table>
  </cfform>
</div>
</body>
</html>
