<cfset debug=false>
<cfset qCount = 10>
<cfset myBeginId = -1>
<cfset pt = 0>
<cfif isDefined('URL.myId')>
	<cfif URL.myId GT 0>
	<cfquery name="pickNext" datasource="#mySource#">
	 SELECT numpick, Code FROM riopc WHERE Id=#URL.myId#
	</cfquery>
	
	<cfset idealCount = 3>
	<cfset oughtCount = 2>
	 <cfif pickNext.numpick IS 1 OR pickNext.numpick IS 6 OR pickNext.numpick IS 5>
	 <cfset idealCount = 2>
	 <cfset oughtCount = 3>
	 </cfif>
	 
	 <cfset refCount = 4>
	 <cfset deqCount = 5>
	 
	 
	<cfset pt = pickNext.Code MOD 24>
	</cfif>
</cfif>
<cfif pt EQ 0>
	<cfset pt = 24>
</cfif>

<cfset whichBDI = "">

<!---Default orders--->
<cfset bdiCount = 6>
<cfset baiCount = 7>
<cfset dassCount = 8>
<cfset cesdCount = 9>
<cfset staiCount = 10>

<cfif pt EQ 2 OR pt EQ 6 OR pt EQ 10 OR pt EQ 16 OR pt EQ 21  OR pt EQ 22>
	<cfset whichBDI = 1>
<cfelseif pt EQ 1 OR pt EQ 9 OR pt EQ 11 OR pt EQ 13 OR pt EQ 18  OR pt EQ 20>
	<cfset whichBDI = 2>
	
	<cfset bdiCount = 10>
	<cfset baiCount = 9>
	<cfset dassCount = 8>
	<cfset cesdCount = 7>
	<cfset staiCount = 6>
<cfelseif pt EQ 3 OR pt EQ 4 OR pt EQ 12 OR pt EQ 14 OR pt EQ 15  OR pt EQ 19>
	<cfset whichBDI = 3>
	
	<cfset bdiCount = 6>
	<cfset baiCount = 10>
	<cfset dassCount = 8>
	<cfset cesdCount = 9>
	<cfset staiCount = 7>
<cfelseif pt EQ 5 OR pt EQ 7 OR pt EQ 8 OR pt EQ 17 OR pt EQ 23  OR pt EQ 24>
	<cfset whichBDI = 4>
	
	<cfset bdiCount = 10>
	<cfset baiCount = 6>
	<cfset dassCount = 8>
	<cfset cesdCount = 7>
	<cfset staiCount = 9>
</cfif>


