<cfset myUpdate = "ri_abstract">
<cfquery datasource="#mySource#">
UPDATE #myTable#
	SET ro_abstract='#Form.ro_abstract#'
	WHERE ID = #myID#
</cfquery>
<table width="585" height="20" border="0" cellpadding="0" cellspacing="0">
  <tr bgcolor="#FFFFFF"> 
    <td colspan="8" valign="top"> 
      <h3><br>
        <br>
      </h3></td>
  </tr>
  <tr> 
    <td width="73" height="19"><strong> &nbsp;</td>
    <td colspan="7"><cfinclude template="../getcode_ro.cfm">
     </td>
  </tr>
</table>