<cfoutput><!--- UPDATE FORM ELEMENTS IN 11.cfm --->
<cfquery name="Updaterat" datasource="#mySource#">
  UPDATE #myTable#
 SET or7='#Form.or7#',
    oo1 ='#Form.oo1#',
    oi1 ='#Form.oi1#',
    or9 = '#Form.or9#',
    oi12 = '#Form.oi12#',
    or4='#Form.or4#',
    oo4 = '#Form.oo4#',
    oo6= '#Form.oo6#',
    or6 = '#Form.or6#',
    or3='#Form.or3#',
    oo11 ='#Form.oo11#',
    oo8 ='#Form.oo8#'
WHERE Id=#URL.myId#
</cfquery>
</cfoutput>

<cfquery name="OppRating" datasource="#mySource#">
 SELECT * FROM #myTable# WHERE Id=#URL.myId#
</cfquery>

<cfform action="frame_.cfm?num=#myIndex+1#&myTo=11b&myID=#myID#">
<center>
    <table width="585" border="0" cellpadding="0" cellspacing="0">
      <tr valign="top"> 
        <td colspan="11"> <h3>Describe your OUGHT/SHOULD SELF: This is yourself 
            as OTHERS think you ought or should be.</h3></td>
      </tr>
      <tr> 
        <td colspan="11"> <div align="center"><img src="../constructs.gif" width="586" height="49"></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="50%" height="43" rowspan="2" valign="middle"><cfoutput query="OppRating"> 
            #real1# </cfoutput>&nbsp;</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="41"> <div align="center"> <font size="2"> 
            <input type="radio" name="or1" value="1">
            </font></div></td>
        <td width="41"> <div align="center"> <font size="2"> 
            <input type="radio" name="or1" value="2">
            </font></div></td>
        <td width="41"> <div align="center"> <font size="2"> 
            <input type="radio" name="or1" value="3">
            </font></div></td>
        <td width="41"> <div align="center"> <font size="2"> 
            <input type="radio" name="or1" value="4">
            </font></div></td>
        <td width="42"> <div align="center"> <font size="2"> 
            <input type="radio" name="or1" value="5">
            </font></div></td>
        <td width="41"> <div align="center"> <font size="2"> 
            <input type="radio" name="or1" value="6">
            </font></div></td>
        <td width="42"> <div align="center"> <font size="2"> 
            <input type="radio" name="or1" value="7">
            <input type=hidden name="or1_required" value= "You must enter a rating.">
            </font></div></td>
        <td width="42">&nbsp;</td>
        <td width="42">&nbsp;</td>
        <td width="42">&nbsp;</td>
      </tr>
      <tr> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="OppRating"> #opid5# 
        </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr> 
        <td height="14"> <div align="center"> <font size="2"> 
            <input type="radio" name="oi11" value="1">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="oi11" value="2">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="oi11" value="3">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="oi11" value="4">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="oi11" value="5">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="oi11" value="6">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="oi11" value="7">
            <input type=hidden name="oi11_required" value= "You must enter a rating.">
            </font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="OppRating"> #ideal6# 
        </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td height="14"> <div align="center"> 
            <input type="radio" name="oi6" value="1">
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="oi6" value="2">
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="oi6" value="3">
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="oi6" value="4">
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="oi6" value="5">
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="oi6" value="6">
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="oi6" value="7">
            <input type=hidden name="oi6_required" value= "You must enter a rating.">
          </div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="OppRating"> 
            #opr5# </cfoutput></td>
        <td valign="middle"><div align="center"><font size="2">1</font></div></td>
        <td valign="middle"><div align="center"><font size="2">2</font></div></td>
        <td valign="middle"><div align="center"><font size="2">3</font></div></td>
        <td valign="middle"><div align="center"><font size="2">4</font></div></td>
        <td valign="middle"><div align="center"><font size="2">5</font></div></td>
        <td valign="middle"><div align="center"><font size="2">6</font></div></td>
        <td valign="middle"><div align="center"><font size="2">7</font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="or11" value="1">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="or11" value="2">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="or11" value="3">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="or11" value="4">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="or11" value="5">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="or11" value="6">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="or11" value="7">
            <input type=hidden name="or11_required" value= "You must enter a rating.">
        </font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" bgcolor="#FFFFCC" valign="middle"><cfoutput query="OppRating"> 
            #opr2# </cfoutput></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">1</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">2</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">3</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">4</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">5</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">6</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">7</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="or8" value="1">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="or8" value="2">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="or8" value="3">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="or8" value="4">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="or8" value="5">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="or8" value="6">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="or8" value="7">
            <input type=hidden name="or8_required" value= "You must enter a rating.">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="OppRating"> #ought5# </cfoutput></td>
        <td valign="middle"><div align="center"><font size="2">1</font></div></td>
        <td valign="middle"><div align="center"><font size="2">2</font></div></td>
        <td valign="middle"><div align="center"><font size="2">3</font></div></td>
        <td valign="middle"><div align="center"><font size="2">4</font></div></td>
        <td valign="middle"><div align="center"><font size="2">5</font></div></td>
        <td valign="middle"><div align="center"><font size="2">6</font></div></td>
        <td valign="middle"><div align="center"><font size="2">7</font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oo5" value="1">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oo5" value="2">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oo5" value="3">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oo5" value="4">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oo5" value="5">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oo5" value="6">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oo5" value="7">
            <input type=hidden name="oo5_required" value= "You must enter a rating.">
        </font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" valign="middle" bgcolor="#FFFFCC"><cfoutput query="OppRating"> 
            #opr4# </cfoutput></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">1</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">2</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">3</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">4</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">5</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">6</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">7</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="or10" value="1">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="or10" value="2">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="or10" value="3">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="or10" value="4">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="or10" value="5">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="or10" value="6">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="or10" value="7">
            <input type=hidden name="or10_required" value= "You must enter a rating.">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="OppRating"> #opou1# </cfoutput></td>
        <td valign="middle"><div align="center"><font size="2">1</font></div></td>
        <td valign="middle"><div align="center"><font size="2">2</font></div></td>
        <td valign="middle"><div align="center"><font size="2">3</font></div></td>
        <td valign="middle"><div align="center"><font size="2">4</font></div></td>
        <td valign="middle"><div align="center"><font size="2">5</font></div></td>
        <td valign="middle"><div align="center"><font size="2">6</font></div></td>
        <td valign="middle"><div align="center"><font size="2">7</font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oo7" value="1">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oo7" value="2">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oo7" value="3">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oo7" value="4">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oo7" value="5">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oo7" value="6">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oo7" value="7">
            <input type=hidden name="oo7_required" value= "You must enter a rating.">
        </font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" valign="middle" bgcolor="#FFFFCC"><cfoutput query="OppRating"> 
            #opou3# </cfoutput></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">1</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">2</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">3</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">4</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">5</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">6</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">7</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="oo9" value="1">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="oo9" value="2">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="oo9" value="3">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="oo9" value="4">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="oo9" value="5">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="oo9" value="6">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="oo9" value="7">
            <input type=hidden name="oo9_required" value= "You must enter a rating.">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="OppRating"> #ought3# </cfoutput></td>
        <td valign="middle"><div align="center"><font size="2">1</font></div></td>
        <td valign="middle"><div align="center"><font size="2">2</font></div></td>
        <td valign="middle"><div align="center"><font size="2">3</font></div></td>
        <td valign="middle"><div align="center"><font size="2">4</font></div></td>
        <td valign="middle"><div align="center"><font size="2">5</font></div></td>
        <td valign="middle"><div align="center"><font size="2">6</font></div></td>
        <td valign="middle"><div align="center"><font size="2">7</font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oo3" value="1">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oo3" value="2">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oo3" value="3">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oo3" value="4">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oo3" value="5">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oo3" value="6">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oo3" value="7">
            <input type=hidden name="oo3_required" value= "You must enter a rating.">
        </font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" valign="middle" bgcolor="#FFFFCC"><cfoutput query="OppRating"> 
            #opid4# </cfoutput></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">1</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">2</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">3</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">4</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">5</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">6</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">7</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="oi10" value="1">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="oi10" value="2">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="oi10" value="3">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="oi10" value="4">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="oi10" value="5">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="oi10" value="6">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="oi10" value="7">
            <input type=hidden name="oi10_required" value= "You must enter a rating.">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="OppRating"> #real2# </cfoutput></td>
        <td valign="middle"><div align="center"><font size="2">1</font></div></td>
        <td valign="middle"><div align="center"><font size="2">2</font></div></td>
        <td valign="middle"><div align="center"><font size="2">3</font></div></td>
        <td valign="middle"><div align="center"><font size="2">4</font></div></td>
        <td valign="middle"><div align="center"><font size="2">5</font></div></td>
        <td valign="middle"><div align="center"><font size="2">6</font></div></td>
        <td valign="middle"><div align="center"><font size="2">7</font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="or2" value="1">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="or2" value="2">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="or2" value="3">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="or2" value="4">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="or2" value="5">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="or2" value="6">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="or2" value="7">
            <input type=hidden name="or2_required" value= "You must enter a rating.">
        </font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43">&nbsp;</td>
        <td colspan="10"><input type="submit" name="Submit" value="Continue"> 
        </td>
      </tr>
    </table>
</center>
</cfform>
