<cfquery name="OppRating" datasource="#mySource#">
 SELECT * FROM #myTable# WHERE Id=#URL.myId#
</cfquery>

<cfform action="frame_.cfm?num=#myIndex+1#&myTo=11a&myID=#myID#">
<center>
    <table width="585" border="0" cellpadding="0" cellspacing="0">
      <tr valign="top"> 
        <td colspan="11"> <h3>Describe your OUGHT/SHOULD SELF: This is yourself 
            as OTHERS think you ought or should be.</h3></td>
      </tr>
      <tr> 
        <td colspan="11"> <div align="center"><img src="../constructs.gif" width="586" height="49"></div></td>
      </tr>
     <tr bgcolor="#FFFFCC"> 
        <td width="50%" height="43" rowspan="2" valign="middle"><cfoutput query="OppRating"> 
            #opr1# </cfoutput>&nbsp;</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="41"> <div align="center"> <font size="2"> 
            <input type="radio" name="or7" value="1">
            </font></div></td>
        <td width="41"> <div align="center"> <font size="2"> 
            <input type="radio" name="or7" value="2">
            </font></div></td>
        <td width="41"> <div align="center"> <font size="2"> 
            <input type="radio" name="or7" value="3">
            </font></div></td>
        <td width="41"> <div align="center"> <font size="2"> 
            <input type="radio" name="or7" value="4">
            </font></div></td>
        <td width="42"> <div align="center"> <font size="2"> 
            <input type="radio" name="or7" value="5">
            </font></div></td>
        <td width="41"> <div align="center"> <font size="2"> 
            <input type="radio" name="or7" value="6">
            </font></div></td>
        <td width="42"> <div align="center"> <font size="2"> 
            <input type="radio" name="or7" value="7">
            <input type=hidden name="or7_required" value= "You must enter a rating.">
            </font></div></td>
        <td width="42">&nbsp;</td>
        <td width="42">&nbsp;</td>
        <td width="42">&nbsp;</td>
      </tr>
      <tr> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="OppRating"> #ought1# 
        </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr> 
        <td height="14"> <div align="center"> <font size="2"> 
            <input type="radio" name="oo1" value="1">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="oo1" value="2">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="oo1" value="3">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="oo1" value="4">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="oo1" value="5">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="oo1" value="6">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="oo1" value="7">
            <input type=hidden name="oo1_required" value= "You must enter a rating.">
            </font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="OppRating"> #ideal1# 
        </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td height="14"> <div align="center"> 
            <input type="radio" name="oi1" value="1">
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="oi1" value="2">
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="oi1" value="3">
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="oi1" value="4">
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="oi1" value="5">
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="oi1" value="6">
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="oi1" value="7">
            <input type=hidden name="oi1_required" value= "You must enter a rating.">
          </div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="OppRating"> 
            #opr3# </cfoutput></td>
        <td valign="middle"><div align="center"><font size="2">1</font></div></td>
        <td valign="middle"><div align="center"><font size="2">2</font></div></td>
        <td valign="middle"><div align="center"><font size="2">3</font></div></td>
        <td valign="middle"><div align="center"><font size="2">4</font></div></td>
        <td valign="middle"><div align="center"><font size="2">5</font></div></td>
        <td valign="middle"><div align="center"><font size="2">6</font></div></td>
        <td valign="middle"><div align="center"><font size="2">7</font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="or9" value="1">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="or9" value="2">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="or9" value="3">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="or9" value="4">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="or9" value="5">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="or9" value="6">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="or9" value="7">
            <input type=hidden name="or9_required" value= "You must enter a rating.">
        </font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" valign="middle" bgcolor="#FFFFCC"><cfoutput query="OppRating"> 
            #opid6# </cfoutput></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">1</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">2</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">3</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">4</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">5</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">6</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">7</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="oi12" value="1">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="oi12" value="2">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="oi12" value="3">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="oi12" value="4">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="oi12" value="5">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="oi12" value="6">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="oi12" value="7">
            <input type=hidden name="oi12_required" value= "You must enter a rating.">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="OppRating"> #real4# </cfoutput></td>
        <td valign="middle"><div align="center"><font size="2">1</font></div></td>
        <td valign="middle"><div align="center"><font size="2">2</font></div></td>
        <td valign="middle"><div align="center"><font size="2">3</font></div></td>
        <td valign="middle"><div align="center"><font size="2">4</font></div></td>
        <td valign="middle"><div align="center"><font size="2">5</font></div></td>
        <td valign="middle"><div align="center"><font size="2">6</font></div></td>
        <td valign="middle"><div align="center"><font size="2">7</font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="or4" value="1">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="or4" value="2">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="or4" value="3">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="or4" value="4">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="or4" value="5">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="or4" value="6">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="or4" value="7">
            <input type=hidden name="or4_required" value= "You must enter a rating.">
        </font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" valign="middle" bgcolor="#FFFFCC"><cfoutput query="OppRating"> 
            #ought4# </cfoutput></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">1</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">2</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">3</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">4</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">5</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">6</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">7</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="oo4" value="1">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="oo4" value="2">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="oo4" value="3">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="oo4" value="4">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="oo4" value="5">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="oo4" value="6">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="oo4" value="7">
            <input type=hidden name="oo4_required" value= "You must enter a rating.">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="OppRating"> #ought6# </cfoutput></td>
        <td valign="middle"><div align="center"><font size="2">1</font></div></td>
        <td valign="middle"><div align="center"><font size="2">2</font></div></td>
        <td valign="middle"><div align="center"><font size="2">3</font></div></td>
        <td valign="middle"><div align="center"><font size="2">4</font></div></td>
        <td valign="middle"><div align="center"><font size="2">5</font></div></td>
        <td valign="middle"><div align="center"><font size="2">6</font></div></td>
        <td valign="middle"><div align="center"><font size="2">7</font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oo6" value="1">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oo6" value="2">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oo6" value="3">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oo6" value="4">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oo6" value="5">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oo6" value="6">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oo6" value="7">
            <input type=hidden name="oo6_required" value= "You must enter a rating.">
        </font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" valign="middle" bgcolor="#FFFFCC"><cfoutput query="OppRating"> 
            #real6# </cfoutput></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">1</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">2</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">3</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">4</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">5</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">6</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">7</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="or6" value="1">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="or6" value="2">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="or6" value="3">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="or6" value="4">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="or6" value="5">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="or6" value="6">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="or6" value="7">
            <input type=hidden name="or6_required" value= "You must enter a rating.">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="OppRating"> #real3# </cfoutput></td>
        <td valign="middle"><div align="center"><font size="2">1</font></div></td>
        <td valign="middle"><div align="center"><font size="2">2</font></div></td>
        <td valign="middle"><div align="center"><font size="2">3</font></div></td>
        <td valign="middle"><div align="center"><font size="2">4</font></div></td>
        <td valign="middle"><div align="center"><font size="2">5</font></div></td>
        <td valign="middle"><div align="center"><font size="2">6</font></div></td>
        <td valign="middle"><div align="center"><font size="2">7</font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="or3" value="1">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="or3" value="2">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="or3" value="3">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="or3" value="4">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="or3" value="5">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="or3" value="6">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="or3" value="7">
            <input type=hidden name="or3_required" value= "You must enter a rating.">
        </font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" valign="middle" bgcolor="#FFFFCC"><cfoutput query="OppRating"> 
            #opou5# </cfoutput></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">1</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">2</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">3</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">4</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">5</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">6</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">7</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="oo11" value="1">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="oo11" value="2">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="oo11" value="3">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="oo11" value="4">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="oo11" value="5">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="oo11" value="6">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="oo11" value="7">
            <input type=hidden name="oo11_required" value= "You must enter a rating.">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="OppRating"> #opou2# </cfoutput></td>
        <td valign="middle"><div align="center"><font size="2">1</font></div></td>
        <td valign="middle"><div align="center"><font size="2">2</font></div></td>
        <td valign="middle"><div align="center"><font size="2">3</font></div></td>
        <td valign="middle"><div align="center"><font size="2">4</font></div></td>
        <td valign="middle"><div align="center"><font size="2">5</font></div></td>
        <td valign="middle"><div align="center"><font size="2">6</font></div></td>
        <td valign="middle"><div align="center"><font size="2">7</font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oo8" value="1">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oo8" value="2">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oo8" value="3">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oo8" value="4">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oo8" value="5">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oo8" value="6">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oo8" value="7">
            <input type=hidden name="oo8_required" value= "You must enter a rating.">
        </font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43">&nbsp;</td>
        <td colspan="10"><input type="submit" name="Submit" value="Continue"> 
        </td>
      </tr>
    </table>
</center>
</cfform>
