<cfquery name="Getroi" datasource="#mySource#">
 SELECT numpick FROM #myTable# WHERE Id=#URL.myId#
</cfquery>

<cfif Getroi.numpick IS 2 OR Getroi.numpick IS 3>
<cfoutput>
<!--- correct!! --->
<cfquery name="Updaterat" datasource="#mySource#">
  UPDATE #myTable#
 SET 	ii8='#Form.ii8#',
    	ii3 ='#Form.ii3#',
    	io10 ='#Form.io10#',
    	ii7 = '#Form.ii7#',
    	ir12='#Form.ir12#',
    	io2 = '#Form.io2#',
    	ii2= '#Form.ii2#',
    	io12 = '#Form.io12#',
    	ii4='#Form.ii4#',
    	ii9 ='#Form.ii9#',
    	ir5 ='#Form.ir5#',
		ii5 ='#Form.ii5#'
WHERE Id=#URL.myId#
</cfquery>
</cfoutput>
</cfif>

<cfif Getroi.numpick IS 1 OR Getroi.numpick IS 6>
<cfoutput><!--- CORRECT!!! --->
<cfquery name="Updaterat" datasource="#mySource#">
  UPDATE #myTable#
  SET 	oi8='#Form.oi8#',
    	oi3 ='#Form.oi3#',
    	oo10 ='#Form.oo10#',
    	oi7 = '#Form.oi7#',
    	or12='#Form.or12#',
    	oo2 = '#Form.oo2#',
    	oi2= '#Form.oi2#',
    	oo12 = '#Form.oo12#',
    	oi4='#Form.oi4#',
    	oi9 ='#Form.oi9#',
    	or5 ='#Form.or5#',
		oi5 ='#Form.oi5#'
WHERE Id=#URL.myId#
</cfquery>
</cfoutput>
</cfif>

<cfif Getroi.numpick IS 4 OR Getroi.numpick IS 5> 
<cfoutput><!--- correct --->
<cfquery name="Updaterat" datasource="#mySource#">
  UPDATE #myTable#
  SET 	ri8='#Form.ri8#',
    	ri3 ='#Form.ri3#',
    	ro10 ='#Form.ro10#',
    	ri7 = '#Form.ri7#',
    	rr12='#Form.rr12#',
    	ro2 = '#Form.ro2#',
    	ri2= '#Form.ri2#',
    	ro12 = '#Form.ro12#',
    	ri4='#Form.ri4#',
    	ri9 ='#Form.ri9#',
    	rr5 ='#Form.rr5#',
		ri5 ='#Form.ri5#'
WHERE Id=#URL.myId#
</cfquery>
</cfoutput>
</cfif>

<table width="585" height="20" border="0" cellpadding="0" cellspacing="0">
  <tr bgcolor="#FFFFFF"> 
    <td colspan="8" valign="top"> 
      <h3><br>
      </h3></td>
  </tr>
  <tr> 
    <td width="73" height="19"><strong> &nbsp;</td>
    <td colspan="7"><strong> 
		  Thank you for completing this questionnaire.<BR>
      <input type="button" value="Close the Survey" name="close" onClick="window.close()">
      </strong>
	  </td>
  </tr>
</table>
