<cfquery name="Getroi" datasource="#mySource#">
 SELECT numpick FROM #myTable# WHERE Id=#URL.myId#
</cfquery>

<cfif Getroi.numpick IS 4 OR Getroi.numpick IS 6>
<cfoutput>
<cfquery name="Updaterat" datasource="#mySource#">
  UPDATE #myTable#
 SET 	ii8='#Form.ii8#',
    	ii3 ='#Form.ii3#',
    	io10 ='#Form.io10#',
    	ii7 = '#Form.ii7#',
    	ir12 = '#Form.ir12#',
    	io2='#Form.io2#',
    	ii2 = '#Form.ii2#',
    	io12= '#Form.io12#',
    	ii4 = '#Form.ii4#',
    	ii9='#Form.ii9#',
    	ir5 ='#Form.ir5#',
    	ii5 ='#Form.ii5#'
WHERE Id=#URL.myId#
</cfquery>
</cfoutput>
</cfif>

<cfif Getroi.numpick IS 3 OR Getroi.numpick IS 5>
<cfoutput>
<cfquery name="Updaterat" datasource="#mySource#">
  UPDATE #myTable#
  SET 	oi8='#Form.oi8#',
    	oi3 ='#Form.oi3#',
    	oo10 ='#Form.oo10#',
    	oi7 = '#Form.oi7#',
    	or12 = '#Form.or12#',
    	oo2='#Form.oo2#',
    	oi2 = '#Form.oi2#',
    	oo12= '#Form.oo12#',
    	oi4 = '#Form.oi4#',
    	oi9='#Form.oi9#',
    	or5 ='#Form.or5#',
    	oi5 ='#Form.oi5#'
WHERE Id=#URL.myId#
</cfquery>
</cfoutput>
</cfif>


<cfquery name="RealRating" datasource="#mySource#">
 SELECT * FROM #myTable# WHERE Id=#URL.myId#
</cfquery>

<cfform action="frame_.cfm?num=#myIndex+1#&myTo=9o&myID=#myID#" method="post">
<center>
     <table width="585" border="0" cellpadding="0" cellspacing="0">
      <tr> 
        <td colspan="11" valign="top"> <h3 align="center"><strong>Please use the 
            following scale to describe your</strong></h3>
          <h3 align="center"><strong>REAL SELF</strong></h3>
          <h3 align="center"><strong>Yourself as YOU see yourself in your own 
            eyes.</strong></h3>
          <div align="center">
            <input type="submit" value="Continue">
          </div></td>
      </tr>
      
    </table>
</center>
</cfform>
