<!--- variable dSource found in questions.cfm --->
<cfquery name="bdi" datasource="#dSource#">
<cfset mUp = myIndex - 1>
<!--- From.qX where x should be one less than current file Y.cfm --->
<cfset myUpdate = "q" & mUp>
UPDATE #myTable#
	SET #myUpdate# = '#Form.q21#'
	WHERE ID = #myID#
</cfquery>

<table width="585" height="20" border="0" cellpadding="0" cellspacing="0">
  <tr bgcolor="#FFFFFF"> 
    <td colspan="8" valign="top"> 
      <h3><br>
        <br>
      </h3></td>
  </tr>
  <tr> 
    <td width="73" height="19"><strong> &nbsp;</td>
    <td colspan="7">
	<cfquery name="Getroi" datasource="roi">
 		SELECT numpick, BigOrder FROM survey WHERE Id=#URL.myId#
	</cfquery>
         <cfif Getroi.BigOrder EQ -1 >
      <input type="button" value="Close the Survey" name="close" onClick="window.close()">
	  <cfelse>
	  		<cfif Getroi.BigOrder EQ 2 OR Getroi.BigOrder EQ 3 OR Getroi.BigOrder EQ 4 OR Getroi.BigOrder EQ 6 OR Getroi.BigOrder EQ 9 OR Getroi.BigOrder EQ 11>
			<cfset myLink = "../authenticate/STAI">
          <strong>Thank you for completing this questionnaire.<BR>
            Please click <a href="../<cfoutput>#myLink#</cfoutput>/frame.cfm?num=1&myTo=1&myID=<cfoutput>#URL.myID#</cfoutput>&mySkip=no">here</a> 
            to continue to the next one. 
            <cfelse>
            <cfcookie name="npwatscookie" value="true" expires="NOW">
            <h3>Thank you for completing all the questionnaires on the computer. Now 
            please complete the paper-and-pencil questionnaires in the envelope 
            that you were given.</h3> <br>
            <!-- Or, go <a href="http://cfdev.wm.edu/watson/results.cfm?Id=<cfoutput>#URL.myID#</cfoutput>">here</a> 
          to see the results of your questionnaire. For testing purposes only. -->
            </strong><BR>
            <input type="button" value="Close the Survey" name="close" onClick="window.close()">
          
        </cfif>
	 
	  </cfif>
	</td>
  </tr>
</table>
