<cfset myOK = FALSE>

<cfif not isdefined("Form.checkbox1")>
  <cfset form.checkbox1 = "No">
<cfelse>
  <cfset myOK = TRUE>
  <cfset form.checkbox1 = "Yes">
</cfif>
<cfif not isdefined("Form.checkbox2")>
  <cfset form.checkbox2 = "No">
<cfelse>
	<cfset myOK = TRUE>
  <cfset form.checkbox2 = "Yes">
</cfif>
<cfif not isdefined("Form.checkbox3")>
  <cfset form.checkbox3 = "No">
<cfelse>
	<cfset myOK = TRUE>
  <cfset form.checkbox3 = "Yes">
</cfif>
<cfif not isdefined("Form.checkbox4")>
  <cfset form.checkbox4 = "No">
<cfelse>
	<cfset myOK = TRUE>
  <cfset form.checkbox4 = "Yes">
</cfif>
<cfif not isdefined("Form.checkbox5")>
  <cfset form.checkbox5 = "No">
<cfelse>
	<cfset myOK = TRUE>
  <cfset form.checkbox5 = "Yes">
</cfif>
<cfif not isdefined("Form.checkbox6")>
  <cfset form.checkbox6 = "No">
<cfelse>
	<cfset myOK = TRUE>
  <cfset form.checkbox6 = "Yes">
</cfif>
<cfif not isdefined("Form.checkbox7")>
  <cfset form.checkbox7 = "No">
<cfelse>
	<cfset myOK = TRUE>
  <cfset form.checkbox7 = "Yes">
</cfif>
<cfif not isdefined("Form.checkbox8")>
  <cfset form.checkbox8 = "No">
<cfelse>
	<cfset myOK = TRUE>
  <cfset form.checkbox8 = "Yes">
</cfif>
<cfif not isdefined("Form.checkbox9")>
  <cfset form.checkbox9 = "No">
<cfelse>
	<cfset myOK = TRUE>
  <cfset form.checkbox9 = "Yes">
</cfif>
<cfif not isdefined("Form.checkbox10")>
  <cfset form.checkbox10 = "No">
<cfelse>
	<cfset myOK = TRUE>
  <cfset form.checkbox10 = "Yes">
</cfif>
<cfif CompareNoCase(#Form.others#,  "Please type whom you had in mind.") NEQ 0>
	<cfset myOK = TRUE>
</cfif>

<cfif myOK>
<cfoutput>

</cfoutput>

<table width="585" height="20" border="0" cellpadding="0" cellspacing="0">
  <tr bgcolor="#FFFFFF"> 
    <td colspan="8" valign="top"> 
      <h3><br>
        <br>
      </h3></td>
  </tr>
  <tr> 
    <td width="73" height="19"><strong> &nbsp;</td>
    <td colspan="7">
	<strong>Thank you for completing this questionnaire.<BR>
      <input type="button" value="Close the Survey" name="close" onClick="window.close()">
	 
       </strong> 
        
	</td>
  </tr>
</table>
<cfelse>

		You must indicate at least one reference person for your ought self.
		<BR>
		Please <a href="javascript:history.back()">go back</a> and fix this problem.



</cfif>