
<html>
<head>
<title>Reference Person(s) for Ought Self</title>
</head>
<cfset mySource = "watson">
<cfset myTable = "refperson">
<cfset myIndex = #URL.num#>
<cfset myInclude = #URL.myTo#>
<cfset myID = #URL.myID#>
<cfinclude template="../debug.cfm">
<!--- If this is fer real, go ahead and update the database 
myPages should be a CONSTANT!!!!--->
<cfset myPages = 2>
<body><center>

  <table width="585" border="0" cellpadding="0" cellspacing="0">
    <tr valign="top"> 
      <td height="20"> 
        <h5> 
          <cfset displayP = 1>
<cfif myIndex NEQ 0>
	<cfset displayP = #myIndex#>
</cfif>
	  <cfoutput>Questionnaire #refCount# of #qCount#. Page #displayP# of #myPages#.</cfoutput> 
		</h5></td>
    </tr>
    <tr valign="top"> 
      <td valign="top"> 
        <cfif myIndex EQUAL 6756757>
          <cfform action="frame.cfm?num=1&myID=1&myTo=#myInclude#">
            <blockquote> 
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
               
                <tr> 
                  <td>
				  <cfquery name="getcode" datasource="#mySource#">
				  	select Id, Code, numpick, Gender from riopc where Id=#URL.myID#
				  </cfquery>
				   <cfoutput>
				  <input name="Code" type="hidden" maxlength="3" value="#getcode.Code#">
				  <input name="Id" type="hidden" maxlength="3" value="#getcode.Id#">
				  <input name="Gender" type="hidden" maxlength="3" value="#getcode.Gender#">
				  </cfoutput>
				  <input type="hidden" name="Code_required" value="Please enter a 3 digit code."> 
                    <input type="hidden" name="Gender_required" value="Please enter a gender."> 
                  </td>
                  <td>
				  <center>
				  	<input name="submit" type="submit" value="Begin the Survey"> 
				  </center>
                  </td>
                </tr>
              </table>
            </blockquote>
          </cfform>
          <hr>
          <font size="1"></font> 
        </cfif> </td>
	</tr>
	
    <tr valign="top"> 
      <td> 
	  
	  <cfif myIndex EQUAL 0> 
	     	<cfset myIndex = myIndex + 1>
	  		<cfquery name="getcode" datasource="#mySource#">
				select Id, Code, numpick, Gender from riopc where Id=#URL.myID#
			</cfquery>
		  
			<cflock name="#CreateUUID()#" timeout="20">
					<cfset todayDate = Now()>
				  	<cfset todayFormatDate = #DateFormat(todayDate, "yyyy-mm-dd ")#>
				  	<cfset todayFormatTime = #TimeFormat(todayDate, "HH:mm:ss")#>
				  	<cfset finalDate = #todayFormatDate# & #todayFormatTime#>
			  <cftransaction>
				<cfquery name="myQ" datasource="#mySource#">
				INSERT INTO #myTable#(Id, Code, Gender, datecreated) VALUES ('#getcode.Id#', '#getcode.Code#', '#getcode.Gender#', '#finalDate#')  
				</cfquery>
				
			  </cftransaction>
			</cflock> 
			<cfset myID = #getcode.Id#> 
			<!--- <cfoutput>#getMaxID.myID#!!!</cfoutput> --->
			 
			<cfinclude template="#myIndex#.cfm"> &nbsp;
		  
	  
	  <cfelseif myIndex GREATER THAN 1>     
        	<cfinclude template="#myInclude#.cfm">
      </cfif> 
	  </td>
	  </tr>
  </table>
</center>
</body>
</html>
