

<center>
  <table width="585" border="0" cellpadding="0" cellspacing="0">
    <tr> 
      <td><h3>&nbsp;</h3></td>
    </tr>
    <tr valign="top"> 
      <td height="43"> 
        <strong>Thank you for completing this questionnaire.<BR></strong>     
      <input type="button" value="Close the Survey" name="close" onClick="window.close()">

          
       
        </td>
    </tr>
  </table>
</center>

