<cfquery name="Getroi" datasource="#mySource#">
 SELECT numpick FROM #myTable# WHERE Id=#URL.myId#
</cfquery>
<cfset myMsg="">
<cfif Getroi.numpick IS 3 OR Getroi.numpick IS 5> 
<cfoutput>

			<cfinclude template="checkought.cfm">
	
<cfquery name="Updateought" datasource="#mySource#">
  UPDATE #myTable#
  SET ought1='#Form.ought1#',
    ought2 = '#Form.ought2#',
     ought3= '#Form.ought3#',
     ought4 = '#Form.ought4#',
    ought5 = '#Form.ought5#',
     ought6= '#Form.ought6#'
   WHERE Id=#URL.myId#

</cfquery>
</cfoutput>
</cfif> 


<cfif Getroi.numpick IS 4 OR Getroi.numpick IS 6> 
<cfoutput>

				<cfinclude template="checkideal.cfm">

<cfquery name="Updateought" datasource="#mySource#">
  UPDATE #myTable#
  SET ideal1='#Form.Ideal1#',
    ideal2 = '#Form.Ideal2#',
     ideal3= '#Form.Ideal3#',
     ideal4 = '#Form.Ideal4#',
    ideal5 = '#Form.Ideal5#',
     ideal6= '#Form.Ideal6#'
WHERE Id=#URL.myId#
</cfquery>
</cfoutput>
</cfif>


<script language="JavaScript">
function checkWord(form, ctrl, value) {         
	return true;
}
</script>

<cfif Getroi.numpick IS 2 OR Getroi.numpick IS 6> 
	<cfset going="4">
</cfif>
<cfif Getroi.numpick IS 1 OR Getroi.numpick IS 3> 
	<cfset going="3">
</cfif>
<cfif Getroi.numpick IS 4 OR Getroi.numpick IS 5> 
	<cfset going="5">
</cfif>



<cfif Len(myMsg) GT 0>
		<cfoutput>#myMsg#</cfoutput>
		&nbsp;
		Please <a href="javascript:history.back()">go back</a> and enter a different characteristic.
<cfelse>


<cfform action="frame_.cfm?num=#myIndex+1#&myTo=#going#&myID=#myID#">
	<center>
		
    <table width="585" border="0" cellspacing="0" cellpadding="0">
      <tr> 
        <td colspan="2"><h3>List 6 characteristics that describe your REAL SELF. 
              This is yourself as YOU see yourself in your own eyes.</h3></td>
      </tr>
      <tr> 
        <td colspan="2"><blockquote> 
              <p>&nbsp;</p>
          </blockquote></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="64"><div align="right">1.</div></td>
        <td width="521"> <cfinput type="Text" onvalidate="checkWord" message="Please Re-Enter data" name="real1" size="20" maxlength="35" AUTOCOMPLETE="off">
          <input type=hidden name="real1_required" value= "You must fill in all fields" ></td>
      </tr>
      <tr> 
        <td><div align="right">2.</div></td>
        <td><cfinput type="Text" onvalidate="checkWord" message="Please Re-Enter data" name="real2" size="20" maxlength="35" AUTOCOMPLETE="off">
          <input type=hidden name="real2_required" value= "You must fill in all fields" ></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td><div align="right">3.</div></td>
        <td><cfinput type="Text" onvalidate="checkWord" message="Please Re-Enter data" name="real3" size="20" maxlength="35" AUTOCOMPLETE="off">
          <input type=hidden name="real3_required" value= "You must fill in all fields" ></td>
      </tr>
      <tr> 
        <td><div align="right">4.</div></td>
        <td><cfinput type="Text" onvalidate="checkWord" message="Please Re-Enter data" name="real4" size="20" maxlength="35" AUTOCOMPLETE="off">
          <input type=hidden name="real4_required" value= "You must fill in all fields" ></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td><div align="right">5.</div></td>
        <td><cfinput type="Text" onvalidate="checkWord" message="Please Re-Enter data" name="real5" size="20" maxlength="35" AUTOCOMPLETE="off">
          <input type=hidden name="real5_required" value= "You must fill in all fields" ></td>
      </tr>
      <tr> 
        <td><div align="right">6.</div></td>
        <td><cfinput type="Text" onvalidate="checkWord" message="Please Re-Enter data" name="real6" size="20" maxlength="35" AUTOCOMPLETE="off">
          <input type=hidden name="real6_required" value= "You must fill in all fields" ></td>
      </tr>
      <tr> 
        <td>&nbsp; </td>
        <td><input type="submit" name="Submit" value="Continue">&nbsp;</td>
      </tr>
    </table>
	  </center>

</cfform>

</cfif>