<cfquery name="Getroi" datasource="#mySource#">
 SELECT numpick FROM #myTable# WHERE Id=#URL.myId# 
</cfquery>
<cfset myMsg="">

<cfif Getroi.numpick IS 1 OR Getroi.numpick IS 5> 
<cfoutput>

		<cfinclude template="checkideal.cfm">
		
<cfquery name="Updateideal" datasource="#mySource#">
  UPDATE #myTable#
  SET ideal1='#Form.ideal1#',
    ideal2 = '#Form.ideal2#',
     ideal3= '#Form.ideal3#',
     ideal4 = '#Form.ideal4#',
    ideal5 = '#Form.ideal5#',
     ideal6= '#Form.ideal6#'
WHERE Id=#URL.myId#
</cfquery>
</cfoutput>
</cfif> 


<cfif Getroi.numpick IS 2 OR Getroi.numpick IS 6> 
<cfoutput>

			<cfinclude template="checkreal.cfm">

<cfquery name="Updatereal" datasource="#mySource#">
  UPDATE #myTable#
  SET real1='#Form.real1#',
    real2 = '#Form.real2#',
     real3= '#Form.real3#',
     real4 = '#Form.real4#',
    real5 = '#Form.real5#',
     real6= '#Form.real6#'
WHERE Id=#URL.myId#
</cfquery>
</cfoutput>
</cfif>

<cfif Getroi.numpick IS 2 OR Getroi.numpick IS 4> 
<cfset going="3">
</cfif>


<cfif Getroi.numpick IS 3 OR Getroi.numpick IS 5> 
<cfset going="2">
</cfif>

<cfif Getroi.numpick IS 1 OR Getroi.numpick IS 6> 
<cfset going="5">
</cfif>



<script language="JavaScript">
function checkWord(form, ctrl, value) {         
	return true;
 }
</script>



<cfif Len(myMsg) GT 0>
		<cfoutput>#myMsg#</cfoutput>
		&nbsp;
		Please <a href="javascript:history.back()">go back</a> and enter a different characteristic.
<cfelse>

<cfform action="frame_.cfm?num=#myIndex+1#&myTo=#going#&myID=#myID#">
	<center>
		
    <table width="585" border="0" cellspacing="0" cellpadding="0">
      <tr> 
        <td colspan="2"><h3>List 6 characteristics that describe your OUGHT/SHOULD 
              SELF. This is yourself as OTHERS think you ought or should be.</h3></td>
      </tr>
      <tr> 
        <td colspan="2"><blockquote> 
              <p>&nbsp;</p>
          </blockquote></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="64"><div align="right"><font size="3">1.</font></div></td>
        <td width="521"><cfinput type="Text" name="ought1" onvalidate="checkWord" message="Please Re-Enter data" size="20" maxlength="35" AUTOCOMPLETE="off">
          <input type=hidden name="ought1_required" value= "You must fill in all fields">
          </td>
      </tr>
      <tr> 
        <td><div align="right"><font size="3">2.</font></div></td>
        <td><cfinput type="Text" name="ought2" onvalidate="checkWord" message="Please Re-Enter data" size="20" maxlength="35" AUTOCOMPLETE="off">
         
          <input type=hidden name="ought2_required" value= "You must fill in all fields">
           </td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td><div align="right"><font size="3">3.</font></div></td>
        <td> 
          <cfinput type="Text" name="ought3" onvalidate="checkWord" message="Please Re-Enter data" size="20"
maxlength="35" AUTOCOMPLETE="off">
           
          <input type=hidden name="ought3_required" value= "You must fill in all fields">
            </td>
      </tr>
      <tr> 
        <td><div align="right"><font size="3">4.</font></div></td>
        <td> 
          <cfinput type="Text" name="ought4" onvalidate="checkWord" message="Please Re-Enter data" size="20"
maxlength="35" AUTOCOMPLETE="off">
           
          <input type=hidden name="ought4_required" value= "You must fill in all fields">
            </td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td><div align="right"><font size="3">5.</font></div></td>
        <td> 
          <cfinput type="Text" name="ought5" onvalidate="checkWord" message="Please Re-Enter data" size="20"
maxlength="35" AUTOCOMPLETE="off">
           
          <input type=hidden name="ought5_required" value= "You must fill in all fields">
            </td>
      </tr>
      <tr> 
        <td><div align="right"><font size="3">6.</font></div></td>
        <td> 
          <cfinput type="Text" name="ought6" onvalidate="checkWord" message="Please Re-Enter data" size="20"
maxlength="35" AUTOCOMPLETE="off">
           
          <input type=hidden name="ought6_required" value= "You must fill in all fields">
            </td>
      </tr>
      <tr> 
        <td>&nbsp; </td>
        <td><input type="submit" name="Submit" value="Continue"> 
          &nbsp;</td>
      </tr>
    </table>
	  </center>

</cfform>
</cfif>