
<cfoutput>
<cfquery name="Updaterat" datasource="#mySource#">
  UPDATE #myTable#
   SET rr1='#Form.rr1#',
    ri11 ='#Form.ri11#',
    ri6 ='#Form.ri6#',
    rr11 = '#Form.rr11#',
    rr8 = '#Form.rr8#',
    ro5='#Form.ro5#',
    rr10 = '#Form.rr10#',
    ro7= '#Form.ro7#',
    ro9 = '#Form.ro9#',
    ro3='#Form.ro3#',
    ri10 ='#Form.ri10#',
    rr2 ='#Form.rr2#'
WHERE Id=#URL.myId#
</cfquery>
</cfoutput>

<cfquery name="RealRating" datasource="#mySource#">
 SELECT * FROM #myTable# WHERE Id=#URL.myId#
</cfquery>

<cfif RealRating.numpick IS 2 OR RealRating.numpick IS 6> 
<cfset going="11">
</cfif>


<cfif RealRating.numpick IS 1 OR RealRating.numpick IS 3> 
<cfset going="10">
</cfif>

<cfif RealRating.numpick IS 4 OR RealRating.numpick IS 5> 
<cfset going="12">
</cfif>

<cfform action="frame_.cfm?num=#myIndex+1#&myTo=#going#&myID=#myID#">
<center>
    <table width="585" border="0" cellpadding="0" cellspacing="0">
      <tr valign="top"> 
        <td colspan="11"> <h3>Describe your REAL SELF: This is yourself as YOU 
            see yourself in your own eyes.</h3></td>
      </tr>
      <tr> 
        <td colspan="11"> <div align="center"><img src="../constructs.gif" width="586" height="49"></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="50%" height="43" rowspan="2" valign="middle"><cfoutput query="RealRating"> 
            #opid2# </cfoutput>&nbsp;</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="41"> <div align="center"> <font size="2"> 
            <input type="radio" name="ri8" value="1" <cfif debug>checked</cfif>>
            </font></div></td>
        <td width="41"> <div align="center"> <font size="2"> 
            <input type="radio" name="ri8" value="2">
            </font></div></td>
        <td width="41"> <div align="center"> <font size="2"> 
            <input type="radio" name="ri8" value="3">
            </font></div></td>
        <td width="41"> <div align="center"> <font size="2"> 
            <input type="radio" name="ri8" value="4">
            </font></div></td>
        <td width="42"> <div align="center"> <font size="2"> 
            <input type="radio" name="ri8" value="5">
            </font></div></td>
        <td width="41"> <div align="center"> <font size="2"> 
            <input type="radio" name="ri8" value="6">
            </font></div></td>
        <td width="42"> <div align="center"> <font size="2"> 
            <input type="radio" name="ri8" value="7">
            <input type=hidden name="ri8_required" value= "You must enter a rating.">
            </font></div></td>
        <td width="42">&nbsp;</td>
        <td width="42">&nbsp;</td>
        <td width="42">&nbsp;</td>
      </tr>
      <tr> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="RealRating"> #ideal3# 
        </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr> 
        <td height="14"> <div align="center"> <font size="2"> 
            <input type="radio" name="ri3" value="1" <cfif debug>checked</cfif>>
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ri3" value="2">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ri3" value="3">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ri3" value="4">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ri3" value="5">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ri3" value="6">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ri3" value="7">
            <input type=hidden name="ri3_required" value= "You must enter a rating.">
            </font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="RealRating"> #opou4# 
        </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td height="14"> <div align="center"> 
            <input type="radio" name="ro10" value="1" <cfif debug>checked</cfif>>
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="ro10" value="2">
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="ro10" value="3">
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="ro10" value="4">
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="ro10" value="5">
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="ro10" value="6">
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="ro10" value="7">
            <input type=hidden name="ro10_required" value= "You must enter a rating.">
          </div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="RealRating"> 
            #opid1# </cfoutput></td>
        <td valign="middle"><div align="center"><font size="2">1</font></div></td>
        <td valign="middle"><div align="center"><font size="2">2</font></div></td>
        <td valign="middle"><div align="center"><font size="2">3</font></div></td>
        <td valign="middle"><div align="center"><font size="2">4</font></div></td>
        <td valign="middle"><div align="center"><font size="2">5</font></div></td>
        <td valign="middle"><div align="center"><font size="2">6</font></div></td>
        <td valign="middle"><div align="center"><font size="2">7</font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ri7" value="1" <cfif debug>checked</cfif>>
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ri7" value="2">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ri7" value="3">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ri7" value="4">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ri7" value="5">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ri7" value="6">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ri7" value="7">
            <input type=hidden name="ri7_required" value= "You must enter a rating.">
        </font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" valign="middle" bgcolor="#FFFFCC"><cfoutput query="RealRating"> 
            #opr6# </cfoutput></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">1</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">2</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">3</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">4</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">5</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">6</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">7</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr12" value="1" <cfif debug>checked</cfif>>
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr12" value="2">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr12" value="3">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr12" value="4">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr12" value="5">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr12" value="6">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr12" value="7">
            <input type=hidden name="rr12_required" value= "You must enter a rating.">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="RealRating"> #ought2# </cfoutput></td>
        <td valign="middle"><div align="center"><font size="2">1</font></div></td>
        <td valign="middle"><div align="center"><font size="2">2</font></div></td>
        <td valign="middle"><div align="center"><font size="2">3</font></div></td>
        <td valign="middle"><div align="center"><font size="2">4</font></div></td>
        <td valign="middle"><div align="center"><font size="2">5</font></div></td>
        <td valign="middle"><div align="center"><font size="2">6</font></div></td>
        <td valign="middle"><div align="center"><font size="2">7</font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ro2" value="1" <cfif debug>checked</cfif>>
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ro2" value="2">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ro2" value="3">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ro2" value="4">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ro2" value="5">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ro2" value="6">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ro2" value="7">
            <input type=hidden name="ro2_required" value= "You must enter a rating.">
        </font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" valign="middle" bgcolor="#FFFFCC"><cfoutput query="RealRating"> 
            #ideal2# </cfoutput></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">1</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">2</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">3</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">4</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">5</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">6</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">7</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ri2" value="1" <cfif debug>checked</cfif>>
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ri2" value="2">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ri2" value="3">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ri2" value="4">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ri2" value="5">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ri2" value="6">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ri2" value="7">
            <input type=hidden name="ri2_required" value= "You must enter a rating.">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="RealRating"> #opou6# </cfoutput></td>
        <td valign="middle"><div align="center"><font size="2">1</font></div></td>
        <td valign="middle"><div align="center"><font size="2">2</font></div></td>
        <td valign="middle"><div align="center"><font size="2">3</font></div></td>
        <td valign="middle"><div align="center"><font size="2">4</font></div></td>
        <td valign="middle"><div align="center"><font size="2">5</font></div></td>
        <td valign="middle"><div align="center"><font size="2">6</font></div></td>
        <td valign="middle"><div align="center"><font size="2">7</font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ro12" value="1" <cfif debug>checked</cfif>>
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ro12" value="2">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ro12" value="3">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ro12" value="4">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ro12" value="5">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ro12" value="6">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ro12" value="7">
            <input type=hidden name="ro12_required" value= "You must enter a rating.">
        </font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" valign="middle" bgcolor="#FFFFCC"><cfoutput query="RealRating"> 
            #ideal4# </cfoutput></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">1</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">2</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">3</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">4</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">5</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">6</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">7</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ri4" value="1" <cfif debug>checked</cfif>>
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ri4" value="2">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ri4" value="3">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ri4" value="4">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ri4" value="5">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ri4" value="6">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ri4" value="7">
            <input type=hidden name="ri4_required" value= "You must enter a rating.">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="RealRating"> #opid3# </cfoutput></td>
        <td valign="middle"><div align="center"><font size="2">1</font></div></td>
        <td valign="middle"><div align="center"><font size="2">2</font></div></td>
        <td valign="middle"><div align="center"><font size="2">3</font></div></td>
        <td valign="middle"><div align="center"><font size="2">4</font></div></td>
        <td valign="middle"><div align="center"><font size="2">5</font></div></td>
        <td valign="middle"><div align="center"><font size="2">6</font></div></td>
        <td valign="middle"><div align="center"><font size="2">7</font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ri9" value="1" <cfif debug>checked</cfif>>
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ri9" value="2">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ri9" value="3">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ri9" value="4">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ri9" value="5">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ri9" value="6">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ri9" value="7">
            <input type=hidden name="ri9_required" value= "You must enter a rating.">
        </font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" valign="middle" bgcolor="#FFFFCC"><cfoutput query="RealRating"> 
            #real5# </cfoutput></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">1</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">2</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">3</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">4</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">5</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">6</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">7</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr5" value="1" <cfif debug>checked</cfif>>
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr5" value="2">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr5" value="3">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr5" value="4">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr5" value="5">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr5" value="6">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr5" value="7">
            <input type=hidden name="rr5_required" value= "You must enter a rating.">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="RealRating"> #ideal5# </cfoutput></td>
        <td valign="middle"><div align="center"><font size="2">1</font></div></td>
        <td valign="middle"><div align="center"><font size="2">2</font></div></td>
        <td valign="middle"><div align="center"><font size="2">3</font></div></td>
        <td valign="middle"><div align="center"><font size="2">4</font></div></td>
        <td valign="middle"><div align="center"><font size="2">5</font></div></td>
        <td valign="middle"><div align="center"><font size="2">6</font></div></td>
        <td valign="middle"><div align="center"><font size="2">7</font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ri5" value="1" <cfif debug>checked</cfif>>
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ri5" value="2">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ri5" value="3">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ri5" value="4">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ri5" value="5">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ri5" value="6">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ri5" value="7">
            <input type=hidden name="ri5_required" value= "You must enter a rating.">
        </font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43">&nbsp;</td>
        <td colspan="10"><input type="submit" name="Submit" value="Continue"> 
        </td>
      </tr>
    </table>
</center>
</cfform>
