<cfcookie name="npwatscookie" value="true" expires="NOW">
		<cfcookie name="whichQuestionnaire" value="0" expires="NOW">
		<br><br><br><br><br><br><br>
		<table width="585" align="center"><tr><td>
            <h3>Thank you for completing the questionnaires. Please let the 
			researcher know that you have finished.</h3> <br>
            <!--- Or, go 
			<a href="http://cfdev.wm.edu/watson/results.cfm?Id=<cfoutput>#URL.myID#</cfoutput>">here</a> 
			to see the results of your questionnaire. For testing purposes only. --->
            </strong><BR><input type="button" value="Close the Questionnaire" name="close" onClick=	"window.close()"></td></tr></table>