<style type="text/css">
<!--
.style1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	font-weight: bold;
}
-->
</style>

<table border="0">
  <tr>
  <cfset debug = false>
  <cfset MY_NUMBER_OF_QS = 7>
  <cfif isDefined("Cookie.whichQuestionnaire")>
  	<cfset current = #Cookie.whichQuestionnaire#>
  <cfelse>
  	<cfset current = 0>
  </cfif>
 <!--- <td><font color="#999999" size="2" face="Arial, Helvetica, sans-serif">Progress:</font></td>--->
 <td><span class="style1">Questionnaire <cfoutput>#current# of #MY_NUMBER_OF_QS#.  </cfoutput>Page <cfoutput>#myIndex-1# of #myPages-1#.</cfoutput></span></td>
  <!---<cfloop from="1" to="#MY_NUMBER_OF_QS#" index="i">
  	<cfif i LT current>
    <td width="9" height="5" bgcolor="#006600">&nbsp;</td>
	<cfelseif i EQ current>
	<td width="9" height="5" align="center"><font face="Arial, Helvetica, sans-serif" size="2" color="gray"><cfoutput>#i#</cfoutput></font>&nbsp;</td>
	<cfelse>
    <td width="9" bgcolor="#CCCCCC">&nbsp;</td>
	</cfif>
  </cfloop>--->
  </tr>

</table>

