

<cfform action="frame.cfm?num=#myIndex+1#&myTo=end&myId=#myID#" method="post">
  <div align="center"> 
    <table width="945" border="0">
      <tr> 
        <td valign="top"> 
          <p><font size="4"><strong>Please follow the instructions below.</strong></font> 
          </p>
          <hr>
          <div align="center"><img src="images/RealOught.gif" width="731" height="360"></div>
          <blockquote>
<blockquote>&nbsp;</blockquote>
          </blockquote></td>
      </tr>
    </table>
    
  </div>
  <TABLE WIDTH=850 BORDER=0 align="center" CELLPADDING=0 CELLSPACING=0>
    <TR> 
      <TD> <IMG SRC="../AbstractRI/images/justBoxes_01.jpg" WIDTH=113 HEIGHT=62 ALT=""></TD>
      <TD> <IMG SRC="../AbstractRI/images/justBoxes_02.jpg" WIDTH=102 HEIGHT=62 ALT=""></TD>
      <TD> <IMG SRC="../AbstractRI/images/justBoxes_03.jpg" WIDTH=100 HEIGHT=62 ALT=""></TD>
      <TD> <IMG SRC="../AbstractRI/images/justBoxes_04.jpg" WIDTH=92 HEIGHT=62 ALT=""></TD>
      <TD> <IMG SRC="../AbstractRI/images/justBoxes_05.jpg" WIDTH=96 HEIGHT=62 ALT=""></TD>
      <TD> <IMG SRC="../AbstractRI/images/justBoxes_06.jpg" WIDTH=93 HEIGHT=62 ALT=""></TD>
      <TD> <IMG SRC="../AbstractRI/images/justBoxes_07.jpg" WIDTH=82 HEIGHT=62 ALT=""></TD>
      <TD> <IMG SRC="../AbstractRI/images/justBoxes_08.jpg" WIDTH=75 HEIGHT=62 ALT=""></TD>
      <TD> <IMG SRC="../AbstractRI/images/justBoxes_09.jpg" WIDTH=97 HEIGHT=62 ALT=""></TD>
    </TR>
    <TR> 
      <TD colspan="9">&nbsp;</TD>
    </TR>
    <TR> 
      <TD><div align="center"> 
          <input type="radio" name="ro_abstract" value="1.000">
        </div></TD>
      <TD><div align="center"> 
          <input type="radio" name="ro_abstract" value="0.875">
        </div></TD>
      <TD><div align="center"> 
          <input type="radio" name="ro_abstract" value="0.750">
        </div></TD>
      <TD><div align="center"> 
          <input type="radio" name="ro_abstract" value="0.625">
        </div></TD>
      <TD><div align="center"> 
          <input type="radio" name="ro_abstract" value="0.500">
        </div></TD>
      <TD><div align="center"> 
          <input type="radio" name="ro_abstract" value="0.375">
        </div></TD>
      <TD><div align="center"> 
          <input type="radio" name="ro_abstract" value="0.250">
        </div></TD>
      <TD><div align="center"> 
          <input type="radio" name="ro_abstract" value="0.125">
        </div></TD>
      <TD> <div align="left"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
          <input type="radio" name="ro_abstract" value="0.000">
		  <input name="ro_abstract_required" type=hidden id="ro_abstract_required" value="You must enter a rating.">
        </div></TD>
    </TR>
    <TR> 
      <TD colspan="9"><img src="../AbstractRI/images/base.gif" width="850" height="63"></TD>
    </TR>
    <TR align="center"> 
      <TD colspan="9"> <input type="submit" name="Submit" value="Continue"> 
      </TD>
    </TR>
  </TABLE>
</cfform>
