<cfset aTitles=ArrayNew(1)>
<cfset aTitles[1] = "Sadness">
<cfset aTitles[2] = "Pessimism">
<cfset aTitles[3] = "Past Failure">
<cfset aTitles[4] = "Loss of Pleasure">
<cfset aTitles[5] = "Guilty Feelings">
<cfset aTitles[6] = "Punishment Feelings">
<cfset aTitles[7] = "Self-Dislike">
<cfset aTitles[8] = "Self-Criticalness">
<cfset aTitles[9] = "Suicidal Thoughts or Wishes">
<cfset aTitles[10] = "Crying">
<cfset aTitles[11] = "Agitation">
<cfset aTitles[12] = "Loss of Interest">
<cfset aTitles[13] = "Indecisiveness">
<cfset aTitles[14] = "Worthlessness">
<cfset aTitles[15] = "Loss of Energy">
<cfset aTitles[16] = "Changes in Sleeping Pattern">
<cfset aTitles[17] = "Irritability">
<cfset aTitles[18] = "Changes in Appetite">
<cfset aTitles[19] = "Concentration Difficulty">
<cfset aTitles[20] = "Tiredness or Fatigue">
<cfset aTitles[21] = "Loss of Interest in Sex">

<cfset dSource = "roi">
<cfset ERROR = "You must choose at least one option from the choices available.">
