
<cfquery datasource="#mySource#">
	UPDATE #myTable#
	SET Counseling=#Form.Counseling#, Depression='#Form.Depression#', Anxiety = '#Form.Anxiety#',  PastCounseling = '#Form.PastCounseling#'
	WHERE Id = #myID#
</cfquery>
<table width="585" height="20" border="0" cellpadding="0" cellspacing="0">
  
  <tr> 
    <td height="19"><strong>&nbsp;      <div align="center"><strong>Thank you for completing this questionnaire.<BR>
        <input type="button" value="Close the Survey" name="close" onClick="window.close()">
      </strong> 
      </div></td>
  </tr>
</table>
