<cfquery name="Getroi" datasource="roi">
 SELECT numpick FROM survey WHERE Id=#URL.myId#
</cfquery>

<cfif Getroi.numpick IS 3 OR Getroi.numpick IS 5> 
<cfoutput>
<cfquery name="Updaterat" datasource="roi">
  UPDATE realrate
  SET or15 ='#Form.or15#',
    or16 = '#Form.or16#',
    or17 = '#Form.or17#',
    or18 = '#Form.or18#',
    or19 = '#Form.or19#',
    or20=  '#Form.or20#',
    or21 = '#Form.or21#',
    or22 =  '#Form.or22#',
    or23 = '#Form.or23#',
    or24= '#Form.or24#',
    or25= '#Form.or25#',
    or26= '#Form.or26#',
    or27= '#Form.or27#',
    or28= '#Form.or28#'
WHERE FK=#URL.myId#
</cfquery>
</cfoutput>
</cfif>


<cfif Getroi.numpick IS 4 OR Getroi.numpick IS 6> 
<cfoutput>
<!-- there were two ri7s in update -->

<cfquery name="Updaterat" datasource="roi">
  UPDATE realrate
  SET ir15='#Form.ir15#',
    ir16 ='#Form.ir16#',
    ir17 ='#Form.ir17#',
    ir18 = '#Form.ir18#',
    ir19 = '#Form.ir19#',
    ir20='#Form.ir20#',
    ir21 = '#Form.ir21#',
    ir22= '#Form.ir22#',
    ir23 = '#Form.ir23#',
    ir24='#Form.ir24#',
    ir25 ='#Form.ir25#',
    ir26 ='#Form.ir26#',
    ir27 ='#Form.ir27#',
    ir28 ='#Form.ir28#'
WHERE FK=#URL.myId#
</cfquery>
</cfoutput>
</cfif>

<cfquery name="RealRating" datasource="roi">
 SELECT * FROM survey WHERE Id=#URL.myId#
</cfquery>

<cfform action="frame.cfm?num=#myIndex+1#&myTo=real2&myId=#URL.myId#" method="post">
<center>
    <table width="585" border="0" cellpadding="0" cellspacing="0">
      <tr> 
        <td colspan="11" valign="top"> <h3 align="center"><strong>Please use the 
            following scale to describe your</strong></h3>
          <h3 align="center"><strong>REAL SELF</strong></h3>
          <h3 align="center"><strong>Yourself as YOU see yourself in your own 
            eyes.</strong></h3>
          <div align="center">
            <input type="submit" value="Continue">
          </div></td>
      </tr>
      
    </table>
</center>
</cfform>
