

<cfquery name="Getroi" datasource="#mySource#">
 SELECT numpick FROM #myTable# WHERE Id=#URL.myId#
</cfquery>

<cfif Getroi.numpick IS 4 OR Getroi.numpick IS 6>
<cfoutput>
<cfquery name="Updaterat" datasource="#mySource#">
  UPDATE #myTable#
 SET 	io9='#Form.io9#',
    	ii4 ='#Form.ii4#',
    	ir3 ='#Form.ir3#',
    	ii2 = '#Form.ii2#',
    	ir8 = '#Form.ir8#',
    	io10='#Form.io10#',
    	io1 = '#Form.io1#',
    	ir9= '#Form.ir9#',
    	io8 = '#Form.io8#',
    	ii1='#Form.ii1#',
    	io6 ='#Form.io6#',
    	ir11 ='#Form.ir11#'
WHERE Id=#URL.myId#
</cfquery>
</cfoutput>
</cfif>

<cfif Getroi.numpick IS 3 OR Getroi.numpick IS 5>
<cfoutput>
<cfquery name="Updaterat" datasource="#mySource#">
  UPDATE #myTable#
  SET 	oo9='#Form.oo9#',
    	oi4 ='#Form.oi4#',
    	or3 ='#Form.or3#',
    	oi2 = '#Form.oi2#',
    	or12 = '#Form.or12#',
    	oo10='#Form.oo10#',
    	oo1 = '#Form.oo1#',
    	or9= '#Form.or9#',
    	oo8 = '#Form.oo8#',
    	oi1='#Form.oi1#',
    	oo6 ='#Form.oo6#',
    	or11 ='#Form.or11#'
WHERE Id=#URL.myId#
</cfquery>
</cfoutput>
</cfif>


<cfquery name="RealRating" datasource="#mySource#">
 SELECT * FROM #myTable# WHERE Id=#URL.myId#
</cfquery>

<cfform action="frame.cfm?num=#myIndex+1#&amp;myTo=9a&amp;myID=#myID#" method="post">
<center>
  <table width="585" border="0" cellpadding="0" cellspacing="0">
    <tr valign="top"> 
      <td colspan="8"> <h3>REAL SELF: This is yourself as YOU see yourself in 
          your own eyes.</h3></td>
    </tr>
    <tr> 
      <td width="50%">&nbsp;</td>
      <td colspan="7"><div align="center"><img src="../trues.gif" width="291" height="61"></div></td>
    </tr>
    <tr bgcolor="#FFFFCC"> 
      <td width="50%" rowspan="2" valign="middle"><cfoutput query="RealRating"> 
          #real1# </cfoutput>&nbsp;</td>
      <td><div align="center"><font size="2">1</font></div></td>
      <td><div align="center"><font size="2">2</font></div></td>
      <td><div align="center"><font size="2">3</font></div></td>
      <td><div align="center"><font size="2">4</font></div></td>
      <td><div align="center"><font size="2">5</font></div></td>
      <td><div align="center"><font size="2">6</font></div></td>
      <td><div align="center"><font size="2">7</font></div></td>
    </tr>
    <tr bgcolor="#FFFFCC"> 
      <td width="41"> <div align="center"> <font size="2"> 
          <input type="radio" name="rr1" value="1" <cfif debug>checked</cfif>>
          </font></div></td>
      <td width="41"> <div align="center"> <font size="2"> 
          <input type="radio" name="rr1" value="2">
          </font></div></td>
      <td width="41"> <div align="center"> <font size="2"> 
          <input type="radio" name="rr1" value="3">
          </font></div></td>
      <td width="41"> <div align="center"> <font size="2"> 
          <input type="radio" name="rr1" value="4">
          </font></div></td>
      <td width="42"> <div align="center"> <font size="2"> 
          <input type="radio" name="rr1" value="5">
          </font></div></td>
      <td width="41"> <div align="center"> <font size="2"> 
          <input type="radio" name="rr1" value="6">
          </font></div></td>
      <td width="42"> <div align="center"> <font size="2"> 
          <input type="radio" name="rr1" value="7"><input type=hidden name="rr1_required" value= "You must enter a rating.">
          </font></div></td>
    </tr>
    <tr> 
      <td rowspan="2" valign="middle"><cfoutput query="RealRating"> #opid2# </cfoutput></td>
      <td><div align="center"><font size="2">1</font></div></td>
      <td><div align="center"><font size="2">2</font></div></td>
      <td><div align="center"><font size="2">3</font></div></td>
      <td><div align="center"><font size="2">4</font></div></td>
      <td><div align="center"><font size="2">5</font></div></td>
      <td><div align="center"><font size="2">6</font></div></td>
      <td><div align="center"><font size="2">7</font></div></td>
    </tr>
    <tr> 
      <td height="14">
<div align="center"> <font size="2"> 
          <input type="radio" name="ri8" value="1" <cfif debug>checked</cfif>>
          </font></div></td>
      <td><div align="center"> <font size="2"> 
          <input type="radio" name="ri8" value="2">
          </font></div></td>
      <td><div align="center"> <font size="2"> 
          <input type="radio" name="ri8" value="3">
          </font></div></td>
      <td><div align="center"> <font size="2"> 
          <input type="radio" name="ri8" value="4">
          </font></div></td>
      <td><div align="center"> <font size="2"> 
          <input type="radio" name="ri8" value="5">
          </font></div></td>
      <td><div align="center"> <font size="2"> 
          <input type="radio" name="ri8" value="6">
          </font></div></td>
      <td><div align="center"> <font size="2"> 
          <input type="radio" name="ri8" value="7"><input type=hidden name="ri8_required" value= "You must enter a rating.">
          </font></div></td>
    </tr>
    <tr bgcolor="#FFFFCC"> 
      <td rowspan="2" valign="middle"><cfoutput query="RealRating"> #opou5# </cfoutput></td>
      <td><div align="center"><font size="2">1</font></div></td>
      <td><div align="center"><font size="2">2</font></div></td>
      <td><div align="center"><font size="2">3</font></div></td>
      <td><div align="center"><font size="2">4</font></div></td>
      <td><div align="center"><font size="2">5</font></div></td>
      <td><div align="center"><font size="2">6</font></div></td>
      <td><div align="center"><font size="2">7</font></div></td>
    </tr>
    <tr bgcolor="#FFFFCC"> 
      <td height="14"> 
        <div align="center"> 
          <input type="radio" name="ro11" value="1" <cfif debug>checked</cfif>>
        </div></td>
      <td> <div align="center"> 
          <input type="radio" name="ro11" value="2">
        </div></td>
      <td> <div align="center"> 
          <input type="radio" name="ro11" value="3">
        </div></td>
      <td> <div align="center"> 
          <input type="radio" name="ro11" value="4">
        </div></td>
      <td> <div align="center"> 
          <input type="radio" name="ro11" value="5">
        </div></td>
      <td> <div align="center"> 
          <input type="radio" name="ro11" value="6">
        </div></td>
      <td> <div align="center"> 
          <input type="radio" name="ro11" value="7"><input type=hidden name="ro11_required" value= "You must enter a rating.">
        </div></td>
    </tr>
    <tr valign="top"> 
      <td height="43" rowspan="2" valign="middle"><cfoutput query="RealRating"> 
          #ideal3# </cfoutput></td>
      <td><div align="center"><font size="2">1</font></div></td>
      <td><div align="center"><font size="2">2</font></div></td>
      <td><div align="center"><font size="2">3</font></div></td>
      <td><div align="center"><font size="2">4</font></div></td>
      <td><div align="center"><font size="2">5</font></div></td>
      <td><div align="center"><font size="2">6</font></div></td>
      <td><div align="center"><font size="2">7</font></div></td>
    </tr>
    <tr valign="top"> 
      <td><div align="center"> <font size="2"> 
          <input type="radio" name="ri3" value="1" <cfif debug>checked</cfif>>
          </font></div></td>
      <td><div align="center"> <font size="2"> 
          <input type="radio" name="ri3" value="2">
          </font></div></td>
      <td><div align="center"> <font size="2"> 
          <input type="radio" name="ri3" value="3">
          </font></div></td>
      <td><div align="center"> <font size="2"> 
          <input type="radio" name="ri3" value="4">
          </font></div></td>
      <td><div align="center"> <font size="2"> 
          <input type="radio" name="ri3" value="5">
          </font></div></td>
      <td><div align="center"> <font size="2"> 
          <input type="radio" name="ri3" value="6">
          </font></div></td>
      <td><div align="center"> <font size="2"> 
          <input type="radio" name="ri3" value="7"><input type=hidden name="ri3_required" value= "You must enter a rating.">
          </font></div></td>
    </tr>
    <tr valign="top"> 
        <td height="43" rowspan="2" bgcolor="#FFFFCC"><cfoutput query="RealRating"> 
            #opr4# </cfoutput></td>
      <td bgcolor="#FFFFCC"><div align="center"><font size="2">1</font></div></td>
      <td bgcolor="#FFFFCC"><div align="center"><font size="2">2</font></div></td>
      <td bgcolor="#FFFFCC"><div align="center"><font size="2">3</font></div></td>
      <td bgcolor="#FFFFCC"><div align="center"><font size="2">4</font></div></td>
      <td bgcolor="#FFFFCC"><div align="center"><font size="2">5</font></div></td>
      <td bgcolor="#FFFFCC"><div align="center"><font size="2">6</font></div></td>
      <td bgcolor="#FFFFCC"><div align="center"><font size="2">7</font></div></td>
    </tr>
    <tr valign="top"> 
      <td bgcolor="#FFFFCC"> <div align="center"> 
          <input type="radio" name="rr10" value="1" <cfif debug>checked</cfif>>
        </div></td>
      <td bgcolor="#FFFFCC"> <div align="center"> 
          <input type="radio" name="rr10" value="2">
        </div></td>
      <td bgcolor="#FFFFCC"> <div align="center"> 
          <input type="radio" name="rr10" value="3">
        </div></td>
      <td bgcolor="#FFFFCC"> <div align="center"> 
          <input type="radio" name="rr10" value="4">
        </div></td>
      <td bgcolor="#FFFFCC"> <div align="center"> 
          <input type="radio" name="rr10" value="5">
        </div></td>
      <td bgcolor="#FFFFCC"> <div align="center"> 
          <input type="radio" name="rr10" value="6">
        </div></td>
      <td bgcolor="#FFFFCC"> <div align="center"> 
          <input type="radio" name="rr10" value="7"><input type=hidden name="rr10_required" value= "You must enter a rating.">
        </div></td>
    </tr>
    <tr valign="top"> 
      <td height="43" rowspan="2"><cfoutput query="RealRating"> #ought2# </cfoutput></td>
      <td><div align="center"><font size="2">1</font></div></td>
      <td><div align="center"><font size="2">2</font></div></td>
      <td><div align="center"><font size="2">3</font></div></td>
      <td><div align="center"><font size="2">4</font></div></td>
      <td><div align="center"><font size="2">5</font></div></td>
      <td><div align="center"><font size="2">6</font></div></td>
      <td><div align="center"><font size="2">7</font></div></td>
    </tr>
    <tr valign="top"> 
      <td><div align="center"> <font size="2"> 
          <input type="radio" name="ro2" value="1" <cfif debug>checked</cfif>>
          </font></div></td>
      <td><div align="center"> <font size="2"> 
          <input type="radio" name="ro2" value="2">
          </font></div></td>
      <td><div align="center"> <font size="2"> 
          <input type="radio" name="ro2" value="3">
          </font></div></td>
      <td><div align="center"> <font size="2"> 
          <input type="radio" name="ro2" value="4">
          </font></div></td>
      <td><div align="center"> <font size="2"> 
          <input type="radio" name="ro2" value="5">
          </font></div></td>
      <td><div align="center"> <font size="2"> 
          <input type="radio" name="ro2" value="6">
          </font></div></td>
      <td><div align="center"> <font size="2"> 
          <input type="radio" name="ro2" value="7"><input type=hidden name="ro2_required" value= "You must enter a rating.">
          </font></div></td>
    </tr>
    <tr valign="top"> 
        <td height="43" rowspan="2" bgcolor="#FFFFCC"><cfoutput query="RealRating"> 
            #real4# </cfoutput></td>
      <td bgcolor="#FFFFCC"><div align="center"><font size="2">1</font></div></td>
      <td bgcolor="#FFFFCC"><div align="center"><font size="2">2</font></div></td>
      <td bgcolor="#FFFFCC"><div align="center"><font size="2">3</font></div></td>
      <td bgcolor="#FFFFCC"><div align="center"><font size="2">4</font></div></td>
      <td bgcolor="#FFFFCC"><div align="center"><font size="2">5</font></div></td>
      <td bgcolor="#FFFFCC"><div align="center"><font size="2">6</font></div></td>
      <td bgcolor="#FFFFCC"><div align="center"><font size="2">7</font></div></td>
    </tr>
    <tr valign="top"> 
      <td bgcolor="#FFFFCC"> <div align="center"> 
          <input type="radio" name="rr4" value="1" <cfif debug>checked</cfif>>
        </div></td>
      <td bgcolor="#FFFFCC"> <div align="center"> 
          <input type="radio" name="rr4" value="2">
        </div></td>
      <td bgcolor="#FFFFCC"> <div align="center"> 
          <input type="radio" name="rr4" value="3">
        </div></td>
      <td bgcolor="#FFFFCC"> <div align="center"> 
          <input type="radio" name="rr4" value="4">
        </div></td>
      <td bgcolor="#FFFFCC"> <div align="center"> 
          <input type="radio" name="rr4" value="5">
        </div></td>
      <td bgcolor="#FFFFCC"> <div align="center"> 
          <input type="radio" name="rr4" value="6">
        </div></td>
      <td bgcolor="#FFFFCC"> <div align="center"> 
          <input type="radio" name="rr4" value="7"><input type=hidden name="rr4_required" value= "You must enter a rating.">
        </div></td>
    </tr>
    <tr valign="top"> 
      <td height="43" rowspan="2"><cfoutput query="RealRating"> #ideal6# </cfoutput></td>
      <td><div align="center"><font size="2">1</font></div></td>
      <td><div align="center"><font size="2">2</font></div></td>
      <td><div align="center"><font size="2">3</font></div></td>
      <td><div align="center"><font size="2">4</font></div></td>
      <td><div align="center"><font size="2">5</font></div></td>
      <td><div align="center"><font size="2">6</font></div></td>
      <td><div align="center"><font size="2">7</font></div></td>
    </tr>
    <tr valign="top"> 
      <td><div align="center"> <font size="2"> 
          <input type="radio" name="ri6" value="1" <cfif debug>checked</cfif>>
          </font></div></td>
      <td><div align="center"> <font size="2"> 
          <input type="radio" name="ri6" value="2">
          </font></div></td>
      <td><div align="center"> <font size="2"> 
          <input type="radio" name="ri6" value="3">
          </font></div></td>
      <td><div align="center"> <font size="2"> 
          <input type="radio" name="ri6" value="4">
          </font></div></td>
      <td><div align="center"> <font size="2"> 
          <input type="radio" name="ri6" value="5">
          </font></div></td>
      <td><div align="center"> <font size="2"> 
          <input type="radio" name="ri6" value="6">
          </font></div></td>
      <td><div align="center"> <font size="2"> 
          <input type="radio" name="ri6" value="7"><input type=hidden name="ri6_required" value= "You must enter a rating.">
          </font></div></td>
    </tr>
    <tr valign="top"> 
        <td height="43" rowspan="2" bgcolor="#FFFFCC"><cfoutput query="RealRating"> 
            #opid5# </cfoutput></td>
      <td bgcolor="#FFFFCC"><div align="center"><font size="2">1</font></div></td>
      <td bgcolor="#FFFFCC"><div align="center"><font size="2">2</font></div></td>
      <td bgcolor="#FFFFCC"><div align="center"><font size="2">3</font></div></td>
      <td bgcolor="#FFFFCC"><div align="center"><font size="2">4</font></div></td>
      <td bgcolor="#FFFFCC"><div align="center"><font size="2">5</font></div></td>
      <td bgcolor="#FFFFCC"><div align="center"><font size="2">6</font></div></td>
      <td bgcolor="#FFFFCC"><div align="center"><font size="2">7</font></div></td>
    </tr>
    <tr valign="top"> 
      <td bgcolor="#FFFFCC"> <div align="center"> 
          <input type="radio" name="ri11" value="1" <cfif debug>checked</cfif>>
        </div></td>
      <td bgcolor="#FFFFCC"> <div align="center"> 
          <input type="radio" name="ri11" value="2">
        </div></td>
      <td bgcolor="#FFFFCC"> <div align="center"> 
          <input type="radio" name="ri11" value="3">
        </div></td>
      <td bgcolor="#FFFFCC"> <div align="center"> 
          <input type="radio" name="ri11" value="4">
        </div></td>
      <td bgcolor="#FFFFCC"> <div align="center"> 
          <input type="radio" name="ri11" value="5">
        </div></td>
      <td bgcolor="#FFFFCC"> <div align="center"> 
          <input type="radio" name="ri11" value="6">
        </div></td>
      <td bgcolor="#FFFFCC"> <div align="center"> 
          <input type="radio" name="ri11" value="7"><input type=hidden name="ri11_required" value= "You must enter a rating.">
        </div></td>
    </tr>
    <tr valign="top"> 
      <td height="43" rowspan="2"><cfoutput query="RealRating"> #opou6# </cfoutput></td>
      <td><div align="center"><font size="2">1</font></div></td>
      <td><div align="center"><font size="2">2</font></div></td>
      <td><div align="center"><font size="2">3</font></div></td>
      <td><div align="center"><font size="2">4</font></div></td>
      <td><div align="center"><font size="2">5</font></div></td>
      <td><div align="center"><font size="2">6</font></div></td>
      <td><div align="center"><font size="2">7</font></div></td>
    </tr>
    <tr valign="top"> 
      <td><div align="center"> <font size="2"> 
          <input type="radio" name="ro12" value="1" <cfif debug>checked</cfif>>
          </font></div></td>
      <td><div align="center"> <font size="2"> 
          <input type="radio" name="ro12" value="2">
          </font></div></td>
      <td><div align="center"> <font size="2"> 
          <input type="radio" name="ro12" value="3">
          </font></div></td>
      <td><div align="center"> <font size="2"> 
          <input type="radio" name="ro12" value="4">
          </font></div></td>
      <td><div align="center"> <font size="2"> 
          <input type="radio" name="ro12" value="5">
          </font></div></td>
      <td><div align="center"> <font size="2"> 
          <input type="radio" name="ro12" value="6">
          </font></div></td>
      <td><div align="center"> <font size="2"> 
          <input type="radio" name="ro12" value="7"><input type=hidden name="ro12_required" value= "You must enter a rating.">
          </font></div></td>
    </tr>
    <tr valign="top"> 
        <td height="43" rowspan="2" bgcolor="#FFFFCC"><cfoutput query="RealRating"> 
            #opr2# </cfoutput></td>
      <td bgcolor="#FFFFCC"><div align="center"><font size="2">1</font></div></td>
      <td bgcolor="#FFFFCC"><div align="center"><font size="2">2</font></div></td>
      <td bgcolor="#FFFFCC"><div align="center"><font size="2">3</font></div></td>
      <td bgcolor="#FFFFCC"><div align="center"><font size="2">4</font></div></td>
      <td bgcolor="#FFFFCC"><div align="center"><font size="2">5</font></div></td>
      <td bgcolor="#FFFFCC"><div align="center"><font size="2">6</font></div></td>
      <td bgcolor="#FFFFCC"><div align="center"><font size="2">7</font></div></td>
    </tr>
    <tr valign="top"> 
      <td bgcolor="#FFFFCC"> <div align="center"> 
          <input type="radio" name="rr8" value="1" <cfif debug>checked</cfif>>
        </div></td>
      <td bgcolor="#FFFFCC"> <div align="center"> 
          <input type="radio" name="rr8" value="2">
        </div></td>
      <td bgcolor="#FFFFCC"> <div align="center"> 
          <input type="radio" name="rr8" value="3">
        </div></td>
      <td bgcolor="#FFFFCC"> <div align="center"> 
          <input type="radio" name="rr8" value="4">
        </div></td>
      <td bgcolor="#FFFFCC"> <div align="center"> 
          <input type="radio" name="rr8" value="5">
        </div></td>
      <td bgcolor="#FFFFCC"> <div align="center"> 
          <input type="radio" name="rr8" value="6">
        </div></td>
      <td bgcolor="#FFFFCC"> <div align="center"> 
          <input type="radio" name="rr8" value="7"><input type=hidden name="rr8_required" value= "You must enter a rating.">
        </div></td>
    </tr>
    <tr valign="top"> 
      <td height="43" rowspan="2"><cfoutput query="RealRating"> #real6# </cfoutput></td>
      <td><div align="center"><font size="2">1</font></div></td>
      <td><div align="center"><font size="2">2</font></div></td>
      <td><div align="center"><font size="2">3</font></div></td>
      <td><div align="center"><font size="2">4</font></div></td>
      <td><div align="center"><font size="2">5</font></div></td>
      <td><div align="center"><font size="2">6</font></div></td>
      <td><div align="center"><font size="2">7</font></div></td>
    </tr>
    <tr valign="top">
      <td><div align="center"> <font size="2"> 
          <input type="radio" name="rr6" value="1" <cfif debug>checked</cfif>>
          </font></div></td>
      <td><div align="center"> <font size="2"> 
          <input type="radio" name="rr6" value="2">
          </font></div></td>
      <td><div align="center"> <font size="2"> 
          <input type="radio" name="rr6" value="3">
          </font></div></td>
      <td><div align="center"> <font size="2"> 
          <input type="radio" name="rr6" value="4">
          </font></div></td>
      <td><div align="center"> <font size="2"> 
          <input type="radio" name="rr6" value="5">
          </font></div></td>
      <td><div align="center"> <font size="2"> 
          <input type="radio" name="rr6" value="6">
          </font></div></td>
      <td><div align="center"> <font size="2"> 
          <input type="radio" name="rr6" value="7"><input type=hidden name="rr6_required" value= "You must enter a rating.">
          </font></div></td>
    </tr>
    <tr valign="top"> 
      <td height="43">&nbsp;</td>
      <td colspan="7"> <div align="left"> <br> <input type="submit" name="Submit" value="Continue"> 
      </td>
    </tr>
  </table>
</center>
</cfform>
