 <cfif myIndex NOT EQUAL 0>
			  
			  <font size="1">&copy; Copyright 1968, 1977 by Charles Spielberger. 
				All rights reserved.<br>
				Published by Mind Garden, Inc., www.mindgarden.com
			  </font> 
		  </cfif>