<script language="JavaScript" src="ew.js"></script>
<script type="text/javascript">
<!--
function EW_checkMyForm(EW_this) {
if (EW_this.ro_abstract && !EW_hasValue(EW_this.ro_abstract, "RADIO" )) {
	if (!EW_onError(EW_this, EW_this.ro_abstract, "RADIO", "Please enter a response."))
		return false;
}
return true;
}
//-->
</script>
<TABLE WIDTH="850" BORDER="0" align="center" CELLPADDING=0 CELLSPACING=0>
    <TR valign="top"> 
      <TD><font size="4"><strong>Please follow the instructions below.</strong></font> 
        </TD>
      <TD align="right"><cfinclude template="../progress.cfm">&nbsp;</TD>
    </TR>
	<tr>
		<td colspan="2"><hr /></td>
	</tr>
</TABLE>
<cfoutput>
<form action="frame.cfm?num=#myIndex+1#&myTo=end&myId=#myID#" method="post" onSubmit="return EW_checkMyForm(this);">
</cfoutput>
  <div align="center"> </div>
  <TABLE WIDTH=850 BORDER=0 align="center" CELLPADDING=0 CELLSPACING=0>
    <TR>
      <TD height="30" colspan="7"><div align="center"><img src="images/OughtShouldCircles.gif" width="731" height="360"></div></TD>
    </TR>
    <TR>
      <TD height="30" colspan="7"><div align="center"></div></TD>
    </TR>
    <TR>
      <TD width="15%"><div align="center"><img src="images/0.gif" width="123" height="72"></div></TD>
      <TD width="14%"><div align="center"><img src="images/16.gif" width="102" height="72"></div></TD>
      <TD width="14%"><div align="center"><img src="images/33.gif" width="97" height="72"></div></TD>
      <TD width="14%"><div align="center"><img src="images/50.gif" width="83" height="72"></div></TD>
      <TD width="14%"><div align="center"><img src="images/66.gif" width="76" height="72"></div></TD>
      <TD width="14%"><div align="center"><img src="images/83.gif" width="68" height="72"></div></TD>
      <TD width="15%"><div align="center"><img src="images/100.gif" width="60" height="72"></div></TD>
    </TR>
    <TR>
      <TD colspan="7">&nbsp;</TD>
    </TR>
    <TR>
      <TD><div align="center">
          <input type="radio" name="ro_abstract" value="0.00">
      </div></TD>
      <TD><div align="center">
          <input type="radio" name="ro_abstract" value="0.16">
      </div></TD>
      <TD><div align="center">
          <input type="radio" name="ro_abstract" value="0.33">
      </div></TD>
      <TD><div align="center">
          <input type="radio" name="ro_abstract" value="0.50">
      </div></TD>
      <TD><div align="center">
          <input type="radio" name="ro_abstract" value="0.66">
      </div></TD>
      <TD><div align="center">
          <input type="radio" name="ro_abstract" value="0.83">
      </div></TD>
      <TD><div align="center">
          <input type="radio" name="ro_abstract" value="1.00">
      </div></TD>
    </TR>
    <TR> 
      <TD colspan="7"><p><img src="images/base.gif" width="850" height="63"></p>
      </TD>
    </TR>
    <TR align="center"> 
      <TD colspan="7"> <input type="submit" name="Submit" value="Continue"> 
      </TD>
    </TR>
  </TABLE>
</form>
