

<cfform action="frame.cfm?num=#myIndex+1#&myTo=ideal2&myId=#URL.myId#" method="post">
<center>
    <table width="585" border="0" cellpadding="0" cellspacing="0">
      <tr valign="top"> 
        <td ><h3 align="center"><strong>Please use the following scale to describe
              your</strong></h3>
          <h3 align="center"><strong>IDEAL SELF</strong></h3>
          <h3 align="center"><strong>Yourself as YOU would like be in your own
              eyes.</strong></h3>          
          <p align="center">
            <input type="submit" name="Submit" value="Continue">
            <br>        
          </p>
        </td>
      </tr>
    </table>
</center>
</cfform>
