

<cfform action="frame.cfm?num=#myIndex+1#&myTo=ought2&myId=#URL.myId#" method="post">
<center>
    <table width="585" border="0" cellpadding="0" cellspacing="0">
      <tr valign="top"> 
        <td ><h3 align="center"><strong>Please use
              the following scale to describe your</strong></h3>
          <h3 align="center"><strong>OUGHT SELF </strong></h3>
          <h3 align="center"><strong>Yourself as OTHERS think you ought or should
              be.<br>
          </strong><br>          
            <input type="submit" name="Submit" value="Continue">        
        </h3>
        </td>
      </tr>
    </table>
</center>
</cfform>
