
<html>
<head>
<title>Ought Self</title>
</head>
<cfset mySource = "watson">
<cfset myTable = "oughtself">
<cfset myIndex = #URL.num#>
<cfset myID = #URL.myID#>
<cfinclude template="../debug.cfm">
<cfset myQuest = "6">


<cfset myInclude = #URL.num#>
<!--- If this is fer real, go ahead and update the database 
myPages should be a CONSTANT!!!!--->
<cfset myPages = 2>
<body><center>

  <table width="585" border="0" cellpadding="0" cellspacing="0">
    <tr valign="top"> 
      <td height="17"> <h5>  
         <cfset displayP = 1>
<cfif myIndex NEQ 0>
	<cfset displayP = #myIndex#>
</cfif>
	  <cfoutput>Questionnaire #oughtCount# of #qCount#. Page #displayP# of #myPages#.</cfoutput>
	</h5></td>
    </tr>
    <tr valign="top"> 
      <td> <cfif myIndex EQUAL 76867>
          <cfform action="frame.cfm?num=1&myID=1&mySkip=x">
            <blockquote> 
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr> 
                  <td colspan="2">&nbsp;</td>
                </tr>
                <tr> 
                  <td>
				  <cfquery name="getcode" datasource="#mySource#">
				  	select Id, Code, numpick, Gender from riopc where Id=#URL.myID#
				  </cfquery>
				  <cfoutput>
				  <input name="Code" type="hidden" maxlength="3" value="#getcode.Code#">
				  <input name="Id" type="hidden" maxlength="3" value="#getcode.Id#">
				  <input name="Gender" type="hidden" maxlength="3" value="#getcode.Gender#">
				  </cfoutput>
				  <input type="hidden" name="Code_required" value="Please enter a 3 digit code."> 
                    <input type="hidden" name="Gender_required" value="Please enter a gender."> 
                  </td>
                  <td>
				  	<center>
						<input name="submit" type="submit" value="Begin the Survey"> 
					</center>
                  </td>
                </tr>
              </table>
            </blockquote>
          </cfform>
          <hr>
          <font size="1">Copyright 2004<br>
          Neill Watson, Ph.D.<br>
          College of William &amp; Mary<br>
          <a href="mailto:npwats@wm.edu"><font color="#000066">npwats@wm.edu</font></a></font> 
          <!---  <cfelseif myIndex LESS THAN 4>
        <h3><cfoutput>#myIndex#. #aTitles[myIndex]#</cfoutput></h3></td>--->
        </cfif> </tr>
    <tr valign="top"> 
      <td height="46"> 
	  
	  <cfif myIndex EQUAL 0> 
	  
	  	 	<cfset myIndex = myIndex + 1>
	  		<cfquery name="getcode" datasource="#mySource#">
				select Id, Code, numpick, Gender from riopc where Id=#URL.myID#
			</cfquery>
			
				<cflock name="#CreateUUID()#" timeout="20">
					<cfset todayDate = Now()>
				  <cfset todayFormatDate = #DateFormat(todayDate, "yyyy-mm-dd ")#>
				  <cfset todayFormatTime = #TimeFormat(todayDate, "HH:mm:ss")#>
				  <cfset finalDate = #todayFormatDate# & #todayFormatTime#>
				  <cftransaction>
					<cfquery name="myQ" datasource="#mySource#">
					INSERT INTO #myTable#(Id, Code, Gender, datecreated) VALUES ('#getcode.Id#', '#getcode.Code#', '#getcode.Gender#', '#finalDate#')  
					</cfquery>
					
				  </cftransaction>
				</cflock> 
				<cfset myID = #getcode.Id#> 
				<!--- <cfoutput>#getMaxID.myID#!!!</cfoutput> --->
				<cfform action="frame.cfm?num=#myIndex+1#&myID=#myID#&mySkip=x"> 
				<cfinclude template="#myIndex#.cfm"> &nbsp;</td>
				  <td width="1"></cfform> 
				  <td width="16">
		 
	
	  
	  
	  <cfelseif myIndex EQ 1> 
      <cfform action="frame.cfm?num=#myIndex+1#&myID=#myID#&myTo=2&mySkip=x">
        <cfinclude template="#myInclude#.cfm">
        &nbsp; 
        <td width="1"></td>
      </cfform>
      <td width="1">
	  <cfelseif myIndex EQ 2>
	  	<cfinclude template="#myInclude#.cfm">
	  </cfif> </tr>
    <tr valign="top"> 
      <td> <blockquote>
          <div align="left"></div>
        </blockquote></td>
    </tr>
  </table>
</center>
</body>
</html>
