<%@LANGUAGE="VBSCRIPT" CODEPAGE="1252"%>
<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body><center>
  <table width="585" height="59" border="0" cellpadding="0" cellspacing="0">
    <tr> 
      <td height="39" colspan="8"> <h5> IDEAL SELF: Page 4 of 4</h5></td>
    </tr>
    <tr> 
      <td height="20" colspan="8" valign="top"> 
        <h3><br>
          Thank you for completing the survey.</h3>
		
		<input type="button" value="Close Window" name="close" onClick="window.close()">
        </td>
    </tr>
  </table>
</center>
</body>
</html>
