
<cfquery name="is" datasource="roi">
<cfset mUp = myIndex - 1>
<!--- From.qX where x should be one less than current file Y.cfm --->
<cfset myUpdate = "os" & mUp>
UPDATE #myTable#
	SET os1='#Form.os1#', 
		os2='#Form.os2#', 
		os3='#Form.os3#'
	WHERE ID = #myID#
</cfquery>
<center>
  <table width="585" border="0" cellpadding="0" cellspacing="0">
    <tr> 
      <td><h3>&nbsp;</h3></td>
    </tr>
    <tr valign="top"> 
      <td height="43">
     <cfquery name="Getroi" datasource="roi">
 		SELECT numpick, BigOrder FROM #myTable# WHERE Id=#URL.myId#
	</cfquery>
         <cfif Getroi.BigOrder EQ -1 >
      <input type="button" value="Close the Survey" name="close" onClick="window.close()">
	  <cfelse>
	  <cfinclude template="../getcode_o.cfm">
	  </cfif>
	  	</td>
    </tr>
  </table>
</center>

