<cfquery name="Getroi" datasource="roi">
 SELECT numpick FROM survey WHERE Id=#URL.myId#
</cfquery>

<cfif Getroi.numpick IS 1 OR Getroi.numpick IS 5> 
<cfoutput>
<cfquery name="Updaterat" datasource="roi">
  UPDATE survey
 SET 	io9='#Form.io9#',
    	ii4 ='#Form.ii4#',
    	ir3 ='#Form.ir3#',
    	ii2 = '#Form.ii2#',
    	ir8 = '#Form.ir8#',
    	io10='#Form.io10#',
    	io1 = '#Form.io1#',
    	ir9= '#Form.ir9#',
    	io8 = '#Form.io8#',
    	ii1='#Form.ii1#',
    	io6 ='#Form.io6#',
    	ir11 ='#Form.ir11#'
WHERE Id=#URL.myId#
</cfquery>
</cfoutput>
</cfif> 

<cfif Getroi.numpick IS 2 OR Getroi.numpick IS 6>
<cfoutput>
<!--- CORRECT!!! --->
<cfquery name="Updaterat" datasource="roi">
  UPDATE survey
  SET 	ri10 = '#Form.ri10#',
    	ro5 = '#Form.ro5#',
    	rr5='#Form.rr5#',
    	ro3= '#Form.ro3#',
     	ri7 = '#Form.ri7#',
    	ro7 = '#Form.ro7#',
    	ro1 = '#Form.ro1#',	
    	rr9 = '#Form.rr9#',
    	ro8='#Form.ro8#',
    	ri1 = '#Form.ri1#',
    	ro6= '#Form.ro6#',
     	rr11 = '#Form.rr11#'
WHERE Id=#URL.myId#
</cfquery>
</cfoutput>
</cfif>

<cfquery name="OppRating" datasource="roi">
 SELECT * FROM survey WHERE Id=#URL.myId#
</cfquery>

<cfform action="frame_.cfm?num=#myIndex+1#&myTo=11o&myID=#myID#">
<center>
   <table width="585" border="0" cellpadding="0" cellspacing="0">
      <tr> 
        <td colspan="11" valign="top"> <h3 align="center"><strong>Please use the 
            following scale to describe your</strong></h3>
          <h3 align="center"><strong>OUGHT/SHOULD SELF</strong></h3>
          <h3 align="center"><strong>Yourself as OTHERS think you ought or should 
            be.</strong></h3>
          <div align="center">
            <input type="submit" value="Continue">
          </div></td>
      </tr>
      
    </table>
</center>
</cfform>
