<cfoutput><!--- UPDATE FORM ELEMENTS IN 11.cfm --->
<cfquery name="Updaterat" datasource="roi">
  UPDATE survey
 SET 	or1='#Form.or1#',
    	oi8 ='#Form.oi8#',
    	oo11 ='#Form.oo11#',
    	oi3 = '#Form.oi3#',
    	or10 = '#Form.or10#',
    	oo2='#Form.oo2#',
    	or4 = '#Form.or4#',
    	oi6= '#Form.oi6#',
    	oi11 = '#Form.oi11#',
    	oo12='#Form.oo12#',
    	or8 ='#Form.or8#',
    	or6 ='#Form.or6#'
WHERE Id=#URL.myId#
</cfquery>
</cfoutput>

<cfquery name="OppRating" datasource="roi">
 SELECT * FROM survey WHERE Id=#URL.myId#
</cfquery>

<cfform action="frame_.cfm?num=#myIndex+1#&myTo=11b&myID=#myID#">
<center>
    <table width="585" border="0" cellpadding="0" cellspacing="0">
      <tr valign="top"> 
        <td colspan="11"> <h3>Describe your OUGHT/SHOULD SELF: This is yourself 
            as OTHERS think you ought or should be.</h3></td>
      </tr>
      <tr> 
        <td colspan="11"> <div align="center"><img src="../constructs.gif" width="586" height="49"></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="50%" rowspan="2" valign="middle"><cfoutput query="OppRating"> 
            #opid4# </cfoutput>&nbsp;</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td> <div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="oi10"
value="1">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi10"
value="2">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi10"
value="3">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi10"
value="4">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi10"
value="5">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi10"
value="6">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi10"
value="7">
            </big></big></font><font size="2"> 
            <input name="oi10_required" type=hidden id="oi10_required" value= "You must enter a rating.">
            </font><font color=#ffffff><big><big> </big></big></font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr> 
        <td rowspan="2" valign="middle"><cfoutput query="OppRating"> #ought5# 
          </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr> 
        <td> <div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="oo5"
value="1">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo5"
value="2">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo5"
value="3">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo5"
value="4">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo5"
value="5">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo5"
value="6">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo5"
value="7">
            </big></big></font><font size="2"> 
            <input name="oo5_required" type=hidden id="oo5_required" value= "You must enter a rating.">
            </font><font color=#ffffff><big><big> </big></big></font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="50%" rowspan="2" valign="middle"><cfoutput query="OppRating"> 
            #real5# </cfoutput>&nbsp;</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td> <div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="or5"
value="1">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or5"
value="2">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or5"
value="3">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or5"
value="4">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or5"
value="5">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or5"
value="6">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or5"
value="7">
            </big></big></font><font size="2"> 
            <input name="or5_required" type=hidden id="or5_required" value= "You must enter a rating.">
            </font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr> 
        <td rowspan="2" valign="middle"><cfoutput query="OppRating"> #opid1# </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr> 
        <td> <div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="oi7"
value="1">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi7"
value="2">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi7"
value="3">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi7"
value="4">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi7"
value="5">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi7"
value="6">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi7"
value="7">
            </big></big></font><font size="2"> 
            <input name="oi7_required" type=hidden id="oi7_required" value= "You must enter a rating.">
            </font><font color=#ffffff><big><big> </big></big></font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="50%" rowspan="2" valign="middle"><cfoutput query="OppRating"> 
            #ought3# </cfoutput>&nbsp;</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td> <div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="oo3"
value="1">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo3"
value="2">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo3"
value="3">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo3"
value="4">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo3"
value="5">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo3"
value="6">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo3"
value="7">
            </big></big></font><font size="2"> 
            <input name="oo3_required" type=hidden id="oo3_required" value= "You must enter a rating.">
            </font><font color=#ffffff><big><big> </big></big></font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr> 
        <td rowspan="2" valign="middle"><cfoutput query="OppRating"> #opou1# </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr> 
        <td> <div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="oo7"
value="1">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo7"
value="2">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo7"
value="3">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo7"
value="4">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo7"
value="5">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo7"
value="6">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo7"
value="7">
            </big></big></font><font size="2"> 
            <input type=hidden name="oo7_required" value= "You must enter a rating.">
            </font><font color=#ffffff><big><big> </big></big></font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="50%" rowspan="2" valign="middle"><cfoutput query="OppRating"> 
            #opid6# </cfoutput>&nbsp;</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="41"><div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="oi12"
value="1">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi12"
value="2">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi12"
value="3">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi12"
value="4">
            </big></big></font></div></td>
        <td width="42"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi12"
value="5">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi12"
value="6">
            </big></big></font></div></td>
        <td width="42"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi12"
value="7">
            </big></big></font><font size="2"> 
            <input type=hidden name="oi12_required" value= "You must enter a rating.">
            </font><font color=#ffffff><big><big> </big></big></font></div></td>
        <td width="42">&nbsp;</td>
        <td width="42">&nbsp;</td>
        <td width="42">&nbsp;</td>
      </tr>
      <tr> 
        <td rowspan="2" valign="middle"><cfoutput query="OppRating"> #ideal5# 
          </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr> 
        <td height="14"> <div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="oi5"
value="1">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi5"
value="2">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi5"
value="3">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi5"
value="4">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi5"
value="5">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi5"
value="6">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi5"
value="7">
            </big></big></font><font size="2"> 
            <input type=hidden name="oi5_required" value= "You must enter a rating.">
            </font><font color=#ffffff><big><big> </big></big></font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="50%" rowspan="2" valign="middle"><cfoutput query="OppRating"> 
            #opid3# </cfoutput>&nbsp;</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="41"><div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="oi9"
value="1">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi9"
value="2">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi9"
value="3">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi9"
value="4">
            </big></big></font></div></td>
        <td width="42"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi9"
value="5">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi9"
value="6">
            </big></big></font></div></td>
        <td width="42"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi9"
value="7">
            </big></big></font><font size="2"> 
            <input type=hidden name="oi9_required" value= "You must enter a rating.">
            </font><font color=#ffffff><big><big> </big></big></font></div></td>
        <td width="42">&nbsp;</td>
        <td width="42">&nbsp;</td>
        <td width="42">&nbsp;</td>
      </tr>
      <tr> 
        <td rowspan="2" valign="middle"><cfoutput query="OppRating"> #ought4# 
          </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr> 
        <td height="14"><div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="oo4"
value="1">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo4"
value="2">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo4"
value="3">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo4"
value="4">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo4"
value="5">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo4"
value="6">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo4"
value="7">
            </big></big></font><font size="2"> 
            <input type=hidden name="oo4_required" value= "You must enter a rating.">
            </font><font color=#ffffff><big><big> </big></big></font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="50%" rowspan="2" valign="middle"><cfoutput query="OppRating"> 
            #opr1# </cfoutput>&nbsp;</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="41"> <div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="or7"
value="1">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or7"
value="2">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or7"
value="3">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or7"
value="4">
            </big></big></font></div></td>
        <td width="42"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or7"
value="5">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or7"
value="6">
            </big></big></font></div></td>
        <td width="42"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or7"
value="7">
            </big></big></font><font size="2"> 
            <input type=hidden name="or7_required" value= "You must enter a rating.">
            </font><font color=#ffffff><big><big> </big></big></font></div></td>
        <td width="42">&nbsp;</td>
        <td width="42">&nbsp;</td>
        <td width="42">&nbsp;</td>
      </tr>
      <tr> 
        <td rowspan="2" valign="middle"><cfoutput query="OppRating"> #real2# </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr> 
        <td height="14"><div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="or2"
value="1">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or2"
value="2">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or2"
value="3">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or2"
value="4">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or2"
value="5">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or2"
value="6">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or2"
value="7">
            </big></big></font><font size="2"> 
            <input type=hidden name="or2_required" value= "You must enter a rating.">
            </font><font color=#ffffff><big><big> </big></big></font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43">&nbsp;</td>
        <td colspan="10"> <div align="left"> <br> <input type="submit" name="Submit" value="Continue"> 
        </td>
      </tr>
    </table>
</center>
</cfform>
