<cfoutput><!--- UPDATE FORM ELEMENTS IN 11a.cfm --->
<cfquery name="Updaterat" datasource="roi">
  UPDATE survey
 SET 	oi10='#Form.oi10#',
    	oo5 ='#Form.oo5#',
    	or5 ='#Form.or5#',
    	oi7 = '#Form.oi7#',
    	oo3 = '#Form.oo3#',
    	oo7='#Form.oo7#',
    	oi12 = '#Form.oi12#',
    	oi5= '#Form.oi5#',
    	oi9 = '#Form.oi9#',
    	oo4='#Form.oo4#',
    	or7 ='#Form.or7#',
    	or2 ='#Form.or2#'
WHERE Id=#URL.myId#
</cfquery>
</cfoutput>

<cfquery name="OppRating" datasource="roi">
 SELECT * FROM survey WHERE Id=#URL.myId#
</cfquery>

<cfif OppRating.numpick IS 2 OR OppRating.numpick IS 4> 
<cfset going="10">
</cfif>


<cfif OppRating.numpick IS 3 OR OppRating.numpick IS 5> 
<cfset going="9">
</cfif>

<cfif OppRating.numpick IS 1 OR OppRating.numpick IS 6> 
<cfset going="12">
</cfif>


<cfform action="frame_.cfm?num=#myIndex+1#&myTo=#going#&myID=#myID#">
<center>
    <table width="585" border="0" cellpadding="0" cellspacing="0">
      <tr valign="top"> 
        <td colspan="11"> <h3>Describe your OUGHT/SHOULD SELF: This is yourself 
            as OTHERS think you ought or should be.</h3></td>
      </tr>
      <tr> 
        <td colspan="11"> <div align="center"><img src="../constructs.gif" width="586" height="49"></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="50%" rowspan="2" valign="middle"><cfoutput query="OppRating"> 
            #opou3# </cfoutput>&nbsp;</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="41"><div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="oo9"
value="1">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo9"
value="2">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo9"
value="3">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo9"
value="4">
            </big></big></font></div></td>
        <td width="42"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo9"
value="5">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo9"
value="6">
            </big></big></font></div></td>
        <td width="42"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo9"
value="7">
            </big></big></font><font size="2"> 
            <input type=hidden name="oo9_required" value= "You must enter a rating.">
            </font></div></td>
        <td width="42">&nbsp;</td>
        <td width="42">&nbsp;</td>
        <td width="42">&nbsp;</td>
      </tr>
      <tr> 
        <td rowspan="2" valign="middle"><cfoutput query="OppRating"> #ideal4# 
          </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr> 
        <td height="14"><div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="oi4"
value="1">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi4"
value="2">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi4"
value="3">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi4"
value="4">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi4"
value="5">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi4"
value="6">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi4"
value="7">
            </big></big></font><font size="2"> 
            <input type=hidden name="oi4_required" value= "You must enter a rating.">
            </font><font color=#ffffff><big><big> </big></big></font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="50%" rowspan="2" valign="middle"><cfoutput query="OppRating"> 
            #real3# </cfoutput>&nbsp;</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="41"><div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="or3"
value="1">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or3"
value="2">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or3"
value="3">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or3"
value="4">
            </big></big></font></div></td>
        <td width="42"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or3"
value="5">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or3"
value="6">
            </big></big></font></div></td>
        <td width="42"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or3"
value="7">
            </big></big></font><font size="2"> 
            <input type=hidden name="or3_required" value= "You must enter a rating.">
            </font><font color=#ffffff><big><big> </big></big></font></div></td>
        <td width="42">&nbsp;</td>
        <td width="42">&nbsp;</td>
        <td width="42">&nbsp;</td>
      </tr>
      <tr> 
        <td rowspan="2" valign="middle"><cfoutput query="OppRating"> #ideal2# 
          </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr> 
        <td height="14"><div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="oi2"
value="1">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi2"
value="2">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi2"
value="3">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi2"
value="4">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi2"
value="5">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi2"
value="6">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi2"
value="7">
            </big></big></font><font size="2"> 
            <input type=hidden name="oi2_required" value= "You must enter a rating.">
            </font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="50%" rowspan="2" valign="middle"><cfoutput query="OppRating"> 
            #opr2# </cfoutput>&nbsp;</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="41"><div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="or12"
value="1">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or12"
value="2">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or12"
value="3">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or12"
value="4">
            </big></big></font></div></td>
        <td width="42"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or12"
value="5">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or12"
value="6">
            </big></big></font></div></td>
        <td width="42"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or12"
value="7">
            </big></big></font><font size="2"> 
            <input type=hidden name="or12_required" value= "You must enter a rating.">
            </font><font color=#ffffff><big><big> </big></big></font></div></td>
        <td width="42">&nbsp;</td>
        <td width="42">&nbsp;</td>
        <td width="42">&nbsp;</td>
      </tr>
      <tr> 
        <td rowspan="2" valign="middle"><cfoutput query="OppRating"> #opou4# </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr> 
        <td height="14"><div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="oo10"
value="1">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo10"
value="2">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo10"
value="3">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo10"
value="4">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo10"
value="5">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo10"
value="6">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo10"
value="7">
            </big></big></font><font size="2"> 
            <input type=hidden name="oo10_required" value= "You must enter a rating.">
            </font><font color=#ffffff><big><big> </big></big></font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="50%" rowspan="2" valign="middle"><cfoutput query="OppRating"> 
            #ought1# </cfoutput>&nbsp;</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="41"><div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="oo1"
value="1">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo1"
value="2">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo1"
value="3">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo1"
value="4">
            </big></big></font></div></td>
        <td width="42"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo1"
value="5">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo1"
value="6">
            </big></big></font></div></td>
        <td width="42"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo1"
value="7">
            </big></big></font><font size="2"> 
            <input type=hidden name="oo1_required" value= "You must enter a rating.">
            </font><font color=#ffffff><big><big> </big></big></font></div></td>
        <td width="42">&nbsp;</td>
        <td width="42">&nbsp;</td>
        <td width="42">&nbsp;</td>
      </tr>
      <tr> 
        <td rowspan="2" valign="middle"><cfoutput query="OppRating"> #opr3# </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr> 
        <td height="14"><div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="or9"
value="1">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or9"
value="2">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or9"
value="3">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or9"
value="4">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or9"
value="5">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or9"
value="6">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or9"
value="7">
            </big></big></font><font size="2"> 
            <input type=hidden name="or9_required" value= "You must enter a rating.">
            </font><font color=#ffffff><big><big> </big></big></font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="50%" rowspan="2" valign="middle"><cfoutput query="OppRating"> 
            #opou2# </cfoutput>&nbsp;</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="41"><div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="oo8"
value="1">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo8"
value="2">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo8"
value="3">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo8"
value="4">
            </big></big></font></div></td>
        <td width="42"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo8"
value="5">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo8"
value="6">
            </big></big></font></div></td>
        <td width="42"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo8"
value="7">
            </big></big></font><font size="2"> 
            <input type=hidden name="oo8_required" value= "You must enter a rating.">
            </font><font color=#ffffff><big><big> </big></big></font></div></td>
        <td width="42">&nbsp;</td>
        <td width="42">&nbsp;</td>
        <td width="42">&nbsp;</td>
      </tr>
      <tr> 
        <td rowspan="2" valign="middle"><cfoutput query="OppRating"> #ideal1# 
          </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr> 
        <td height="14"><div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="oi1"
value="1">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi1"
value="2">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi1"
value="3">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi1"
value="4">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi1"
value="5">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi1"
value="6">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi1"
value="7">
            </big></big></font><font size="2"> 
            <input type=hidden name="oi1_required" value= "You must enter a rating.">
            </font><font color=#ffffff><big><big> </big></big></font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="50%" rowspan="2" valign="middle"><cfoutput query="OppRating"> 
            #ought6# </cfoutput>&nbsp;</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="41"><div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="oo6"
value="1">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo6"
value="2">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo6"
value="3">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo6"
value="4">
            </big></big></font></div></td>
        <td width="42"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo6"
value="5">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo6"
value="6">
            </big></big></font></div></td>
        <td width="42"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo6"
value="7">
            </big></big></font><font size="2"> 
            <input type=hidden name="oo6_required" value= "You must enter a rating.">
            </font><font color=#ffffff><big><big> </big></big></font></div></td>
        <td width="42">&nbsp;</td>
        <td width="42">&nbsp;</td>
        <td width="42">&nbsp;</td>
      </tr>
      <tr> 
        <td rowspan="2" valign="middle"><cfoutput query="OppRating"> #opr5# </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr> 
        <td height="14"><div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="or11"
value="1">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or11"
value="2">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or11"
value="3">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or11"
value="4">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or11"
value="5">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or11"
value="6">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or11"
value="7">
            </big></big></font><font size="2"> 
            <input type=hidden name="or11_required" value= "You must enter a rating.">
            </font><font color=#ffffff><big><big> </big></big></font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43">&nbsp;</td>
        <td colspan="10"> <div align="left"> <br> <input type="submit" name="Submit" value="Continue"> 
        </td>
      </tr>
    </table>
</center>
</cfform>
