<cfquery name="Getroi" datasource="roi"> 
 SELECT numpick FROM survey WHERE Id=#URL.myId#
</cfquery>

<cfset myMsg="">

<cfif Getroi.numpick IS 2 OR Getroi.numpick IS 3> 
<cfoutput>

	<cfinclude template="checkideal.cfm">

<cfquery name="Updateideal" datasource="roi">
  UPDATE survey
  SET ideal1='#Form.ideal1#',
    ideal2 = '#Form.ideal2#',
     ideal3= '#Form.ideal3#',
     ideal4 = '#Form.ideal4#',
    ideal5 = '#Form.ideal5#',
     ideal6= '#Form.ideal6#'
WHERE Id=#URL.myId#
</cfquery>
</cfoutput>
</cfif> 

<cfif Getroi.numpick IS 1 OR Getroi.numpick IS 6> 
<cfoutput>

		<cfinclude template="checkought.cfm">

<cfquery name="Updateought" datasource="roi">
  UPDATE survey
  SET ought1='#Form.ought1#',
    ought2 = '#Form.ought2#',
     ought3= '#Form.ought3#',
     ought4 = '#Form.ought4#',
    ought5 = '#Form.ought5#',
     ought6= '#Form.ought6#'
WHERE Id=#URL.myId#
</cfquery>
</cfoutput>
</cfif> 

<cfif Getroi.numpick IS 4 OR Getroi.numpick IS 5> 
<cfoutput>

		<cfinclude template="checkreal.cfm">

<cfquery name="Updatereal" datasource="roi">
  UPDATE survey
  SET real1='#Form.real1#',
    real2 = '#Form.real2#',
     real3= '#Form.real3#',
     real4 = '#Form.real4#',
    real5 = '#Form.real5#',
     real6= '#Form.real6#'
WHERE Id=#URL.myId#
</cfquery>
</cfoutput>
</cfif>



<cfif Len(myMsg) GT 0>
		<cfoutput>#myMsg#</cfoutput>
		&nbsp;
		Please <a href="javascript:history.back()">go back</a> and enter a different characteristic.
<cfelse>


<center>
  <table width="585" border="0" cellpadding="0" cellspacing="0">
    <tr valign="top"> 
      <td width="50%" colspan="8"> <h3>Now, you are asked for the opposite of 
            each of the characteristics you just provided. There are no right 
            or wrong answers. You are asked for your own view.</h3></td>
    </tr>
    <tr valign="top"> 
   
      
      <cfform action="frame_.cfm?num=#myIndex+1#&myTo=6&myID=#myID#">
        <td height="43">&nbsp;</td>
        <td colspan="7"> <div align="left"> <br> <input type="submit" name="Submit" value="Continue"> 
        </td>
      </cfform>
    </tr>
  </table>
</center>

</cfif>