<cfset myList= #Form.real1# & "," & #Form.real2# & "," & #Form.real3# & "," & #Form.real4# & "," & #Form.real5#  >
<cfset myList2= #Form.real1# & "," & #Form.real2# & "," & #Form.real3# & "," & #Form.real4# & "," & #Form.real5#  & "," & #Form.real6#>		
		
		<cfif ListContainsNoCase(#myList#, #Form.real6#, ",")>
			<cfset myMsg = "You have already entered the characteristic '" & #Form.real6# & "' for your real self.  ">
		</cfif>
		<cfset myList = ListDeleteAt(#myList#, 5)>
		<cfif ListContainsNoCase(#myList#, #Form.real5#, ",")>
			<cfset myMsg = "You have already entered the characteristic '" & #Form.real5# & "' for your real self.  ">
		</cfif>
		<cfset myList = ListDeleteAt(#myList#, 4)>
		<cfif ListContainsNoCase(#myList#, #Form.real4#, ",")>
			<cfset myMsg = "You have already entered the characteristic '" & #Form.real4# & "' for your real self.  ">
		</cfif>
		<cfset myList = ListDeleteAt(#myList#, 3)>
		<cfif ListContainsNoCase(#myList#, #Form.real3#, ",")>
			<cfset myMsg = "You have already entered the characteristic '" & #Form.real3# & "' for your real self.  ">
		</cfif>
		<cfset myList = ListDeleteAt(#myList#, 2)>
		<cfif ListContainsNoCase(#myList#, #Form.real2#, ",")>
			<cfset myMsg = "You have already entered the characteristic '" & #Form.real2# & "' for your real self.  ">
		</cfif>
		
		<cfif ListFindNoCase(UCase(#myList2#), "MORE", ", ")>
			<cfset myMsg = myMsg & "The word 'MORE' is not allowed.<BR>">
		</cfif>
		<cfif ListFindNoCase(UCase(#myList2#), "LESS", ", ")>
			<cfset myMsg = myMsg & "The word 'LESS' is not allowed.<BR>">
		</cfif>
		<cfif ListFindNoCase(UCase(#myList2#), "ALWAYS", ", ")>
			<cfset myMsg = myMsg & "The word 'ALWAYS' is not allowed.<BR>">
		</cfif>
		<cfif ListFindNoCase(UCase(#myList2#), "NEVER", ", ")>
			<cfset myMsg = myMsg & "The word 'NEVER' is not allowed.<BR>">
		</cfif>