<cfquery name="OppRating" datasource="watson">
 SELECT * FROM #myTable# WHERE Id=#URL.myId#
</cfquery>

<cfform action="frame_.cfm?num=#myIndex+1#&amp;myTo=11a&amp;myID=#myID#">
<center>
    <table width="585" border="0" cellpadding="0" cellspacing="0">
      <tr valign="top"> 
        <td colspan="11"> <h3>Describe your OUGHT/SHOULD SELF: This is yourself 
            as OTHERS think you ought or should be.</h3></td>
      </tr>
      <tr> 
        <td colspan="11"> <div align="center"><img src="constructs.gif" width="586" height="49"></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="50%" rowspan="2" valign="middle"><cfoutput query="OppRating"> 
            #real1# </cfoutput>&nbsp;</td>
        <td width="41"><div align="center"><font size="2">1</font></div></td>
        <td width="41"><div align="center"><font size="2">2</font></div></td>
        <td width="41"><div align="center"><font size="2">3</font></div></td>
        <td width="41"><div align="center"><font size="2">4</font></div></td>
        <td width="42"><div align="center"><font size="2">5</font></div></td>
        <td width="41"><div align="center"><font size="2">6</font></div></td>
        <td width="42"><div align="center"><font size="2">7</font></div></td>
        <td width="42">&nbsp;</td>
        <td width="42">&nbsp;</td>
        <td width="42">&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td><div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="or1"
value="1" <cfif debug>checked</cfif>>
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or1"
value="2">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or1"
value="3">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or1"
value="4">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or1"
value="5">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or1"
value="6">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or1"
value="7">
            </big></big></font><font size="2"> 
            <input name="or1_required" type=hidden id="or1_required" value= "You must enter a rating.">
            </font><font color=#ffffff><big><big> </big></big></font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr> 
        <td rowspan="2" valign="middle"><cfoutput query="OppRating"> #opid2# </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr> 
        <td> <div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="oi8"
value="1" <cfif debug>checked</cfif>>
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi8"
value="2">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi8"
value="3">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi8"
value="4">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi8"
value="5">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi8"
value="6">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi8"
value="7">
            </big></big></font><font size="2"> 
            <input name="oi8_required" type=hidden id="oi8_required" value= "You must enter a rating.">
            </font><font color=#ffffff><big><big> </big></big></font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="50%" rowspan="2" valign="middle"><cfoutput query="OppRating"> 
            #opou5# </cfoutput>&nbsp;</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td> <div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="oo11"
value="1" <cfif debug>checked</cfif>>
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo11"
value="2">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo11"
value="3">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo11"
value="4">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo11"
value="5">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo11"
value="6">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo11"
value="7">
            </big></big></font><font size="2"> 
            <input name="oo11_required" type=hidden id="oo11_required" value= "You must enter a rating.">
            </font><font color=#ffffff><big><big> </big></big></font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr> 
        <td rowspan="2" valign="middle"><cfoutput query="OppRating"> #ideal3# 
          </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr> 
        <td> <div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="oi3"
value="1" <cfif debug>checked</cfif>>
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi3"
value="2">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi3"
value="3">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi3"
value="4">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi3"
value="5">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi3"
value="6">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi3"
value="7">
            </big></big></font><font size="2"> 
            <input name="oi3_required" type=hidden id="oi3_required" value= "You must enter a rating.">
            </font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="50%" rowspan="2" valign="middle"><cfoutput query="OppRating"> 
            #opr4# </cfoutput>&nbsp;</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td> <div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="or10"
value="1" <cfif debug>checked</cfif>>
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or10"
value="2">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or10"
value="3">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or10"
value="4">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or10"
value="5">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or10"
value="6">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or10"
value="7">
            </big></big></font><font size="2"> 
            <input name="or10_required" type=hidden id="or10_required" value= "You must enter a rating.">
            </font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr> 
        <td rowspan="2" valign="middle"><cfoutput query="OppRating"> #ought2# 
          </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr> 
        <td> <div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="oo2"
value="1" <cfif debug>checked</cfif>>
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo2"
value="2">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo2"
value="3">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo2"
value="4">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo2"
value="5">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo2"
value="6">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo2"
value="7">
            </big></big></font><font size="2"> 
            <input name="oo2_required" type=hidden id="oo2_required" value= "You must enter a rating.">
            </font><font color=#ffffff><big><big> </big></big></font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="50%" rowspan="2" valign="middle"><cfoutput query="OppRating"> 
            #real4# </cfoutput>&nbsp;</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td> <div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="or4"
value="1" <cfif debug>checked</cfif>>
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or4"
value="2">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or4"
value="3">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or4"
value="4">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or4"
value="5">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or4"
value="6">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or4"
value="7">
            </big></big></font><font size="2"> 
            <input name="or4_required" type=hidden id="or4_required" value= "You must enter a rating.">
            </font><font color=#ffffff><big><big> </big></big></font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr> 
        <td rowspan="2" valign="middle"><cfoutput query="OppRating"> #ideal6# 
          </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr> 
        <td> <div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="oi6"
value="1" <cfif debug>checked</cfif>>
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi6"
value="2">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi6"
value="3">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi6"
value="4">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi6"
value="5">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi6"
value="6">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi6"
value="7">
            </big></big></font><font size="2"> 
            <input name="oi6_required" type=hidden id="oi6_required" value= "You must enter a rating.">
            </font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="50%" rowspan="2" valign="middle"><cfoutput query="OppRating"> 
            #opid5# </cfoutput>&nbsp;</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td> <div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="oi11"
value="1" <cfif debug>checked</cfif>>
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi11"
value="2">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi11"
value="3">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi11"
value="4">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi11"
value="5">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi11"
value="6">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi11"
value="7">
            </big></big></font><font size="2"> 
            <input name="oi11_required" type=hidden id="oi11_required" value= "You must enter a rating.">
            </font><font color=#ffffff><big><big> </big></big></font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr> 
        <td rowspan="2" valign="middle"><cfoutput query="OppRating"> #opou6# </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr> 
        <td> <div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="oo12"
value="1" <cfif debug>checked</cfif>>
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo12"
value="2">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo12"
value="3">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo12"
value="4">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo12"
value="5">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo12"
value="6">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo12"
value="7">
            </big></big></font><font size="2"> 
            <input name="oo12_required" type=hidden id="oo12_required" value= "You must enter a rating.">
            </font><font color=#ffffff><big><big> </big></big></font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="50%" rowspan="2" valign="middle"><cfoutput query="OppRating"> 
            #opr2# </cfoutput>&nbsp;</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td> <div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="or8"
value="1" <cfif debug>checked</cfif>>
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or8"
value="2">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or8"
value="3">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or8"
value="4">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or8"
value="5">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or8"
value="6">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or8"
value="7">
            </big></big></font><font size="2"> 
            <input name="or8_required" type=hidden id="or8_required" value= "You must enter a rating.">
            </font><font color=#ffffff><big><big> </big></big></font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr> 
        <td rowspan="2" valign="middle"><cfoutput query="OppRating"> #real6# </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr> 
        <td> <div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="or6"
value="1" <cfif debug>checked</cfif>>
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or6"
value="2">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or6"
value="3">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or6"
value="4">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or6"
value="5">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or6"
value="6">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or6"
value="7">
            </big></big></font><font size="2"> 
            <input name="or6_required" type=hidden id="or6_required" value= "You must enter a rating.">
            </font><font color=#ffffff><big><big> </big></big></font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43">&nbsp;</td>
        <td colspan="10"> <div align="left"> <br> <input type="submit" name="Submit" value="Continue"> 
        </td>
      </tr>
    </table>
</center>
</cfform>
