
<cfinclude template="checkop1.cfm">

<cfif Len(myMsg) GT 0>
		<cfoutput>#myMsg#</cfoutput>
		&nbsp;
		Please <a href="javascript:history.back()">go back</a> and enter a different characteristic.
<cfelse>

<cfoutput>
<cfquery name="Updateideal" datasource="watson">
  UPDATE #myTable#
  SET 	opr1='#Form.opr1#',
    	opou2 ='#Form.opou2#',
    	opid3 ='#Form.opid3#',
    	opid4 = '#Form.opid4#',
     	opou5= '#Form.opou5#',
     	opr6 = '#Form.opr6#',
    	opid2 = '#Form.opid2#',
     	opou1= '#Form.opou1#',
      	opid6 = '#Form.opid6#'
WHERE Id=#URL.myId#
</cfquery>
</cfoutput>

<script language="JavaScript">
function checkWord(form, ctrl, value)
        {         
 	Temp = value.toUpperCase();
	if ((Temp.indexOf("NEVER") != -1) || (Temp.indexOf("ALWAYS") != -1) || (Temp.indexOf("LESS") != -1) || (Temp.indexOf("MORE") != -1))
	{ 
	alert("The words Never, Always, More, and Less are not allowed.");
	return (false); 
         }
	else	
	{
	return true;
	}

        }
</script>

<cfquery name="Opp2" datasource="watson">
  SELECT real3,ought6,ideal5,real5,ought4,real2,ideal1,real4,ought3
  FROM #myTable#
WHERE Id=#URL.myId#
</cfquery>


<cfform action="frame_.cfm?num=#myIndex+1#&amp;myTo=8&amp;myID=#myID#">
	<center>
		
    <table width="585" border="0" cellspacing="0" cellpadding="0">
      <tr bgcolor="#FFFFCC"> 
        <td width="380"><div align="left">In your view, if someone is not <cfoutput query="Opp2"> #real3#</cfoutput>, he/she is</div></td>
        <td width="205"><cfinput type="Text" name="opr3" size="20"  message="Please Re-Enter data" maxlength="35">
          <input type=hidden name="opr3_required" value= "You must fill in all fields"> 
        </td>
      </tr>
      <tr> 
        <td><div align="left"><font size="3">In your view, if someone is not <cfoutput query="Opp2"> 
              #ought6#</cfoutput>, he/she is</font></div></td>
        <td><cfinput type="Text" name="opou6" size="20"  message="Please Re-Enter data" maxlength="35"> 
          <input type=hidden name="opou6_required" value= "You must fill in all fields"> 
        </td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td><div align="left"><font size="3">In your view, if someone is not <cfoutput query="Opp2"> 
              #ideal5#</cfoutput>, he/she is</font></div></td>
        <td><cfinput type="Text" name="opid5" size="20"  message="Please Re-Enter data" maxlength="35">
          <input type=hidden name="opid5_required" value= "You must fill in all fields"> 
        </td>
      </tr>
      <tr> 
        <td><div align="left"><font size="3">In your view, if someone is not <cfoutput query="Opp2"> 
              #real5#</cfoutput>, he/she is</font></div></td>
        <td><cfinput type="Text" name="opr5" size="20"  message="Please Re-Enter data" maxlength="35"> 
          <input type=hidden name="opr5_required" value= "You must fill in all fields"> 
        </td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td><div align="left"><font size="3">In your view, if someone is not <cfoutput query="Opp2"> 
              #ought4#</cfoutput>, he/she is</font></div></td>
        <td><cfinput type="Text" name="opou4" size="20"  message="Please Re-Enter data" maxlength="35">
          <input type=hidden name="opou4_required" value= "You must fill in all fields"> 
        </td>
      </tr>
      <tr> 
        <td><div align="left">In your view, if someone is not <cfoutput query="Opp2"> #real2#</cfoutput>, he/she is</div></td>
        <td><cfinput type="Text" name="opr2" size="20"  message="Please Re-Enter data"  maxlength="35"> 
          <input type=hidden name="opr2_required" value= "You must fill in all fields"></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td> <div align="left">In your view, if someone is not <cfoutput query="Opp2"> #ideal1#</cfoutput>, he/she is</div></td>
        <td><cfinput type="Text" name="opid1" size="20"  message="Please Re-Enter data" maxlength="35">
          <input type=hidden name="opid1_required" value= "You must fill in all fields"></td>
      </tr>
      <tr> 
        <td><div align="left">In your view, if someone is not <cfoutput query="Opp2"> #real4#</cfoutput>, he/she is</div></td>
        <td><cfinput type="Text" name="opr4" size="20"  message="Please Re-Enter data" maxlength="35">
          <input type=hidden name="opr4_required" value= "You must fill in all fields"></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td> <div align="left">In your view, if someone is not <cfoutput query="Opp2"> #ought3#</cfoutput>, he/she is</div></td>
        <td><cfinput type="Text" name="opou3" size="20" message="Please Re-Enter data" maxlength="35">
          <input type=hidden name="opou3_required" value= "You must fill in all fields"></td>
      </tr>
      <tr> 
        <td colspan="2"> <blockquote> 
            <p> 
              <input type="submit" name="Submit" value="Continue">
              &nbsp;</p>
          </blockquote></td>
      </tr>
    </table>
	  </center>

</cfform>

</cfif>