<cfoutput>
<cfquery name="Updaterat" datasource="#mySource#">
  UPDATE #myTable#
  SET stai12 ='#Form.stai12#',
	  stai13 ='#Form.stai13#',
	  stai14 ='#Form.stai14#',
	  stai15 ='#Form.stai15#',
	  stai16 ='#Form.stai16#',
	  stai17 ='#Form.stai17#',
	  stai18 ='#Form.stai18#',
	  stai19 ='#Form.stai19#',
	  stai20 ='#Form.stai20#'
WHERE Id=#URL.myId#
</cfquery>
</cfoutput>

<table width="585" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td colspan="8" align="center">
	<h3>Thank you for completing this questionnaire.</h3>
	<form action="../random_array.cfm">
	<cfoutput>
	  		<input type="hidden" name="num" value="0" />
			<input type="hidden" name="myTo" value="1" />
			<input type="hidden" name="myFrom" value="STAI/frame.cfm" />
				<input type="hidden" name="myId" value="#URL.myId#" />
				  </cfoutput>
    	  <input type="submit" value="Continue to the next Questionnaire">
	  </form>
	</td>
  </tr>
</table>
