<div align="center">
<h2>User Login</h2>

<cfif IsDefined('URL.Message')>
  <cfoutput><span style="Message">#Trim(URL.Message)#</span></cfoutput>
  <p>
</cfif>

<cfoutput>
<form name="ValidateUser" action="setc.cfm" method="Post">
</cfoutput>
<input type="hidden" name="j_username_required" value="You must supply a username">
<input type="hidden" name="j_password_required" value="You must supply a password">

<table border="0">
  <tr>
    <td>Username:</td>
    <td><cfoutput><input type="Text" name="j_username" size="15" maxlength="255"></cfoutput></td>
  </tr>
  <tr>
    <td>Password:</td>
    <td><input type="Password" name="j_password" size="15" "maxlength="255"></td>
  </tr>
  <tr>
    <td colspan="2" align="Center"><input type="Submit" name="Submit" value="Submit"></td>
  </tr>
</table>
</form>

</div>