
<cfset participant = getTheCode.Code MOD 48>

<cfif participant EQ 0>
	<cfset participant = 48>
</cfif>

<cfset myNormalizedOrder = "">
<cfset whichBDI = "">
<cfset myRandomOrder = ListToArray("43,7,44,5,15,29,37,25,34,1,42,47,40,12,19,32,23,31,39,22,18,46,26,35,41,33,17,2,21,38,8,45,48,3,36,4,11,28,10,30,14,16,27,13,9,20,6,24", ",")>
<cfloop from="1" to="#ArrayLen(myRandomOrder)#" index="i">
	<cfif myRandomOrder[i] EQ participant>
		<cfset myNormalizedOrder = i>
	</cfif>
</cfloop>
<cfif myNormalizedOrder GTE 1 AND myNormalizedOrder LTE 12>
	<cfset whichBDI = 1>
<cfelseif myNormalizedOrder GTE 13 AND myNormalizedOrder LTE 24>
	<cfset whichBDI = 2>
<cfelseif myNormalizedOrder GTE 25 AND myNormalizedOrder LTE 36>
	<cfset whichBDI = 3>
<cfelseif myNormalizedOrder GTE 37 AND myNormalizedOrder LTE 48>
	<cfset whichBDI = 4>
</cfif>