
<cfquery name="is" datasource="roi">
<cfset mUp = myIndex - 1>
<!--- From.qX where x should be one less than current file Y.cfm --->
<cfset myUpdate = "is" & mUp>
UPDATE #myTable#
	SET is1='#Form.is1#', 
		is2='#Form.is2#', 
		is3='#Form.is3#'
	WHERE ID = #myID#
</cfquery>
<center>
  <table width="585" border="0" cellpadding="0" cellspacing="0">
    <tr> 
      <td><h3>&nbsp;</h3></td>
    </tr>
    <tr valign="top"> 
      <td height="43"> <blockquote>
	  <cfquery name="Getroi" datasource="roi">
 		SELECT numpick, BigOrder FROM #myTable# WHERE Id=#URL.myId#
	</cfquery>
         <cfif Getroi.BigOrder EQ -1 >
      <input type="button" value="Close the Survey" name="close" onClick="window.close()">
	  <cfelse>
	  	<cfinclude template="../../Copy of latentvariable/getcode_i.cfm">
	   </cfif>
	</td>
	
    </tr>
  </table>
</center>

