<%@LANGUAGE="VBSCRIPT" CODEPAGE="1252"%>
<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body><center>
  <table width="585" height="349" border="0" cellpadding="0" cellspacing="0">
    <tr> 
      <td colspan="2"><h5> IDEAL SELF: Page 2 of 4</h5></td>
    </tr>
    <tr> 
      <td colspan="2"><h3>INTRODUCTION FOR RESEARCHER</h3></td>
    </tr>
    <tr> 
      <td height="45" colspan="2"> <h4>This is a measure of the importance to 
          the person of his or her ideal self (yourself as YOU would like to be 
          in your own eyes). <br>
        </h4></td>
    </tr>
    <tr bgcolor="#FFFFCC"> 
      <td width="341"><h3>Code</h3></td>
      <td> <div align="center"> 
          <input name="textfield" type="text" maxlength="3">
        </div></td>
    </tr>
    <tr> 
      <td> <h3>Gender</h3></td>
      <td> <div align="center"> 
          <h4>
            <input type="radio" name="radiobutton" value="radiobutton">
            Male 
            <input type="radio" name="radiobutton" value="radiobutton">
            Female </h4>
        </div></td>
    </tr>
    <tr valign="top"> 
      <td>&nbsp;</td>
      <td> <div align="left"> 
          <form action="../../Copy of latentvariable/Ideal/getratings.cfm" method="post">
            <input type="submit" name="Submit" value="Continue to Page 3 of 4">
          </form>
        </div>
        <div align="center"></div>
        <div align="center"></div>
        <div align="center"></div>
        <div align="center"></div>
        <div align="center"></div>
        <div align="center"></div></td>
    </tr>
  </table>
</center>
</body>
</html>
