<BR /><BR /><BR /><BR /><BR /><BR />

<cfquery name="getTheCode" datasource="#mySource#">
	SELECT Code FROM #myTable# where Id = #URL.myID#
</cfquery>


<cfinclude template="determine_end.cfm">

<cfif whichBDI EQ 2 OR whichBDI EQ 4>
			
			<cfinclude template="final_end.cfm">
			
		<cfelse>
<div align="center"><STRONG>Thank you for completing this questionnaire.<BR>
<cfset addProgress = #Cookie.whichQuestionnaire# + 1>
<cfcookie name="whichQuestionnaire" value="#addProgress#">
  <form method="post" action="../random_array.cfm?<cfoutput>#CGI.QUERY_STRING#</cfoutput>">
		<input type="hidden" value="BDI/frame.cfm" name="myFrom">
		<input type="hidden" value="<cfoutput>#getTheCode.Code#</cfoutput>" name="code">
		<input type="submit" value="Please click here to continue to the next one.">
  </form>
</STRONG></div>
</cfif>

