
<center>
  <table width="585" border="0" cellpadding="0" cellspacing="0">
    <tr valign="top"> 
      <td width="50%" colspan="8"> <h3>&nbsp;</h3></td>
    </tr>
    <tr valign="top"> 
      <td height="190" colspan="8"> 
        <blockquote> 
          <h3>Now, you are asked to use a numeric scale to rate 28 personality 
            characteristics according to each of the following instructions:</h3>
          <ul>
            <li>
              <h3>Describe your REAL SELF - yourself as YOU see yourself in your 
                own eyes.</h3>
            </li>
            <li>
              <h3>Describe your IDEAL SELF - yourself as YOU would like to be 
                in your own eyes.</h3>
            </li>
            <li>
              <h3>Describe your OUGHT/SHOULD SELF - yourself as OTHERS think you 
                ought or should be.</h3>
            </li>
          </ul>
          <h3>You are asked for your own view. There are no right or wrong answers.</h3>
        </blockquote></td>
    </tr>
    <tr valign="top"> 
	<!--- 	REAL 	= 2.cfm
		IDEAL 	= 3.cfm
		OUGHT	= 4.cfm --->
		<cfquery name="Getroi" datasource="#mySource#"> 
 			SELECT numpick FROM #myTable# WHERE Id=#URL.myId#
		</cfquery>
	<cfif Getroi.numpick EQ 1 OR Getroi.numpick EQ 2>
	<!--- real --->
<cfset going="real1">
</cfif>
<cfif Getroi.numpick EQ 3 OR Getroi.numpick EQ 4>
<!--- ought --->
<cfset going="ought1">
</cfif>
<cfif Getroi.numpick EQ 5 OR Getroi.numpick EQ 6>
<!--- ideal --->
<cfset going="ideal1">
</cfif>

<cfform action="frame.cfm?num=#myIndex+1#&amp;myTo=#going#&amp;myID=#myID#">

      <td height="43">&nbsp;</td>
      <td colspan="7"> <div align="left"> <br> <input type="submit" name="Submit" value="Continue"> 
      </td>
</cfform>
    </tr>
  </table>
</center>

