<%@LANGUAGE="VBSCRIPT" CODEPAGE="1252"%>
<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body><center>
  <table width="585" height="246" border="0" cellpadding="0" cellspacing="0">
    <tr> 
      <td height="39" colspan="8"> <h5>IDEAL SELF: Page 1 of 4</h5></td>
    </tr>
    <tr>
      <td height="20" colspan="8" valign="top"><h3>INTRODUCTION FOR RESEARCHER</h3></td>
    </tr>
    <tr> 
      <td height="187" colspan="8" valign="top"> 
        <h4><br>
          This is a measure of the importance to the person of his or her ideal 
          self (yourself as YOU would like to be in your own eyes).</h4>
		  <form action="getinfo.cfm" method="post">
        <input type="submit" value="Continue to Page 2 of 4" name="cont"></form> 
      </td>
    </tr>
  </table>
</center>
</body>
</html>
