<cfset myOK = FALSE>

<cfif not isdefined("Form.checkbox1")>
  <cfset form.checkbox1 = "0">
<cfelse>
  <cfset myOK = TRUE>
  <cfset form.checkbox1 = "1">
</cfif>
<cfif not isdefined("Form.checkbox2")>
  <cfset form.checkbox2 = "0">
<cfelse>
	<cfset myOK = TRUE>
  <cfset form.checkbox2 = "1">
</cfif>
<cfif not isdefined("Form.checkbox3")>
  <cfset form.checkbox3 = "0">
<cfelse>
	<cfset myOK = TRUE>
  <cfset form.checkbox3 = "1">
</cfif>
<cfif not isdefined("Form.checkbox4")>
  <cfset form.checkbox4 = "0">
<cfelse>
	<cfset myOK = TRUE>
  <cfset form.checkbox4 = "1">
</cfif>
<cfif not isdefined("Form.checkbox5")>
  <cfset form.checkbox5 = "0">
<cfelse>
	<cfset myOK = TRUE>
  <cfset form.checkbox5 = "1">
</cfif>
<cfif not isdefined("Form.checkbox6")>
  <cfset form.checkbox6 = "0">
<cfelse>
	<cfset myOK = TRUE>
  <cfset form.checkbox6 = "1">
</cfif>
<cfif not isdefined("Form.checkbox7")>
  <cfset form.checkbox7 = "0">
<cfelse>
	<cfset myOK = TRUE>
  <cfset form.checkbox7 = "1">
</cfif>
<cfif not isdefined("Form.checkbox8")>
  <cfset form.checkbox8 = "0">
<cfelse>
	<cfset myOK = TRUE>
  <cfset form.checkbox8 = "1">
</cfif>
<cfif not isdefined("Form.checkbox9")>
  <cfset form.checkbox9 = "0">
<cfelse>
	<cfset myOK = TRUE>
  <cfset form.checkbox9 = "1">
</cfif>
<cfif not isdefined("Form.checkbox10")>
  <cfset form.checkbox10 = "0">
<cfelse>
	<cfset myOK = TRUE>
  <cfset form.checkbox10 = "1">
</cfif>
<cfif CompareNoCase(#Form.others#,  "Please type whom you had in mind.") NEQ 0>
	<cfset myOK = TRUE>
	<cfset form.others = Replace(#form.others#, ",", " ")>
<cfelse>
	<cfset form.others = "0">
</cfif>

<cfif myOK>
<cfoutput>
<cfquery name="Updaterat" datasource="#mySource#">
  UPDATE #myTable#
  SET mother ='#Form.checkbox1#',
	  father ='#Form.checkbox2#',
	  sibling ='#Form.checkbox3#',
	  friend ='#Form.checkbox4#',
	  closefriend ='#Form.checkbox5#',
	  girlfriend ='#Form.checkbox6#',
	  boyfriend ='#Form.checkbox7#',
	  spouse ='#Form.checkbox8#',
	  peers ='#Form.checkbox9#',
	  society ='#Form.checkbox10#',
	  others ='#Form.others#'
WHERE Id=#URL.myId#
</cfquery>
</cfoutput>

<cfcookie name="npwatscookie" value="true" expires="NOW">
		<cfcookie name="whichQuestionnaire" value="0" expires="NOW">
		<br><br><br><br><br><br><br>
		<table width="585" align="center"><tr><td>
            <h3>Thank you for completing the questionnaires.</h3> <br>
            <!--- Or, go 
			<a href="http://cfdev.wm.edu/watson/results.cfm?Id=<cfoutput>#URL.myID#</cfoutput>">here</a> 
			to see the results of your questionnaire. For testing purposes only. --->
            </strong><BR><input type="button" value="Close the Questionnaire" name="close" onClick=	"window.close()"></td></tr></table>
<cfelse>

		You must indicate at least one reference person for your ought self.
		<BR>
		Please <a href="javascript:history.back()">go back</a> and fix this problem.



</cfif>