<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body>
<CFIF Form.j_username is "npwats" and Form.j_password is "DHuxQ9">
	<cfcookie name="npwatscookie" value="true" expires="1">
	<cflocation url="bai.cfm">
<cfelse>
	<cflocation url="login.cfm?message=Incorrect+Username+Password+Combination.">
</cfif>
</body>
</html>
