<cfquery name="Getroi" datasource="#mySource#">
 SELECT numpick FROM #myTable# WHERE Id=#URL.myId#
</cfquery>
<!--- OUTDATED!!!!! --->
<cfif Getroi.numpick IS 2 OR Getroi.numpick IS 4> 
<cfoutput>
<cfquery name="Updaterat" datasource="#mySource#">
  UPDATE #myTable#
 SET 	oi8='#Form.oi8#',
    	oi3 ='#Form.oi3#',
    	oo10 ='#Form.oo10#',
    	oi7 = '#Form.oi7#',
    	or12 = '#Form.or12#',
    	oo2='#Form.oo2#',
    	oi2 = '#Form.oi2#',
    	oo12= '#Form.oo12#',
    	oi4 = '#Form.oi4#',
    	oi9='#Form.oi9#',
    	or5 ='#Form.or5#',
    	oi5 ='#Form.oi5#'
WHERE Id=#URL.myId#
</cfquery>
</cfoutput>
</cfif>


<cfif Getroi.numpick IS 1 OR Getroi.numpick IS 3> 
<cfoutput>
<!-- there were two ri7s in update -->

<cfquery name="Updaterat" datasource="#mySource#">
UPDATE #myTable#
  SET 	ri8='#Form.ri8#',
    	ri3 ='#Form.ri3#',
    	ro10 ='#Form.ro10#',
    	ri7 = '#Form.ri7#',
    	rr12 = '#Form.rr12#',
    	ro2='#Form.ro2#',
    	ri2 = '#Form.ri2#',
    	ro12= '#Form.ro12#',
    	ri4 = '#Form.ri4#',
    	ri9='#Form.ri9#',
    	rr5 ='#Form.rr5#',
    	ri5 ='#Form.ri5#'
WHERE Id=#URL.myId#
</cfquery>
</cfoutput>
</cfif>

<cfquery name="IdealRating" datasource="#mySource#">
 SELECT * FROM #myTable# WHERE Id=#URL.myId#
</cfquery>

<cfform action="frame_.cfm?num=#myIndex+1#&myTo=10o&myID=#myID#">
<center>
        <table width="585" border="0" cellpadding="0" cellspacing="0">
      <tr> 
        <td colspan="11" valign="top"> <h3 align="center"><strong>Please use the 
            following scale to describe your</strong></h3>
          <h3 align="center"><strong>IDEAL SELF</strong></h3>
          <h3 align="center"><strong>Yourself as YOU would like be in your own 
            eyes.</strong></h3>
          <div align="center">
            <input type="submit" value="Continue">
          </div></td>
      </tr>
    </table>
</center>
</cfform>
