<cfoutput>
<cfquery name="Updaterat" datasource="#mySource#">
  UPDATE #myTable#
  SET ir1='#Form.ir1#',
    ii11 ='#Form.ii11#',
    ii6 ='#Form.ii6#',
    ir11 = '#Form.ir11#',
    ir8 = '#Form.ir8#',
    io5='#Form.io5#',
    ir10 = '#Form.ir10#',
    io7= '#Form.io7#',
    io9 = '#Form.io9#',
    io3='#Form.io3#',
    ii10 ='#Form.ii10#',
    ir2 ='#Form.ir2#'
WHERE Id=#URL.myId#
</cfquery>
</cfoutput>

<cfquery name="IdealRating" datasource="#mySource#">
 SELECT * FROM #myTable# WHERE Id=#URL.myId#
</cfquery>

<cfif IdealRating.numpick IS 1 OR IdealRating.numpick IS 5> 
<cfset going="11">
</cfif>


<cfif IdealRating.numpick IS 4 OR IdealRating.numpick IS 6> 
<cfset going="9">
</cfif>

<cfif IdealRating.numpick IS 2 OR IdealRating.numpick IS 3> 
<cfset going="12">
</cfif>

<cfform action="frame_.cfm?num=#myIndex+1#&myTo=#going#&myID=#myID#">
<center>
    <table width="585" border="0" cellpadding="0" cellspacing="0">
      <tr valign="top"> 
        <td colspan="11"> <h3>Describe your IDEAL SELF: This is yourself as YOU 
            would like to be in your own eyes.</h3></td>
      </tr>
      <tr> 
        <td colspan="11"> <div align="center"><img src="../constructs.gif" width="586" height="49"></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="50%" height="43" rowspan="2" valign="middle"><cfoutput query="IdealRating"> 
            #opid2# </cfoutput>&nbsp;</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="41"> <div align="center"> <font size="2"> 
            <input type="radio" name="ii8" value="1" <cfif debug>checked</cfif>>
            </font></div></td>
        <td width="41"> <div align="center"> <font size="2"> 
            <input type="radio" name="ii8" value="2">
            </font></div></td>
        <td width="41"> <div align="center"> <font size="2"> 
            <input type="radio" name="ii8" value="3">
            </font></div></td>
        <td width="41"> <div align="center"> <font size="2"> 
            <input type="radio" name="ii8" value="4">
            </font></div></td>
        <td width="42"> <div align="center"> <font size="2"> 
            <input type="radio" name="ii8" value="5">
            </font></div></td>
        <td width="41"> <div align="center"> <font size="2"> 
            <input type="radio" name="ii8" value="6">
            </font></div></td>
        <td width="42"> <div align="center"> <font size="2"> 
            <input type="radio" name="ii8" value="7">
            <input type=hidden name="ii8_required" value= "You must enter a rating.">
            </font></div></td>
        <td width="42">&nbsp;</td>
        <td width="42">&nbsp;</td>
        <td width="42">&nbsp;</td>
      </tr>
      <tr> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="IdealRating"> #ideal3# 
        </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr> 
        <td height="14"> <div align="center"> <font size="2"> 
            <input type="radio" name="ii3" value="1" <cfif debug>checked</cfif>>
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ii3" value="2">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ii3" value="3">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ii3" value="4">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ii3" value="5">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ii3" value="6">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ii3" value="7">
            <input type=hidden name="ii3_required" value= "You must enter a rating.">
            </font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="IdealRating"> #opou4# 
        </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td height="14"> <div align="center"> 
            <input type="radio" name="io10" value="1" <cfif debug>checked</cfif>>
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="io10" value="2">
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="io10" value="3">
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="io10" value="4">
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="io10" value="5">
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="io10" value="6">
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="io10" value="7">
            <input type=hidden name="io10_required" value= "You must enter a rating.">
          </div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="IdealRating"> 
            #opid1# </cfoutput></td>
        <td valign="middle"><div align="center"><font size="2">1</font></div></td>
        <td valign="middle"><div align="center"><font size="2">2</font></div></td>
        <td valign="middle"><div align="center"><font size="2">3</font></div></td>
        <td valign="middle"><div align="center"><font size="2">4</font></div></td>
        <td valign="middle"><div align="center"><font size="2">5</font></div></td>
        <td valign="middle"><div align="center"><font size="2">6</font></div></td>
        <td valign="middle"><div align="center"><font size="2">7</font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ii7" value="1" <cfif debug>checked</cfif>>
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ii7" value="2">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ii7" value="3">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ii7" value="4">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ii7" value="5">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ii7" value="6">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ii7" value="7">
            <input type=hidden name="ii7_required" value= "You must enter a rating.">
        </font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" valign="middle" bgcolor="#FFFFCC"><cfoutput query="IdealRating"> 
            #opr6# </cfoutput></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">1</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">2</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">3</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">4</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">5</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">6</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">7</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir12" value="1" <cfif debug>checked</cfif>>
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir12" value="2">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir12" value="3">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir12" value="4">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir12" value="5">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir12" value="6">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir12" value="7">
            <input type=hidden name="ir12_required" value= "You must enter a rating.">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="IdealRating"> #ought2# </cfoutput></td>
        <td valign="middle"><div align="center"><font size="2">1</font></div></td>
        <td valign="middle"><div align="center"><font size="2">2</font></div></td>
        <td valign="middle"><div align="center"><font size="2">3</font></div></td>
        <td valign="middle"><div align="center"><font size="2">4</font></div></td>
        <td valign="middle"><div align="center"><font size="2">5</font></div></td>
        <td valign="middle"><div align="center"><font size="2">6</font></div></td>
        <td valign="middle"><div align="center"><font size="2">7</font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="io2" value="1" <cfif debug>checked</cfif>>
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="io2" value="2">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="io2" value="3">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="io2" value="4">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="io2" value="5">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="io2" value="6">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="io2" value="7">
            <input type=hidden name="io2_required" value= "You must enter a rating.">
        </font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" valign="middle" bgcolor="#FFFFCC"><cfoutput query="IdealRating"> 
            #ideal2# </cfoutput></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">1</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">2</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">3</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">4</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">5</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">6</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">7</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ii2" value="1" <cfif debug>checked</cfif>>
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ii2" value="2">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ii2" value="3">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ii2" value="4">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ii2" value="5">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ii2" value="6">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ii2" value="7">
            <input type=hidden name="ii2_required" value= "You must enter a rating.">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="IdealRating"> #opou6# </cfoutput></td>
        <td valign="middle"><div align="center"><font size="2">1</font></div></td>
        <td valign="middle"><div align="center"><font size="2">2</font></div></td>
        <td valign="middle"><div align="center"><font size="2">3</font></div></td>
        <td valign="middle"><div align="center"><font size="2">4</font></div></td>
        <td valign="middle"><div align="center"><font size="2">5</font></div></td>
        <td valign="middle"><div align="center"><font size="2">6</font></div></td>
        <td valign="middle"><div align="center"><font size="2">7</font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="io12" value="1" <cfif debug>checked</cfif>>
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="io12" value="2">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="io12" value="3">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="io12" value="4">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="io12" value="5">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="io12" value="6">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="io12" value="7">
            <input type=hidden name="io12_required" value= "You must enter a rating.">
        </font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" valign="middle" bgcolor="#FFFFCC"><cfoutput query="IdealRating"> 
            #ideal4# </cfoutput></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">1</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">2</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">3</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">4</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">5</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">6</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">7</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ii4" value="1" <cfif debug>checked</cfif>>
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ii4" value="2">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ii4" value="3">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ii4" value="4">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ii4" value="5">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ii4" value="6">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ii4" value="7">
            <input type=hidden name="ii4_required" value= "You must enter a rating.">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="IdealRating"> #opid3# </cfoutput></td>
        <td valign="middle"><div align="center"><font size="2">1</font></div></td>
        <td valign="middle"><div align="center"><font size="2">2</font></div></td>
        <td valign="middle"><div align="center"><font size="2">3</font></div></td>
        <td valign="middle"><div align="center"><font size="2">4</font></div></td>
        <td valign="middle"><div align="center"><font size="2">5</font></div></td>
        <td valign="middle"><div align="center"><font size="2">6</font></div></td>
        <td valign="middle"><div align="center"><font size="2">7</font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ii9" value="1" <cfif debug>checked</cfif>>
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ii9" value="2">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ii9" value="3">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ii9" value="4">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ii9" value="5">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ii9" value="6">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ii9" value="7">
            <input type=hidden name="ii9_required" value= "You must enter a rating.">
        </font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" valign="middle" bgcolor="#FFFFCC"><cfoutput query="IdealRating"> 
            #real5# </cfoutput></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">1</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">2</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">3</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">4</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">5</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">6</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">7</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir5" value="1" <cfif debug>checked</cfif>>
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir5" value="2">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir5" value="3">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir5" value="4">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir5" value="5">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir5" value="6">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir5" value="7">
            <input type=hidden name="ir5_required" value= "You must enter a rating.">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="IdealRating"> #ideal5# </cfoutput></td>
        <td valign="middle"><div align="center"><font size="2">1</font></div></td>
        <td valign="middle"><div align="center"><font size="2">2</font></div></td>
        <td valign="middle"><div align="center"><font size="2">3</font></div></td>
        <td valign="middle"><div align="center"><font size="2">4</font></div></td>
        <td valign="middle"><div align="center"><font size="2">5</font></div></td>
        <td valign="middle"><div align="center"><font size="2">6</font></div></td>
        <td valign="middle"><div align="center"><font size="2">7</font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ii5" value="1" <cfif debug>checked</cfif>>
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ii5" value="2">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ii5" value="3">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ii5" value="4">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ii5" value="5">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ii5" value="6">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="ii5" value="7">
            <input type=hidden name="ii5_required" value= "You must enter a rating.">
        </font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43">&nbsp;</td>
        <td colspan="10" valign="top"><input type="submit" name="Submit" value="Continue">        </td>
      </tr>
    </table>
</center>
</cfform>
