<cfoutput><!--- UPDATE FORM ELEMENTS IN 11a.cfm --->
<cfquery name="Updaterat" datasource="#mySource#">
  UPDATE #myTable#
 SET 	or1='#Form.or1#',
    oi11 ='#Form.oi11#',
    oi6 ='#Form.oi6#',
    or11 = '#Form.or11#',
    or8 = '#Form.or8#',
    oo5='#Form.oo5#',
    or10 = '#Form.or10#',
    oo7= '#Form.oo7#',
    oo9 = '#Form.oo9#',
    oo3='#Form.oo3#',
    oi10 ='#Form.oi10#',
    or2 ='#Form.or2#'
WHERE Id=#URL.myId#
</cfquery>
</cfoutput>

<cfquery name="OppRating" datasource="#mySource#">
 SELECT * FROM #myTable# WHERE Id=#URL.myId#
</cfquery>

<cfif OppRating.numpick IS 2 OR OppRating.numpick IS 4> 
<cfset going="10">
</cfif>


<cfif OppRating.numpick IS 3 OR OppRating.numpick IS 5> 
<cfset going="9">
</cfif>

<cfif OppRating.numpick IS 1 OR OppRating.numpick IS 6> 
<cfset going="12">
</cfif>


<cfform action="frame_.cfm?num=#myIndex+1#&myTo=#going#&myID=#myID#">
<center>
    <table width="585" border="0" cellpadding="0" cellspacing="0">
      <tr valign="top"> 
        <td colspan="11"> <h3>Describe your OUGHT/SHOULD SELF: This is yourself 
            as OTHERS think you ought or should be.</h3></td>
      </tr>
      <tr> 
        <td colspan="11"> <div align="center"><img src="../constructs.gif" width="586" height="49"></div></td>
      </tr>
     <tr bgcolor="#FFFFCC"> 
        <td width="50%" height="43" rowspan="2" valign="middle"><cfoutput query="OppRating"> 
            #opid2# </cfoutput>&nbsp;</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="41"> <div align="center"> <font size="2"> 
            <input type="radio" name="oi8" value="1" <cfif debug>checked</cfif>>
            </font></div></td>
        <td width="41"> <div align="center"> <font size="2"> 
            <input type="radio" name="oi8" value="2">
            </font></div></td>
        <td width="41"> <div align="center"> <font size="2"> 
            <input type="radio" name="oi8" value="3">
            </font></div></td>
        <td width="41"> <div align="center"> <font size="2"> 
            <input type="radio" name="oi8" value="4">
            </font></div></td>
        <td width="42"> <div align="center"> <font size="2"> 
            <input type="radio" name="oi8" value="5">
            </font></div></td>
        <td width="41"> <div align="center"> <font size="2"> 
            <input type="radio" name="oi8" value="6">
            </font></div></td>
        <td width="42"> <div align="center"> <font size="2"> 
            <input type="radio" name="oi8" value="7">
            <input type=hidden name="oi8_required" value= "You must enter a rating.">
            </font></div></td>
        <td width="42">&nbsp;</td>
        <td width="42">&nbsp;</td>
        <td width="42">&nbsp;</td>
      </tr>
      <tr> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="OppRating"> #ideal3# 
        </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr> 
        <td height="14"> <div align="center"> <font size="2"> 
            <input type="radio" name="oi3" value="1" <cfif debug>checked</cfif>>
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="oi3" value="2">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="oi3" value="3">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="oi3" value="4">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="oi3" value="5">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="oi3" value="6">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="oi3" value="7">
            <input type=hidden name="oi3_required" value= "You must enter a rating.">
            </font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="OppRating"> #opou4# 
        </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td height="14"> <div align="center"> 
            <input type="radio" name="oo10" value="1" <cfif debug>checked</cfif>>
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="oo10" value="2">
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="oo10" value="3">
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="oo10" value="4">
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="oo10" value="5">
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="oo10" value="6">
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="oo10" value="7">
            <input type=hidden name="oo10_required" value= "You must enter a rating.">
          </div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="OppRating"> 
            #opid1# </cfoutput></td>
        <td valign="middle"><div align="center"><font size="2">1</font></div></td>
        <td valign="middle"><div align="center"><font size="2">2</font></div></td>
        <td valign="middle"><div align="center"><font size="2">3</font></div></td>
        <td valign="middle"><div align="center"><font size="2">4</font></div></td>
        <td valign="middle"><div align="center"><font size="2">5</font></div></td>
        <td valign="middle"><div align="center"><font size="2">6</font></div></td>
        <td valign="middle"><div align="center"><font size="2">7</font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oi7" value="1" <cfif debug>checked</cfif>>
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oi7" value="2">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oi7" value="3">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oi7" value="4">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oi7" value="5">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oi7" value="6">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oi7" value="7">
            <input type=hidden name="oi7_required" value= "You must enter a rating.">
        </font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" valign="middle" bgcolor="#FFFFCC"><cfoutput query="OppRating"> 
            #opr6# </cfoutput></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">1</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">2</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">3</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">4</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">5</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">6</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">7</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="or12" value="1" <cfif debug>checked</cfif>>
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="or12" value="2">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="or12" value="3">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="or12" value="4">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="or12" value="5">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="or12" value="6">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="or12" value="7">
            <input type=hidden name="or12_required" value= "You must enter a rating.">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="OppRating"> #ought2# </cfoutput></td>
        <td valign="middle"><div align="center"><font size="2">1</font></div></td>
        <td valign="middle"><div align="center"><font size="2">2</font></div></td>
        <td valign="middle"><div align="center"><font size="2">3</font></div></td>
        <td valign="middle"><div align="center"><font size="2">4</font></div></td>
        <td valign="middle"><div align="center"><font size="2">5</font></div></td>
        <td valign="middle"><div align="center"><font size="2">6</font></div></td>
        <td valign="middle"><div align="center"><font size="2">7</font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oo2" value="1" <cfif debug>checked</cfif>>
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oo2" value="2">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oo2" value="3">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oo2" value="4">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oo2" value="5">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oo2" value="6">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oo2" value="7">
            <input type=hidden name="oo2_required" value= "You must enter a rating.">
        </font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" valign="middle" bgcolor="#FFFFCC"><cfoutput query="OppRating"> 
            #ideal2# </cfoutput></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">1</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">2</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">3</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">4</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">5</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">6</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">7</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="oi2" value="1" <cfif debug>checked</cfif>>
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="oi2" value="2">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="oi2" value="3">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="oi2" value="4">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="oi2" value="5">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="oi2" value="6">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="oi2" value="7">
            <input type=hidden name="oi2_required" value= "You must enter a rating.">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="OppRating"> #opou6# </cfoutput></td>
        <td valign="middle"><div align="center"><font size="2">1</font></div></td>
        <td valign="middle"><div align="center"><font size="2">2</font></div></td>
        <td valign="middle"><div align="center"><font size="2">3</font></div></td>
        <td valign="middle"><div align="center"><font size="2">4</font></div></td>
        <td valign="middle"><div align="center"><font size="2">5</font></div></td>
        <td valign="middle"><div align="center"><font size="2">6</font></div></td>
        <td valign="middle"><div align="center"><font size="2">7</font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oo12" value="1" <cfif debug>checked</cfif>>
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oo12" value="2">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oo12" value="3">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oo12" value="4">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oo12" value="5">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oo12" value="6">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oo12" value="7">
            <input type=hidden name="oo12_required" value= "You must enter a rating.">
        </font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" valign="middle" bgcolor="#FFFFCC"><cfoutput query="OppRating"> 
            #ideal4# </cfoutput></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">1</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">2</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">3</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">4</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">5</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">6</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">7</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="oi4" value="1" <cfif debug>checked</cfif>>
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="oi4" value="2">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="oi4" value="3">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="oi4" value="4">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="oi4" value="5">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="oi4" value="6">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="oi4" value="7">
            <input type=hidden name="oi4_required" value= "You must enter a rating.">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="OppRating"> #opid3# </cfoutput></td>
        <td valign="middle"><div align="center"><font size="2">1</font></div></td>
        <td valign="middle"><div align="center"><font size="2">2</font></div></td>
        <td valign="middle"><div align="center"><font size="2">3</font></div></td>
        <td valign="middle"><div align="center"><font size="2">4</font></div></td>
        <td valign="middle"><div align="center"><font size="2">5</font></div></td>
        <td valign="middle"><div align="center"><font size="2">6</font></div></td>
        <td valign="middle"><div align="center"><font size="2">7</font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oi9" value="1" <cfif debug>checked</cfif>>
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oi9" value="2">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oi9" value="3">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oi9" value="4">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oi9" value="5">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oi9" value="6">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oi9" value="7">
            <input type=hidden name="oi9_required" value= "You must enter a rating.">
        </font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" valign="middle" bgcolor="#FFFFCC"><cfoutput query="OppRating"> 
            #real5# </cfoutput></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">1</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">2</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">3</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">4</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">5</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">6</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC"><div align="center"><font size="2">7</font></div></td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="or5" value="1" <cfif debug>checked</cfif>>
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="or5" value="2">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="or5" value="3">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="or5" value="4">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="or5" value="5">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="or5" value="6">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="or5" value="7">
            <input type=hidden name="or5_required" value= "You must enter a rating.">
        </div></td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
        <td valign="middle" bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="OppRating"> #ideal5# </cfoutput></td>
        <td valign="middle"><div align="center"><font size="2">1</font></div></td>
        <td valign="middle"><div align="center"><font size="2">2</font></div></td>
        <td valign="middle"><div align="center"><font size="2">3</font></div></td>
        <td valign="middle"><div align="center"><font size="2">4</font></div></td>
        <td valign="middle"><div align="center"><font size="2">5</font></div></td>
        <td valign="middle"><div align="center"><font size="2">6</font></div></td>
        <td valign="middle"><div align="center"><font size="2">7</font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oi5" value="1" <cfif debug>checked</cfif>>
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oi5" value="2">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oi5" value="3">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oi5" value="4">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oi5" value="5">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oi5" value="6">
        </font></div></td>
        <td valign="middle"><div align="center"> <font size="2"> 
            <input type="radio" name="oi5" value="7">
            <input type=hidden name="oi5_required" value= "You must enter a rating.">
        </font></div></td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
        <td valign="middle">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43">&nbsp;</td>
        <td colspan="10"><input type="submit" name="Submit" value="Continue"> 
        </td>
      </tr>
    </table>
</center>
</cfform>
