<cfquery name="Getroi" datasource="#mySource#">
 SELECT numpick FROM #myTable# WHERE Id=#URL.myId#
</cfquery>

<cfset myMsg= "">
<cfif Getroi.numpick IS 2 OR Getroi.numpick IS 4> 
<cfoutput>
		
			<cfinclude template="checkought.cfm">

<cfquery name="Updateought" datasource="#mySource#">
  UPDATE #myTable#
  SET ought1='#Form.ought1#',
    ought2 = '#Form.ought2#',
     ought3= '#Form.ought3#',
     ought4 = '#Form.ought4#',
    ought5 = '#Form.ought5#',
     ought6= '#Form.ought6#'
WHERE Id=#URL.myId#
</cfquery>
</cfoutput>
</cfif> 


<cfif Getroi.numpick IS 1 OR Getroi.numpick IS 3> 
<cfoutput>

		<cfinclude template="checkreal.cfm">

<cfquery name="Updatereal" datasource="#mySource#">
  UPDATE #myTable#
  SET real1='#Form.real1#',
    real2 = '#Form.real2#',
     real3= '#Form.real3#',
     real4 = '#Form.real4#',
    real5 = '#Form.real5#',
     real6= '#Form.real6#'
WHERE Id=#URL.myId#
</cfquery>
</cfoutput>
</cfif>

<cfif Getroi.numpick IS 1 OR Getroi.numpick IS 5> 
<cfset var="ought.cfm?myId=#URL.myId#">
</cfif>



<script language="JavaScript">
function checkWord(form, ctrl, value) {         
 
	return true;
}
</script>

<cfif Getroi.numpick IS 1 OR Getroi.numpick IS 5> 
	<cfset going="4">
</cfif>
<cfif Getroi.numpick IS 4 OR Getroi.numpick IS 6> 
	<cfset going="2">
</cfif>
<cfif Getroi.numpick IS 2 OR Getroi.numpick IS 3> 
	<cfset going="5">
</cfif>


	

<cfif Len(myMsg) GT 0>
		<cfoutput>#myMsg#</cfoutput>
		&nbsp;
		Please <a href="javascript:history.back()">go back</a> and enter a different characteristic.
<cfelse>


<cfform action="frame_.cfm?num=#myIndex+1#&myTo=#going#&myID=#myID#">
	<center>
	
    <table width="585" border="0" cellspacing="0" cellpadding="0">
      <tr> 
        <td colspan="2"><h3>List 6 characteristics that describe your IDEAL SELF. 
              This is yourself as YOU would like to be in your own eyes.</h3></td>
      </tr>
      <tr> 
        <td colspan="2"><blockquote> 
              <p>&nbsp;</p>
          </blockquote></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="64"><div align="right"><font size="3">1.</font></div></td>
        <td width="521"><cfinput type="Text" name="ideal1" onvalidate="checkWord" message="Please Re-Enter data" size="20" maxlength="35" AUTOCOMPLETE="off">
          <input type=hidden name="ideal1_required" value= "You must fill in all fields">
          </td>
      </tr>
      <tr> 
        <td><div align="right"><font size="3">2.</font></div></td>
        <td><cfinput type="Text" name="ideal2" onvalidate="checkWord" message="Please Re-Enter data" size="20" maxlength="35" AUTOCOMPLETE="off">
         
          <input type=hidden name="ideal2_required" value= "You must fill in all fields">
           </td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td><div align="right"><font size="3">3.</font></div></td>
        <td> 
          <cfinput type="Text" name="ideal3" onvalidate="checkWord" message="Please Re-Enter data" size="20"
maxlength="35" AUTOCOMPLETE="off">
           
          <input type=hidden name="ideal3_required" value= "You must fill in all fields">
            </td>
      </tr>
      <tr> 
        <td><div align="right"><font size="3">4.</font></div></td>
        <td> 
          <cfinput type="Text" name="ideal4" onvalidate="checkWord" message="Please Re-Enter data" size="20"
maxlength="35" AUTOCOMPLETE="off">
           
          <input type=hidden name="ideal4_required" value= "You must fill in all fields">
            </td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td><div align="right"><font size="3">5.</font></div></td>
        <td> 
          <cfinput type="Text" name="ideal5" onvalidate="checkWord" message="Please Re-Enter data" size="20"
maxlength="35" AUTOCOMPLETE="off">
           
          <input type=hidden name="ideal5_required" value= "You must fill in all fields">
            </td>
      </tr>
      <tr> 
        <td><div align="right"><font size="3">6.</font></div></td>
        <td> 
          <cfinput type="Text" name="ideal6" onvalidate="checkWord" message="Please Re-Enter data" size="20"
maxlength="35" AUTOCOMPLETE="off">
           
          <input type=hidden name="ideal6_required" value= "You must fill in all fields">
            </td>
      </tr>
      <tr> 
        <td>&nbsp; </td>
        <td><input type="submit" name="Submit" value="Continue"> 
          &nbsp;</td>
      </tr>
    </table>
	  </center>

</cfform>


</cfif>