<cfquery name="Getroi" datasource="roi">
 SELECT numpick, BigOrder FROM #myTable# WHERE Id=#URL.myId#
</cfquery>

<cfif Getroi.numpick IS 2 OR Getroi.numpick IS 3>
<cfoutput>
<cfquery name="Updaterat" datasource="roi">
  UPDATE #myTable#_supplemental
 SET ir15='#Form.ir15#',
    ir16 ='#Form.ir16#',
    ir17 ='#Form.ir17#',
    ir18 = '#Form.ir18#',
    ir19 = '#Form.ir19#',
    ir20='#Form.ir20#',
    ir21 = '#Form.ir21#',
    ir22= '#Form.ir22#',
    ir23 = '#Form.ir23#',
    ir24='#Form.ir24#',
    ir25 ='#Form.ir25#',
    ir26 ='#Form.ir26#',
    ir27 ='#Form.ir27#',
    ir28 ='#Form.ir28#'
WHERE FK=#URL.myId#
</cfquery>
</cfoutput>
</cfif>

<cfif Getroi.numpick IS 1 OR Getroi.numpick IS 6>
<cfoutput>
<cfquery name="Updaterat" datasource="roi">
  UPDATE #myTable#_supplemental
  SET or15='#Form.or15#',
    or16 = '#Form.or16#',
    or17 = '#Form.or17#',
    or18 = '#Form.or18#',
    or19 = '#Form.or19#',
    or20=  '#Form.or20#',
    or21 = '#Form.or21#',
    or22 =  '#Form.or22#',
    or23 = '#Form.or23#',
    or24= '#Form.or24#',
    or25= '#Form.or25#',
    or26= '#Form.or26#',
    or27= '#Form.or27#',
    or28= '#Form.or28#'
WHERE FK=#URL.myId#
</cfquery>
</cfoutput>
</cfif>

<cfif Getroi.numpick IS 4 OR Getroi.numpick IS 5> 
<cfoutput>
<cfquery name="Updaterat" datasource="roi">
  UPDATE #myTable#_supplemental
  SET  rr15='#Form.rr15#',
    rr16 = '#Form.rr16#',
    rr17 = '#Form.rr17#',
    rr18 = '#Form.rr18#',
    rr19 = '#Form.rr19#',
    rr20=  '#Form.rr20#',
    rr21 = '#Form.rr21#',
    rr22 =  '#Form.rr22#',
    rr23 = '#Form.rr23#',
    rr24= '#Form.rr24#',
    rr25= '#Form.rr25#',
    rr26= '#Form.rr26#',
    rr27= '#Form.rr27#',
    rr28= '#Form.rr28#'
WHERE FK=#URL.myId#
</cfquery>
</cfoutput>
</cfif>

<table width="585" height="20" border="0" cellpadding="0" cellspacing="0">
  <tr bgcolor="#FFFFFF"> 
    <td colspan="8" valign="top"><h3><br>
      </h3></td>
  </tr>
  <tr> 
    <td width="73" height="19"><strong> &nbsp;</td>
    <td colspan="7"><strong> 
     <cfif Getroi.BigOrder EQ -1 >
      <input type="button" value="Close the Survey" name="close" onClick="window.close()">
	  <cfelse>
	  	<cfinclude template="../getcode_pc.cfm">
	  </cfif>
      </strong></td>
  </tr>
</table>
