<cfquery name="Getroi" datasource="roi">
 SELECT numpick FROM #myTable# WHERE Id=#URL.myId#
</cfquery>

<cfif Getroi.numpick IS 2 OR Getroi.numpick IS 4> 
<cfoutput>
<cfquery name="Updaterat" datasource="roi">
  UPDATE #myTable#_supplemental
  SET or15 ='#Form.or15#',
    or16 = '#Form.or16#',
    or17 = '#Form.or17#',
    or18 = '#Form.or18#',
    or19 = '#Form.or19#',
    or20=  '#Form.or20#',
    or21 = '#Form.or21#',
    or22 =  '#Form.or22#',
    or23 = '#Form.or23#',
    or24= '#Form.or24#',
    or25= '#Form.or25#',
    or26= '#Form.or26#',
    or27= '#Form.or27#',
    or28= '#Form.or28#'
WHERE FK=#URL.myId#
</cfquery>
</cfoutput>
</cfif>


<cfif Getroi.numpick IS 1 OR Getroi.numpick IS 3> 
<cfoutput>
<!-- there were two ri7s in update -->

<cfquery name="Updaterat" datasource="roi">
  UPDATE #myTable#_supplemental
  SET rr15='#Form.rr15#',
    rr16 = '#Form.rr16#',
    rr17 = '#Form.rr17#',
    rr18 = '#Form.rr18#',
    rr19 = '#Form.rr19#',
    rr20=  '#Form.rr20#',
    rr21 = '#Form.rr21#',
    rr22 =  '#Form.rr22#',
    rr23 = '#Form.rr23#',
    rr24= '#Form.rr24#',
    rr25= '#Form.rr25#',
    rr26= '#Form.rr26#',
    rr27= '#Form.rr27#',
    rr28= '#Form.rr28#'
WHERE FK=#URL.myId#
</cfquery>
</cfoutput>
</cfif>

<cfquery name="RealRating" datasource="roi">
 SELECT * FROM #myTable# WHERE Id=#URL.myId#
</cfquery>

<cfform action="frame.cfm?num=#myIndex+1#&myTo=ideal2&myId=#URL.myId#" method="post">
<center>
    <table width="585" border="0" cellpadding="0" cellspacing="0">
      <tr> 
        <td colspan="11" valign="top"> <h3 align="center"><strong>Please use the 
            following scale to describe your</strong></h3>
          <h3 align="center"><strong>IDEAL SELF</strong></h3>
          <h3 align="center"><strong>Yourself as YOU would like be in your own 
            eyes.</strong></h3>
          <div align="center">
            <input type="submit" value="Continue">
          </div></td>
      </tr>
    </table>
</center>
</cfform>
