<cfquery name="Getroi" datasource="roi">
 SELECT numpick FROM #myTable# WHERE Id=#URL.myId#
</cfquery>

<cfif Getroi.numpick IS 1 OR Getroi.numpick IS 5> 
<cfoutput>
<cfquery name="Updaterat" datasource="roi">
  UPDATE #myTable#_supplemental
  SET ir15='#Form.ir15#',
    ir16 ='#Form.ir16#',
    ir17 ='#Form.ir17#',
    ir18 = '#Form.ir18#',
    ir19 = '#Form.ir19#',
    ir20 = '#Form.ir20#',
    ir21 = '#Form.ir21#',
    ir22 = '#Form.ir22#',
    ir23 = '#Form.ir23#',
    ir24 ='#Form.ir24#',
    ir25 ='#Form.ir25#',
    ir26 ='#Form.ir26#',
    ir27 ='#Form.ir27#',
    ir28 ='#Form.ir28#'
WHERE FK=#URL.myId#
</cfquery>
</cfoutput>
</cfif>


<cfif Getroi.numpick IS 2 OR Getroi.numpick IS 6> 
<cfoutput>
<!-- there were two ri7s in update -->

<cfquery name="Updaterat" datasource="roi">
  UPDATE #myTable#_supplemental
  SET rr15='#Form.rr15#',
    rr16 = '#Form.rr16#',
    rr17 = '#Form.rr17#',
    rr18 = '#Form.rr18#',
    rr19 = '#Form.rr19#',
    rr20=  '#Form.rr20#',
    rr21 = '#Form.rr21#',
    rr22 =  '#Form.rr22#',
    rr23 = '#Form.rr23#',
    rr24= '#Form.rr24#',
    rr25= '#Form.rr25#',
    rr26= '#Form.rr26#',
    rr27= '#Form.rr27#',
    rr28= '#Form.rr28#'
WHERE FK=#URL.myId#
</cfquery>
</cfoutput>
</cfif>

<cfquery name="RealRating" datasource="roi">
 SELECT * FROM #myTable# WHERE Id=#URL.myId#
</cfquery>


<cfform action="frame.cfm?num=#myIndex+1#&myTo=ought2&myId=#URL.myId#" method="post">
<center>
   <table width="585" border="0" cellpadding="0" cellspacing="0">
      <tr> 
        <td colspan="11" valign="top"> <h3 align="center"><strong>Please use the 
            following scale to describe your</strong></h3>
          <h3 align="center"><strong>OUGHT/SHOULD SELF</strong></h3>
          <h3 align="center"><strong>Yourself as OTHERS think you ought or should 
            be.</strong></h3>
          <div align="center">
            <input type="submit" value="Continue">
          </div></td>
      </tr>
      
    </table>
</center>
</cfform>
