

<cfform action="frame.cfm?num=#myIndex+1#&myTo=end&myId=#myID#" method="post">
  <div align="center"> </div>
  <TABLE WIDTH=850 BORDER=0 align="center" CELLPADDING=0 CELLSPACING=0>
    <TR>
      <TD height="30" colspan="7"><font size="4"><strong>Please follow the instructions below.</strong></font>
        <hr></TD>
    </TR>
    <TR>
      <TD height="30" colspan="7"><div align="center"><img src="images/OughtShouldCircles.gif" width="731" height="360"></div></TD>
    </TR>
    <TR>
      <TD height="30" colspan="7"><div align="center"></div></TD>
    </TR>
    <TR>
      <TD width="15%"><div align="center"><img src="images/0.gif" width="123" height="72"></div></TD>
      <TD width="14%"><div align="center"><img src="images/16.gif" width="102" height="72"></div></TD>
      <TD width="14%"><div align="center"><img src="images/33.gif" width="97" height="72"></div></TD>
      <TD width="14%"><div align="center"><img src="images/50.gif" width="83" height="72"></div></TD>
      <TD width="14%"><div align="center"><img src="images/66.gif" width="76" height="72"></div></TD>
      <TD width="14%"><div align="center"><img src="images/83.gif" width="68" height="72"></div></TD>
      <TD width="15%"><div align="center"><img src="images/100.gif" width="60" height="72"></div></TD>
    </TR>
    <TR>
      <TD colspan="7">&nbsp;</TD>
    </TR>
    <TR>
      <TD><div align="center">
          <input type="radio" name="ro_abstract" value="0">
      </div></TD>
      <TD><div align="center">
          <input type="radio" name="ro_abstract" value=".166">
      </div></TD>
      <TD><div align="center">
          <input type="radio" name="ro_abstract" value=".333">
      </div></TD>
      <TD><div align="center">
          <input type="radio" name="ro_abstract" value=".5">
      </div></TD>
      <TD><div align="center">
          <input type="radio" name="ro_abstract" value=".666">
      </div></TD>
      <TD><div align="center">
          <input type="radio" name="ro_abstract" value=".833">
      </div></TD>
      <TD><div align="center">
          <input type="radio" name="ro_abstract" value="1">
      </div></TD>
    </TR>
    <TR> 
      <TD colspan="7"><p><img src="images/base.gif" width="850" height="63"></p>
      </TD>
    </TR>
    <TR align="center"> 
      <TD colspan="7"> <input type="submit" name="Submit" value="Continue"> 
      </TD>
    </TR>
  </TABLE>
</cfform>
