

<cfform action="frame.cfm?num=#myIndex+1#&myTo=end&myId=#myID#" method="post">
  <TABLE WIDTH=850 BORDER=0 align="center" CELLPADDING=0 CELLSPACING=0>
    <TR valign="top"> 
      <TD colspan="9"><font size="4"><strong>Please follow the instructions below.</strong></font> 
        <hr></TD>
    </TR>
    <TR valign="middle"> 
      <TD colspan="9"><div align="center"><img src="images/RealIdeal.gif" width="644" height="358"> 
        </div>
        <div align="center"></div>
        <div align="center"></div></TD>
    </TR>
    <TR> 
      <TD colspan="9">&nbsp;</TD>
    </TR>
    <TR> 
      <TD> <IMG SRC="images/justBoxes_01.jpg" WIDTH=113 HEIGHT=62 ALT=""></TD>
      <TD> <img src="images/justBoxes_02.jpg" width=102 height=62 alt=""></TD>
      <TD> <IMG SRC="images/justBoxes_03.jpg" WIDTH=100 HEIGHT=62 ALT=""></TD>
      <TD> <IMG SRC="images/justBoxes_04.jpg" WIDTH=92 HEIGHT=62 ALT=""></TD>
      <TD> <IMG SRC="images/justBoxes_05.jpg" WIDTH=96 HEIGHT=62 ALT=""></TD>
      <TD> <IMG SRC="images/justBoxes_06.jpg" WIDTH=93 HEIGHT=62 ALT=""></TD>
      <TD> <IMG SRC="images/justBoxes_07.jpg" WIDTH=82 HEIGHT=62 ALT=""></TD>
      <TD> <IMG SRC="images/justBoxes_08.jpg" WIDTH=75 HEIGHT=62 ALT=""></TD>
      <TD> <IMG SRC="images/justBoxes_09.jpg" WIDTH=97 HEIGHT=62 ALT=""></TD>
    </TR>
    <TR> 
      <TD colspan="9">&nbsp;</TD>
    </TR>
    <TR> 
      <TD><div align="center"> 
          <input type="radio" name="ri_abstract" value="1.000">
        </div></TD>
      <TD><div align="center"> 
          <input type="radio" name="ri_abstract" value="0.875">
        </div></TD>
      <TD><div align="center"> 
          <input type="radio" name="ri_abstract" value="0.750">
        </div></TD>
      <TD><div align="center"> 
          <input type="radio" name="ri_abstract" value="0.625">
        </div></TD>
      <TD><div align="center"> 
          <input type="radio" name="ri_abstract" value="0.500">
        </div></TD>
      <TD><div align="center"> 
          <input type="radio" name="ri_abstract" value="0.375">
        </div></TD>
      <TD><div align="center"> 
          <input type="radio" name="ri_abstract" value="0.250">
        </div></TD>
      <TD><div align="center"> 
          <input type="radio" name="ri_abstract" value="0.125">
        </div></TD>
      <TD> <div align="left"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
          <input type="radio" name="ri_abstract" value="0.000">
		  <input name="ri_abstract_required" type=hidden id="ri_abstract_required" value="You must enter a rating.">
        </div></TD>
    </TR>
    <TR> 
      <TD colspan="9"><img src="images/base.gif" width="850" height="63"></TD>
    </TR>
    <TR align="center"> 
      <TD colspan="9"> <input type="submit" name="Submit" value="Continue"> 
      </TD>
    </TR>
  </TABLE>
</cfform>
