<cfset myUpdate = "ri_abstract">
<cfquery datasource="roi">
UPDATE #myTable#
	SET ri_abstract='#Form.ri_abstract#'
	WHERE ID = #myID#
</cfquery>
<table width="585" height="20" border="0" cellpadding="0" cellspacing="0">
  <tr bgcolor="#FFFFFF"> 
    <td colspan="8" valign="top"> 
      <h3><br>
        <br>
      </h3></td>
  </tr>
  <tr> 
    <td width="73" height="19"><strong> &nbsp;</td>
    <td colspan="7">	  
	<cfquery name="Getroi" datasource="roi">
 		SELECT numpick, BigOrder FROM survey WHERE Id=#URL.myId#
	</cfquery>
         <cfif Getroi.BigOrder EQ -1 >
      <input type="button" value="Close the Survey" name="close" onClick="window.close()">
	  <cfelse>
	  	<cfif Getroi.numpick EQ 1 OR Getroi.numpick EQ 5 OR Getroi.numpick EQ 6>
			<cfset myLink = "AbstractRO">
		<cfelse>
			<cfset myLink = "Ought">
		</cfif>
        <strong>Thank you for completing this questionnaire.<BR>
        Please click <a href="../<cfoutput>#myLink#</cfoutput>/frame.cfm?num=2&myTo=1&myID=<cfoutput>#URL.myID#</cfoutput>&mySkip=no">here</a> 
        to continue to the next one. </strong> 
      </cfif></td>
  </tr>
</table>