

<cfquery name="IdealRating" datasource="#dataSource#">
 SELECT * FROM #myTable# WHERE Id=#URL.myId#
</cfquery>

<cfform action="frame.cfm?num=#myIndex+1#&myTo=10b&myID=#myID#">
<center>
    <table width="585" border="0" cellpadding="0" cellspacing="0">
      <tr valign="top"> 
        <td colspan="11"> <h3>Describe your IDEAL SELF: This is yourself as YOU 
            would like to be in your own eyes.</h3></td>
      </tr>
      <tr> 
        <td colspan="11"> <div align="center"><img src="../constructs.gif" width="586" height="49"></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="50%" rowspan="2" valign="middle"><cfoutput query="IdealRating"> 
            #real1# </cfoutput>&nbsp;</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="41"> <div align="center"> <font size="2"> 
            <input type="radio" name="ir1" value="1">
            </font></div></td>
        <td width="41"> <div align="center"> <font size="2"> 
            <input type="radio" name="ir1" value="2">
            </font></div></td>
        <td width="41"> <div align="center"> <font size="2"> 
            <input type="radio" name="ir1" value="3">
            </font></div></td>
        <td width="41"> <div align="center"> <font size="2"> 
            <input type="radio" name="ir1" value="4">
            </font></div></td>
        <td width="42"> <div align="center"> <font size="2"> 
            <input type="radio" name="ir1" value="5">
            </font></div></td>
        <td width="41"> <div align="center"> <font size="2"> 
            <input type="radio" name="ir1" value="6">
            </font></div></td>
        <td width="42"> <div align="center"> <font size="2"> 
            <input type="radio" name="ir1" value="7">
            <input type=hidden name="ir1_required" value= "You must enter a rating.">
            </font></div></td>
        <td width="42">&nbsp;</td>
        <td width="42">&nbsp;</td>
        <td width="42">&nbsp;</td>
      </tr>
      <tr> 
        <td rowspan="2" valign="middle"><cfoutput query="IdealRating"> #opid2# 
          </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr> 
        <td height="14"> <div align="center"> <font size="2"> 
            <input type="radio" name="ii8" value="1">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ii8" value="2">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ii8" value="3">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ii8" value="4">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ii8" value="5">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ii8" value="6">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ii8" value="7">
            <input type=hidden name="ii8_required" value= "You must enter a rating.">
            </font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td rowspan="2" valign="middle"><cfoutput query="IdealRating"> #opou5# 
          </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td height="14"> <div align="center"> 
            <input type="radio" name="io11" value="1">
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="io11" value="2">
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="io11" value="3">
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="io11" value="4">
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="io11" value="5">
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="io11" value="6">
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="io11" value="7">
            <input type=hidden name="io11_required" value= "You must enter a rating.">
          </div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="IdealRating"> 
            #ideal3# </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ii3" value="1">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ii3" value="2">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ii3" value="3">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ii3" value="4">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ii3" value="5">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ii3" value="6">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ii3" value="7">
            <input type=hidden name="ii3_required" value= "You must enter a rating.">
            </font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" bgcolor="#FFFFCC"><cfoutput query="IdealRating"> 
            #opr4# </cfoutput></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">1</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">2</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">3</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">4</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">5</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">6</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">7</font></div></td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir10" value="1">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir10" value="2">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir10" value="3">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir10" value="4">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir10" value="5">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir10" value="6">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir10" value="7">
            <input type=hidden name="ir10_required" value= "You must enter a rating.">
          </div></td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2"><cfoutput query="IdealRating"> #ought2# </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="io2" value="1">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="io2" value="2">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="io2" value="3">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="io2" value="4">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="io2" value="5">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="io2" value="6">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="io2" value="7">
            <input type=hidden name="io2_required" value= "You must enter a rating.">
            </font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" bgcolor="#FFFFCC"><cfoutput query="IdealRating"> 
            #real4# </cfoutput></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">1</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">2</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">3</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">4</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">5</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">6</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">7</font></div></td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir4" value="1">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir4" value="2">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir4" value="3">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir4" value="4">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir4" value="5">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir4" value="6">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir4" value="7">
            <input type=hidden name="ir4_required" value= "You must enter a rating.">
          </div></td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2"><cfoutput query="IdealRating"> #ideal6# </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ii6" value="1">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ii6" value="2">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ii6" value="3">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ii6" value="4">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ii6" value="5">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ii6" value="6">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ii6" value="7">
            <input type=hidden name="ii6_required" value= "You must enter a rating.">
            </font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" bgcolor="#FFFFCC"><cfoutput query="IdealRating"> 
            #opid5# </cfoutput></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">1</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">2</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">3</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">4</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">5</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">6</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">7</font></div></td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ii11" value="1">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ii11" value="2">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ii11" value="3">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ii11" value="4">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ii11" value="5">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ii11" value="6">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ii11" value="7">
            <input type=hidden name="ii11_required" value= "You must enter a rating.">
          </div></td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2"><cfoutput query="IdealRating"> #opou6# </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="io12" value="1">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="io12" value="2">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="io12" value="3">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="io12" value="4">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="io12" value="5">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="io12" value="6">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="io12" value="7">
            <input type=hidden name="io12_required" value= "You must enter a rating.">
            </font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" bgcolor="#FFFFCC"><cfoutput query="IdealRating"> 
            #opr6# </cfoutput></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">1</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">2</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">3</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">4</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">5</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">6</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">7</font></div></td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir12" value="1">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir12" value="2">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir12" value="3">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir12" value="4">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir12" value="5">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir12" value="6">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir12" value="7">
            <input type=hidden name="ir12_required" value= "You must enter a rating.">
          </div></td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2"><cfoutput query="IdealRating"> #real6# </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir6" value="1">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir6" value="2">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir6" value="3">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir6" value="4">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir6" value="5">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir6" value="6">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir6" value="7">
            <input type=hidden name="ir6_required" value= "You must enter a rating.">
            </font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43">&nbsp;</td>
        <td colspan="10"> <div align="left"> <br> <input type="submit" name="Submit" value="Continue"> 
        </td>
      </tr>
    </table>
</center>
</cfform>
