<cfoutput>
<cfquery name="Updaterat" datasource="#dataSource#">
  UPDATE #myTable#
  SET 	ir1='#Form.ir1#',
    	ii8 ='#Form.ii8#',
    	io11 ='#Form.io11#',
    	ii3 = '#Form.ii3#',
    	ir10 = '#Form.ir10#',
    	io2='#Form.io2#',
    	ir4 = '#Form.ir4#',
    	ii6= '#Form.ii6#',
     	ii11 = '#Form.ii11#',
    	io12='#Form.io12#',
    	ir12 ='#Form.ir12#',
    	ir6 ='#Form.ir6#'
WHERE Id=#URL.myId#
</cfquery>
</cfoutput>

<cfquery name="IdealRating" datasource="#dataSource#">
 SELECT * FROM #myTable# WHERE Id=#URL.myId#
</cfquery>

<cfform action="frame.cfm?num=#myIndex+1#&myTo=10c&myID=#myID#">
<center>
    <table width="585" border="0" cellpadding="0" cellspacing="0">
      <tr valign="top"> 
        <td colspan="11"> <h3>Describe your IDEAL SELF: This is yourself as YOU 
            would like to be in your own eyes.</h3></td>
      </tr>
      <tr> 
        <td colspan="11"> <div align="center"><img src="../constructs.gif" width="586" height="49"></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="50%" rowspan="2" valign="middle"><cfoutput query="IdealRating"> 
            #opid4# </cfoutput>&nbsp;</td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">1</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">2</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">3</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">4</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">5</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">6</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="41" align="center" valign="middle"> 
          <div align="center"> <font size="2"> 
            <input type="radio" name="ii10" value="1">
            </font></div></td>
        <td width="41" align="center" valign="middle"> 
          <div align="center"> <font size="2"> 
            <input type="radio" name="ii10" value="2">
            </font></div></td>
        <td width="41" align="center" valign="middle"> 
          <div align="center"> <font size="2"> 
            <input type="radio" name="ii10" value="3">
            </font></div></td>
        <td width="41" align="center" valign="middle"> 
          <div align="center"> <font size="2"> 
            <input type="radio" name="ii10" value="4">
            </font></div></td>
        <td width="42" align="center" valign="middle"> 
          <div align="center"> <font size="2"> 
            <input type="radio" name="ii10" value="5">
            </font></div></td>
        <td width="41" align="center" valign="middle"> 
          <div align="center"> <font size="2"> 
            <input type="radio" name="ii10" value="6">
            </font></div></td>
        <td width="42" align="center" valign="middle"> 
          <div align="center"> <font size="2"> 
            <input type="radio" name="ii10" value="7">
            <input type=hidden name="ii10_required" value= "You must enter a rating.">
            </font></div></td>
        <td width="42">&nbsp;</td>
        <td width="42">&nbsp;</td>
        <td width="42">&nbsp;</td>
      </tr>
      <tr> 
        <td rowspan="2" valign="middle"><cfoutput query="IdealRating"> #ought5# 
          </cfoutput></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">1</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">2</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">3</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">4</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">5</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">6</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr> 
        <td height="14" align="center" valign="middle"> 
          <div align="center"> <font size="2"> 
            <input type="radio" name="io5" value="1">
            </font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"> <font size="2"> 
            <input type="radio" name="io5" value="2">
            </font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"> <font size="2"> 
            <input type="radio" name="io5" value="3">
            </font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"> <font size="2"> 
            <input type="radio" name="io5" value="4">
            </font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"> <font size="2"> 
            <input type="radio" name="io5" value="5">
            </font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"> <font size="2"> 
            <input type="radio" name="io5" value="6">
            </font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"> <font size="2"> 
            <input type="radio" name="io5" value="7">
            <input type=hidden name="io5_required" value= "You must enter a rating.">
            </font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td rowspan="2" valign="middle"><cfoutput query="IdealRating"> #real5# 
          </cfoutput></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">1</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">2</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">3</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">4</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">5</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">6</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td height="14" align="center" valign="middle"> 
          <div align="center"> 
            <input type="radio" name="ir5" value="1">
          </div></td>
        <td align="center" valign="middle"> 
          <div align="center"> 
            <input type="radio" name="ir5" value="2">
          </div></td>
        <td align="center" valign="middle"> 
          <div align="center"> 
            <input type="radio" name="ir5" value="3">
          </div></td>
        <td align="center" valign="middle"> 
          <div align="center"> 
            <input type="radio" name="ir5" value="4">
          </div></td>
        <td align="center" valign="middle"> 
          <div align="center"> 
            <input type="radio" name="ir5" value="5">
          </div></td>
        <td align="center" valign="middle"> 
          <div align="center"> 
            <input type="radio" name="ir5" value="6">
          </div></td>
        <td align="center" valign="middle"> 
          <div align="center"> 
            <input type="radio" name="ir5" value="7">
            <input type=hidden name="ir5_required" value= "You must enter a rating.">
          </div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="IdealRating"> 
            #opid1# </cfoutput></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">1</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">2</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">3</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">4</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">5</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">6</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td align="center" valign="middle"> 
          <div align="center"> <font size="2"> 
            <input type="radio" name="ii7" value="1">
            </font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"> <font size="2"> 
            <input type="radio" name="ii7" value="2">
            </font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"> <font size="2"> 
            <input type="radio" name="ii7" value="3">
            </font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"> <font size="2"> 
            <input type="radio" name="ii7" value="4">
            </font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"> <font size="2"> 
            <input type="radio" name="ii7" value="5">
            </font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"> <font size="2"> 
            <input type="radio" name="ii7" value="6">
            </font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"> <font size="2"> 
            <input type="radio" name="ii7" value="7">
            <input type=hidden name="ii7_required" value= "You must enter a rating.">
            </font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top" bgcolor="#FFFFCC"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="IdealRating"> 
            #ought3# </cfoutput></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">1</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">2</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">3</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">4</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">5</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">6</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td align="center" valign="middle" bgcolor="#FFFFCC"> 
          <div align="center"> 
            <input type="radio" name="io3" value="1">
          </div></td>
        <td align="center" valign="middle" bgcolor="#FFFFCC"> 
          <div align="center"> 
            <input type="radio" name="io3" value="2">
          </div></td>
        <td align="center" valign="middle" bgcolor="#FFFFCC"> 
          <div align="center"> 
            <input type="radio" name="io3" value="3">
          </div></td>
        <td align="center" valign="middle" bgcolor="#FFFFCC"> 
          <div align="center"> 
            <input type="radio" name="io3" value="4">
          </div></td>
        <td align="center" valign="middle" bgcolor="#FFFFCC"> 
          <div align="center"> 
            <input type="radio" name="io3" value="5">
          </div></td>
        <td align="center" valign="middle" bgcolor="#FFFFCC"> 
          <div align="center"> 
            <input type="radio" name="io3" value="6">
          </div></td>
        <td align="center" valign="middle" bgcolor="#FFFFCC"> 
          <div align="center"> 
            <input type="radio" name="io3" value="7">
            <input type=hidden name="io3_required" value= "You must enter a rating.">
          </div></td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top" bgcolor="#FFFFFF"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="IdealRating"> 
            #opou1# </cfoutput></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">1</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">2</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">3</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">4</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">5</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">6</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td align="center" valign="middle"> 
          <div align="center"> 
            <input type="radio" name="io7" value="1">
          </div></td>
        <td align="center" valign="middle"> 
          <div align="center"> 
            <input type="radio" name="io7" value="2">
          </div></td>
        <td align="center" valign="middle"> 
          <div align="center"> 
            <input type="radio" name="io7" value="3">
          </div></td>
        <td align="center" valign="middle"> 
          <div align="center"> 
            <input type="radio" name="io7" value="4">
          </div></td>
        <td align="center" valign="middle"> 
          <div align="center"> 
            <input type="radio" name="io7" value="5">
          </div></td>
        <td align="center" valign="middle"> 
          <div align="center"> 
            <input type="radio" name="io7" value="6">
          </div></td>
        <td align="center" valign="middle"> 
          <div align="center"> 
            <input type="radio" name="io7" value="7">
            <input type=hidden name="io7_required" value= "You must enter a rating.">
          </div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top" bgcolor="#FFFFCC"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="IdealRating"> 
            #opid6# </cfoutput></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">1</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">2</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">3</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">4</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">5</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">6</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td align="center" valign="middle" bgcolor="#FFFFCC"> 
          <div align="center"> 
            <input type="radio" name="ii12" value="1">
          </div></td>
        <td align="center" valign="middle" bgcolor="#FFFFCC"> 
          <div align="center"> 
            <input type="radio" name="ii12" value="2">
          </div></td>
        <td align="center" valign="middle" bgcolor="#FFFFCC"> 
          <div align="center"> 
            <input type="radio" name="ii12" value="3">
          </div></td>
        <td align="center" valign="middle" bgcolor="#FFFFCC"> 
          <div align="center"> 
            <input type="radio" name="ii12" value="4">
          </div></td>
        <td align="center" valign="middle" bgcolor="#FFFFCC"> 
          <div align="center"> 
            <input type="radio" name="ii12" value="5">
          </div></td>
        <td align="center" valign="middle" bgcolor="#FFFFCC"> 
          <div align="center"> 
            <input type="radio" name="ii12" value="6">
          </div></td>
        <td align="center" valign="middle" bgcolor="#FFFFCC"> 
          <div align="center"> 
            <input type="radio" name="ii12" value="7">
            <input type=hidden name="ii12_required" value= "You must enter a rating.">
          </div></td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top" bgcolor="#FFFFFF"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="IdealRating"> 
            #ideal5# </cfoutput></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">1</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">2</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">3</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">4</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">5</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">6</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td align="center" valign="middle"> 
          <div align="center"> 
            <input type="radio" name="ii5" value="1">
          </div></td>
        <td align="center" valign="middle"> 
          <div align="center"> 
            <input type="radio" name="ii5" value="2">
          </div></td>
        <td align="center" valign="middle"> 
          <div align="center"> 
            <input type="radio" name="ii5" value="3">
          </div></td>
        <td align="center" valign="middle"> 
          <div align="center"> 
            <input type="radio" name="ii5" value="4">
          </div></td>
        <td align="center" valign="middle"> 
          <div align="center"> 
            <input type="radio" name="ii5" value="5">
          </div></td>
        <td align="center" valign="middle"> 
          <div align="center"> 
            <input type="radio" name="ii5" value="6">
          </div></td>
        <td align="center" valign="middle"> 
          <div align="center"> 
            <input type="radio" name="ii5" value="7">
            <input type=hidden name="ii5_required" value= "You must enter a rating.">
          </div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top" bgcolor="#FFFFCC"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="IdealRating"> 
            #opid3# </cfoutput></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">1</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">2</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">3</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">4</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">5</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">6</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td align="center" valign="middle" bgcolor="#FFFFCC"> 
          <div align="center"> <font size="2"> 
            <input type="radio" name="ii9" value="1">
            </font></div></td>
        <td align="center" valign="middle" bgcolor="#FFFFCC"> 
          <div align="center"> <font size="2"> 
            <input type="radio" name="ii9" value="2">
            </font></div></td>
        <td align="center" valign="middle" bgcolor="#FFFFCC"> 
          <div align="center"> <font size="2"> 
            <input type="radio" name="ii9" value="3">
            </font></div></td>
        <td align="center" valign="middle" bgcolor="#FFFFCC"> 
          <div align="center"> <font size="2"> 
            <input type="radio" name="ii9" value="4">
            </font></div></td>
        <td align="center" valign="middle" bgcolor="#FFFFCC"> 
          <div align="center"> <font size="2"> 
            <input type="radio" name="ii9" value="5">
            </font></div></td>
        <td align="center" valign="middle" bgcolor="#FFFFCC"> 
          <div align="center"> <font size="2"> 
            <input type="radio" name="ii9" value="6">
            </font></div></td>
        <td align="center" valign="middle" bgcolor="#FFFFCC"> 
          <div align="center"> <font size="2"> 
            <input type="radio" name="ii9" value="7">
            <input type=hidden name="ii9_required" value= "You must enter a rating.">
            </font></div></td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top" bgcolor="#FFFFFF"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="IdealRating"> 
            #ought4# </cfoutput></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">1</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">2</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">3</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">4</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">5</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">6</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td align="center" valign="middle"> 
          <div align="center"> 
            <input type="radio" name="io4" value="1">
          </div></td>
        <td align="center" valign="middle"> 
          <div align="center"> 
            <input type="radio" name="io4" value="2">
          </div></td>
        <td align="center" valign="middle"> 
          <div align="center"> 
            <input type="radio" name="io4" value="3">
          </div></td>
        <td align="center" valign="middle"> 
          <div align="center"> 
            <input type="radio" name="io4" value="4">
          </div></td>
        <td align="center" valign="middle"> 
          <div align="center"> 
            <input type="radio" name="io4" value="5">
          </div></td>
        <td align="center" valign="middle"> 
          <div align="center"> 
            <input type="radio" name="io4" value="6">
          </div></td>
        <td align="center" valign="middle"> 
          <div align="center"> 
            <input type="radio" name="io4" value="7">
            <input type=hidden name="io4_required" value= "You must enter a rating.">
          </div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top" bgcolor="#FFFFCC"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="IdealRating"> 
            #opr1# </cfoutput></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">1</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">2</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">3</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">4</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">5</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">6</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td align="center" valign="middle" bgcolor="#FFFFCC"> 
          <div align="center"> <font size="2"> 
            <input type="radio" name="ir7" value="1">
            </font></div></td>
        <td align="center" valign="middle" bgcolor="#FFFFCC"> 
          <div align="center"> <font size="2"> 
            <input type="radio" name="ir7" value="2">
            </font></div></td>
        <td align="center" valign="middle" bgcolor="#FFFFCC"> 
          <div align="center"> <font size="2"> 
            <input type="radio" name="ir7" value="3">
            </font></div></td>
        <td align="center" valign="middle" bgcolor="#FFFFCC"> 
          <div align="center"> <font size="2"> 
            <input type="radio" name="ir7" value="4">
            </font></div></td>
        <td align="center" valign="middle" bgcolor="#FFFFCC"> 
          <div align="center"> <font size="2"> 
            <input type="radio" name="ir7" value="5">
            </font></div></td>
        <td align="center" valign="middle" bgcolor="#FFFFCC"> 
          <div align="center"> <font size="2"> 
            <input type="radio" name="ir7" value="6">
            </font></div></td>
        <td align="center" valign="middle" bgcolor="#FFFFCC"> 
          <div align="center"> <font size="2"> 
            <input type="radio" name="ir7" value="7">
            <input type=hidden name="ir7_required" value= "You must enter a rating.">
            </font></div></td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top" bgcolor="#FFFFFF"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="IdealRating"> 
            #real2# </cfoutput></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">1</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">2</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">3</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">4</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">5</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">6</font></div></td>
        <td align="center" valign="middle"> 
          <div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td align="center" valign="middle"> 
          <div align="center"> 
            <input type="radio" name="ir2" value="1">
          </div></td>
        <td align="center" valign="middle"> 
          <div align="center"> 
            <input type="radio" name="ir2" value="2">
          </div></td>
        <td align="center" valign="middle"> 
          <div align="center"> 
            <input type="radio" name="ir2" value="3">
          </div></td>
        <td align="center" valign="middle"> 
          <div align="center"> 
            <input type="radio" name="ir2" value="4">
          </div></td>
        <td align="center" valign="middle"> 
          <div align="center"> 
            <input type="radio" name="ir2" value="5">
          </div></td>
        <td align="center" valign="middle"> 
          <div align="center"> 
            <input type="radio" name="ir2" value="6">
          </div></td>
        <td align="center" valign="middle"> 
          <div align="center"> 
            <input type="radio" name="ir2" value="7">
            <input type=hidden name="ir2_required" value= "You must enter a rating.">
          </div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43">&nbsp;</td>
        <td colspan="10"> <div align="left"> <br> <input type="submit" name="Submit" value="Continue"> 
        </td>
      </tr>
    </table>
</center>
</cfform>
