

<cfquery name="OppRating" datasource="#dataSource#">
 SELECT * FROM survey WHERE Id=#URL.myId#
</cfquery>

<cfform action="frame.cfm?num=#myIndex+1#&myTo=10a&myID=#myID#">
<center>
    <table width="585" border="0" cellpadding="0" cellspacing="0">
      <tr valign="top"> 
        <td colspan="8"> <h3>OUGHT/SHOULD SELF: This is yourself as OTHERS think 
            you ought or should be.</h3></td>
      </tr>
      <tr> 
        <td width="50%">&nbsp;</td>
        <td colspan="7"><div align="center"><img src="../trues.gif" width="291" height="61"></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="50%" rowspan="2" valign="middle"><cfoutput query="OppRating"> #real1# 
          </cfoutput>&nbsp;</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td><div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="or1"
value="1">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or1"
value="2">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or1"
value="3">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or1"
value="4">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or1"
value="5">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or1"
value="6">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or1"
value="7">
            </big></big></font></div></td>
      </tr>
      <tr> 
        <td rowspan="2" valign="middle"><cfoutput query="OppRating"> #opid2# 
          </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
      </tr>
      <tr> 
        <td> <div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="oi8"
value="1">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi8"
value="2">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi8"
value="3">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi8"
value="4">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi8"
value="5">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi8"
value="6">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi8"
value="7">
            </big></big></font></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="50%" rowspan="2" valign="middle"><cfoutput query="OppRating"> #opou5# 
          </cfoutput>&nbsp;</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td> <div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="oo11"
value="1">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo11"
value="2">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo11"
value="3">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo11"
value="4">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo11"
value="5">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo11"
value="6">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo11"
value="7">
            </big></big></font></div></td>
      </tr>
      <tr> 
        <td rowspan="2" valign="middle"><cfoutput query="OppRating"> #ideal3# 
          </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
      </tr>
      <tr> 
        <td> <div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="oi3"
value="1">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi3"
value="2">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi3"
value="3">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi3"
value="4">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi3"
value="5">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi3"
value="6">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi3"
value="7">
            </big></big></font></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="50%" rowspan="2" valign="middle"><cfoutput query="OppRating"> #opr4# 
          </cfoutput>&nbsp;</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td> <div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="or10"
value="1">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or10"
value="2">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or10"
value="3">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or10"
value="4">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or10"
value="5">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or10"
value="6">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or10"
value="7">
            </big></big></font></div></td>
      </tr>
      <tr> 
        <td rowspan="2" valign="middle"><cfoutput query="OppRating"> #ought2# 
          </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
      </tr>
      <tr> 
        <td> <div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="oo2"
value="1">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo2"
value="2">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo2"
value="3">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo2"
value="4">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo2"
value="5">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo2"
value="6">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo2"
value="7">
            </big></big></font></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="50%" rowspan="2" valign="middle"><cfoutput query="OppRating"> #real4# 
          </cfoutput>&nbsp;</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td> <div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="or4"
value="1">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or4"
value="2">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or4"
value="3">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or4"
value="4">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or4"
value="5">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or4"
value="6">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or4"
value="7">
            </big></big></font></div></td>
      </tr>
      <tr> 
        <td rowspan="2" valign="middle"><cfoutput query="OppRating"> #ideal6# 
          </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
      </tr>
      <tr> 
        <td> <div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="oi6"
value="1">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi6"
value="2">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi6"
value="3">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi6"
value="4">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi6"
value="5">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi6"
value="6">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi6"
value="7">
            </big></big></font></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="50%" rowspan="2" valign="middle"><cfoutput query="OppRating"> #opid5# 
          </cfoutput>&nbsp;</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td> <div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="oi11"
value="1">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi11"
value="2">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi11"
value="3">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi11"
value="4">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi11"
value="5">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi11"
value="6">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi11"
value="7">
            </big></big></font></div></td>
      </tr>
      <tr> 
        <td rowspan="2" valign="middle"><cfoutput query="OppRating"> #opou6# 
          </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
      </tr>
      <tr> 
        <td> <div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="oo12"
value="1">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo12"
value="2">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo12"
value="3">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo12"
value="4">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo12"
value="5">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo12"
value="6">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo12"
value="7">
            </big></big></font></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="50%" rowspan="2" valign="middle"><cfoutput query="OppRating"> #opr2# 
          </cfoutput>&nbsp;</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td> <div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="or8"
value="1">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or8"
value="2">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or8"
value="3">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or8"
value="4">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or8"
value="5">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or8"
value="6">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or8"
value="7">
            </big></big></font></div></td>
      </tr>
      <tr> 
        <td rowspan="2" valign="middle"><cfoutput query="OppRating"> #real6# 
          </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
      </tr>
      <tr> 
        <td> <div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="or6"
value="1">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or6"
value="2">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or6"
value="3">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or6"
value="4">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or6"
value="5">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or6"
value="6">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or6"
value="7">
            </big></big></font></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="50%" rowspan="2" valign="middle"><cfoutput query="OppRating"> #opid4# 
          </cfoutput>&nbsp;</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td> <div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="oi10"
value="1">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi10"
value="2">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi10"
value="3">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi10"
value="4">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi10"
value="5">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi10"
value="6">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi10"
value="7">
            </big></big></font></div></td>
      </tr>
      <tr> 
        <td rowspan="2" valign="middle"><cfoutput query="OppRating"> #ought5# 
          </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
      </tr>
      <tr> 
        <td> <div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="oo5"
value="1">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo5"
value="2">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo5"
value="3">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo5"
value="4">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo5"
value="5">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo5"
value="6">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo5"
value="7">
            </big></big></font></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="50%" rowspan="2" valign="middle"><cfoutput query="OppRating"> #real5# 
          </cfoutput>&nbsp;</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td> <div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="or5"
value="1">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or5"
value="2">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or5"
value="3">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or5"
value="4">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or5"
value="5">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or5"
value="6">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or5"
value="7">
            </big></big></font></div></td>
      </tr>
      <tr> 
        <td rowspan="2" valign="middle"><cfoutput query="OppRating"> #opid1# 
          </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
      </tr>
      <tr> 
        <td> <div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="oi7"
value="1">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi7"
value="2">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi7"
value="3">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi7"
value="4">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi7"
value="5">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi7"
value="6">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi7"
value="7">
            </big></big></font></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="50%" rowspan="2" valign="middle"><cfoutput query="OppRating"> #ought3# 
          </cfoutput>&nbsp;</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td> <div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="oo3"
value="1">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo3"
value="2">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo3"
value="3">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo3"
value="4">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo3"
value="5">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo3"
value="6">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo3"
value="7">
            </big></big></font></div></td>
      </tr>
      <tr> 
        <td rowspan="2" valign="middle"><cfoutput query="OppRating"> #opou1# 
          </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
      </tr>
      <tr> 
        <td> <div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="oo7"
value="1">
            </big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo7"
value="2">
            2</big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo7"
value="3">
            3</big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo7"
value="4">
            4</big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo7"
value="5">
            5</big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo7"
value="6">
            6</big></big></font></div></td>
        <td> <div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo7"
value="7">
            7</big></big></font></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="50%" rowspan="2" valign="middle"><cfoutput query="OppRating"> #opid6# </cfoutput>&nbsp;</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="41"><div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="oi12"
value="1">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi12"
value="2">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi12"
value="3">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi12"
value="4">
            </big></big></font></div></td>
        <td width="42"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi12"
value="5">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi12"
value="6">
            </big></big></font></div></td>
        <td width="42"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi12"
value="7">
            </big></big></font></div></td>
      </tr>
      <tr> 
        <td rowspan="2" valign="middle"><cfoutput query="OppRating"> #ideal5# </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
      </tr>
      <tr> 
        <td height="14"> <div align="center"><FONT COLOR=#ffffff><big><big>
<input type="radio" name="oi5"
value="1">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi5"
value="2">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi5"
value="3">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi5"
value="4">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi5"
value="5">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi5"
value="6">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi5"
value="7">
            </big></big></font></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="50%" rowspan="2" valign="middle"><cfoutput query="OppRating"> #opid3# </cfoutput>&nbsp;</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="41"><div align="center"><FONT COLOR=#ffffff><big><big>
<input type="radio" name="oi9"
value="1">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi9"
value="2">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi9"
value="3">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi9"
value="4">
            </big></big></font></div></td>
        <td width="42"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi9"
value="5">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi9"
value="6">
            </big></big></font></div></td>
        <td width="42"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi9"
value="7">
            </big></big></font></div></td>
      </tr>
      <tr> 
        <td rowspan="2" valign="middle"><cfoutput query="OppRating"> #ought4# </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
      </tr>
      <tr> 
        <td height="14"><div align="center"><FONT COLOR=#ffffff><big><big>
<input type="radio" name="oo4"
value="1">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo4"
value="2">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo4"
value="3">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo4"
value="4">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo4"
value="5">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo4"
value="6">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo4"
value="7">
            </big></big></font></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="50%" rowspan="2" valign="middle"><cfoutput query="OppRating"> #opr1# </cfoutput>&nbsp;</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="41"> <div align="center"><FONT COLOR=#ffffff><big><big>
<input type="radio" name="or7"
value="1">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or7"
value="2">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or7"
value="3">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or7"
value="4">
            </big></big></font></div></td>
        <td width="42"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or7"
value="5">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or7"
value="6">
            </big></big></font></div></td>
        <td width="42"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or7"
value="7">
            </big></big></font></div></td>
      </tr>
      <tr> 
        <td rowspan="2" valign="middle"><cfoutput query="OppRating"> #real2# </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
      </tr>
      <tr> 
        <td height="14"><div align="center"><FONT COLOR=#ffffff><big><big>
<input type="radio" name="or2"
value="1">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or2"
value="2">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or2"
value="3">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or2"
value="4">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or2"
value="5">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or2"
value="6">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or2"
value="7">
            </big></big></font></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="50%" rowspan="2" valign="middle"><cfoutput query="OppRating"> 
            #opou3# </cfoutput>&nbsp;</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="41"><div align="center"><FONT COLOR=#ffffff><big><big>
<input type="radio" name="oo9"
value="1">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo9"
value="2">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo9"
value="3">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo9"
value="4">
            </big></big></font></div></td>
        <td width="42"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo9"
value="5">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo9"
value="6">
            </big></big></font></div></td>
        <td width="42"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo9"
value="7">
            </big></big></font></div></td>
      </tr>
      <tr> 
        <td rowspan="2" valign="middle"><cfoutput query="OppRating"> #ideal4# </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
      </tr>
      <tr> 
        <td height="14"><div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="oi4"
value="1">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi4"
value="2">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi4"
value="3">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi4"
value="4">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi4"
value="5">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi4"
value="6">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi4"
value="7">
            </big></big></font></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="50%" rowspan="2" valign="middle"><cfoutput query="OppRating"> 
            #real3# </cfoutput>&nbsp;</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="41"><div align="center"><FONT COLOR=#ffffff><big><big>
<input type="radio" name="or3"
value="1">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or3"
value="2">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or3"
value="3">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or3"
value="4">
            </big></big></font></div></td>
        <td width="42"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or3"
value="5">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or3"
value="6">
            </big></big></font></div></td>
        <td width="42"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or3"
value="7">
            </big></big></font></div></td>
      </tr>
      <tr> 
        <td rowspan="2" valign="middle"><cfoutput query="OppRating"> #ideal2# </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
      </tr>
      <tr> 
        <td height="14"><div align="center"><FONT COLOR=#ffffff><big><big>
<input type="radio" name="oi2"
value="1">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi2"
value="2">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi2"
value="3">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi2"
value="4">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi2"
value="5">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi2"
value="6">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi2"
value="7">
            </big></big></font></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="50%" rowspan="2" valign="middle"><cfoutput query="OppRating"> 
            #opr2# </cfoutput>&nbsp;</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="41"><div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="or12"
value="1">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or12"
value="2">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or12"
value="3">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or12"
value="4">
            </big></big></font></div></td>
        <td width="42"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or12"
value="5">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or12"
value="6">
            </big></big></font></div></td>
        <td width="42"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or12"
value="7">
            </big></big></font></div></td>
      </tr>
      <tr> 
        <td rowspan="2" valign="middle"><cfoutput query="OppRating"> #opou4# </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
      </tr>
      <tr> 
        <td height="14"><div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="oo10"
value="1">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo10"
value="2">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo10"
value="3">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo10"
value="4">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo10"
value="5">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo10"
value="6">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo10"
value="7">
            </big></big></font></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="50%" rowspan="2" valign="middle"><cfoutput query="OppRating"> 
            #ought1# </cfoutput>&nbsp;</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="41"><div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="oo1"
value="1">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo1"
value="2">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo1"
value="3">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo1"
value="4">
            </big></big></font></div></td>
        <td width="42"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo1"
value="5">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo1"
value="6">
            </big></big></font></div></td>
        <td width="42"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo1"
value="7">
            </big></big></font></div></td>
      </tr>
      <tr> 
        <td rowspan="2" valign="middle"><cfoutput query="OppRating"> #opr3# </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
      </tr>
      <tr> 
        <td height="14"><div align="center"><FONT COLOR=#ffffff><big><big>
<input type="radio" name="or9"
value="1">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or9"
value="2">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or9"
value="3">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or9"
value="4">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or9"
value="5">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or9"
value="6">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or9"
value="7">
            </big></big></font></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="50%" rowspan="2" valign="middle"><cfoutput query="OppRating"> 
            #opou2# </cfoutput>&nbsp;</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="41"><div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="oo8"
value="1">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo8"
value="2">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo8"
value="3">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo8"
value="4">
            </big></big></font></div></td>
        <td width="42"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo8"
value="5">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo8"
value="6">
            </big></big></font></div></td>
        <td width="42"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo8"
value="7">
            </big></big></font></div></td>
      </tr>
      <tr> 
        <td rowspan="2" valign="middle"><cfoutput query="OppRating"> #ideal1# </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
      </tr>
      <tr> 
        <td height="14"><div align="center"><FONT COLOR=#ffffff><big><big>
<input type="radio" name="oi1"
value="1">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi1"
value="2">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi1"
value="3">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi1"
value="4">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi1"
value="5">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi1"
value="6">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oi1"
value="7">
            </big></big></font></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="50%" rowspan="2" valign="middle"><cfoutput query="OppRating"> 
            #ought6# </cfoutput>&nbsp;</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="41"><div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="oo6"
value="1">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo6"
value="2">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo6"
value="3">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo6"
value="4">
            </big></big></font></div></td>
        <td width="42"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo6"
value="5">
            </big></big></font></div></td>
        <td width="41"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo6"
value="6">
            </big></big></font></div></td>
        <td width="42"><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="oo6"
value="7">
            </big></big></font></div></td>
      </tr>
      <tr> 
        <td rowspan="2" valign="middle"><cfoutput query="OppRating"> #opr5# </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
      </tr>
      <tr> 
        <td height="14"><div align="center"><FONT COLOR=#ffffff><big><big> 
            <input type="radio" name="or11"
value="1">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or11"
value="2">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or11"
value="3">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or11"
value="4">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or11"
value="5">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or11"
value="6">
            </big></big></font></div></td>
        <td><div align="center"><font color=#ffffff><big><big> 
            <input type="radio" name="or11"
value="7">
            </big></big></font></div></td>
      </tr>
      <tr valign="top"> 
        <td height="43">&nbsp;</td>
        <td colspan="7"> <div align="left"> <br> <input type="submit" name="Submit" value="Continue to Page <cfoutput>#myIndex+1# of #myPages#</cfoutput>"> 
        </td>
      </tr>
    </table>
</center>
</cfform>
