<cfquery name="Opp1" datasource="#dataSource#">
  SELECT real1,ought2,ideal3,ideal4,ought5,real6,ideal2,ideal6,ought1
  FROM #myTable#
WHERE Id=#URL.myId#
</cfquery>

<script language="JavaScript">
function checkWord(form, ctrl, value)
        {         
 	Temp = value.toUpperCase();
	if ((Temp.indexOf("NEVER") != -1) || (Temp.indexOf("ALWAYS") != -1) || (Temp.indexOf("LESS") != -1) || (Temp.indexOf("MORE") != -1))
	{ 
	alert("The words Never, Always, More, and Less are not allowed.");
	return (false); 
         }
	else	
	{
	return true;
	}

        }
</script>

<cfform action="frame.cfm?num=#myIndex+1#&myTo=7&myID=#myID#">
	<center>
		
    <table width="585" border="0" cellspacing="0" cellpadding="0">
      <tr bgcolor="#FFFFCC"> 
        <td width="380"><div align="left">In your view, if someone is not <cfoutput query="Opp1"> 
              #real1#</cfoutput>, he/she is</div></td>
        <td width="205"><cfinput type="Text" name="opr1" onvalidate="checkWord" message="Please Re-Enter data" size="20" maxlength="35"> 
          <input type=hidden name="opr1_required" value= "You must fill in all fields"> 
        </td>
      </tr>
      <tr> 
        <td><div align="left"><font size="3">In your view, if someone is not <cfoutput query="Opp1"> 
              #ought2#</cfoutput>, he/she is</font></div></td>
        <td><cfinput type="Text" name="opou2" size="20" onvalidate="checkWord" message="Please Re-Enter data" maxlength="35"> 
          <input type=hidden name="opou2_required" value= "You must fill in all fields"> 
        </td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td><div align="left"><font size="3">In your view, if someone is not <cfoutput query="Opp1"> 
              #ideal3#</cfoutput>, he/she is</font></div></td>
        <td><cfinput type="Text" name="opid3" size="20" onvalidate="checkWord" message="Please Re-Enter data" maxlength="35"> 
          <input type=hidden name="opid3_required" value= "You must fill in all fields"> 
        </td>
      </tr>
      <tr> 
        <td><div align="left"><font size="3">In your view, if someone is not <cfoutput query="Opp1"> 
              #ideal4#</cfoutput>, he/she is</font></div></td>
        <td><cfinput type="Text" name="opid4" size="20" onvalidate="checkWord" message="Please Re-Enter data" maxlength="35"> 
          <input type=hidden name="opid4_required" value= "You must fill in all fields"> 
        </td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td><div align="left"><font size="3">In your view, if someone is not <cfoutput query="Opp1"> 
              #ought5#</cfoutput>, he/she is</font></div></td>
        <td><cfinput type="Text" name="opou5" size="20" onvalidate="checkWord" message="Please Re-Enter data" maxlength="35"> 
          <input type=hidden name="opou5_required" value= "You must fill in all fields"> 
        </td>
      </tr>
      <tr> 
        <td><div align="left">In your view, if someone is not <cfoutput query="Opp1"> 
              #real6#</cfoutput>, he/she is</div></td>
        <td><cfinput type="Text" name="opr6" size="20" onvalidate="checkWord" message="Please Re-Enter data" maxlength="35"> 
          <input type=hidden name="opr6_required" value= "You must fill in all fields"></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td> <div align="left">In your view, if someone is not <cfoutput query="Opp1"> 
              #ideal2#</cfoutput>, he/she is</div></td>
        <td><cfinput type="Text" name="opid2" size="20" onvalidate="checkWord" message="Please Re-Enter data" maxlength="35"> 
          <input type=hidden name="opid2_required" value= "You must fill in all fields"></td>
      </tr>
      <tr> 
        <td><div align="left">In your view, if someone is not <cfoutput query="Opp1"> 
              #ought1#</cfoutput>, he/she is</div></td>
        <td><cfinput type="Text" name="opou1" size="20" onvalidate="checkWord" message="Please Re-Enter data" maxlength="35"> 
          <input type=hidden name="opou1_required" value= "You must fill in all fields"></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td> <div align="left">In your view, if someone is not <cfoutput query="Opp1"> 
              #ideal6#</cfoutput>, he/she is</div></td>
        <td><cfinput type="Text" name="opid6" size="20" onvalidate="checkWord" message="Please Re-Enter data" maxlength="35"> 
          <input type=hidden name="opid6_required" value= "You must fill in all fields"></td>
      </tr>
      <tr> 
        <td colspan="2"> <blockquote> 
            <p> 
              <input type="submit" name="Submit" value="Continue">
              &nbsp;</p>
          </blockquote></td>
      </tr>
    </table>
	  </center>

</cfform>