<cfquery name="Getroi" datasource="#dataSource#">
 SELECT numpick FROM #myTable# WHERE Id=#URL.myId#
</cfquery>

<cfif Getroi.numpick IS 4 OR Getroi.numpick IS 6>
<cfoutput>
<cfquery name="Updaterat" datasource="#dataSource#">
  UPDATE #myTable#
 SET 	io9='#Form.io9#',
    	ii4 ='#Form.ii4#',
    	ir3 ='#Form.ir3#',
    	ii2 = '#Form.ii2#',
    	ir8 = '#Form.ir8#',
    	io10='#Form.io10#',
    	io1 = '#Form.io1#',
    	ir9= '#Form.ir9#',
    	io8 = '#Form.io8#',
    	ii1='#Form.ii1#',
    	io6 ='#Form.io6#',
    	ir11 ='#Form.ir11#'
WHERE Id=#URL.myId#
</cfquery>
</cfoutput>
</cfif>

<cfif Getroi.numpick IS 3 OR Getroi.numpick IS 5>
<cfoutput>
<cfquery name="Updaterat" datasource="#dataSource#">
  UPDATE #myTable#
  SET 	oo9='#Form.oo9#',
    	oi4 ='#Form.oi4#',
    	or3 ='#Form.or3#',
    	oi2 = '#Form.oi2#',
    	or12 = '#Form.or12#',
    	oo10='#Form.oo10#',
    	oo1 = '#Form.oo1#',
    	or9= '#Form.or9#',
    	oo8 = '#Form.oo8#',
    	oi1='#Form.oi1#',
    	oo6 ='#Form.oo6#',
    	or11 ='#Form.or11#'
WHERE Id=#URL.myId#
</cfquery>
</cfoutput>
</cfif>


<cfquery name="RealRating" datasource="#dataSource#">
 SELECT * FROM #myTable# WHERE Id=#URL.myId#
</cfquery>

<cfform action="frame.cfm?num=#myIndex+1#&myTo=9a&myID=#myID#" method="post">
<center>
    <table width="585" border="0" cellpadding="0" cellspacing="0">
      <tr valign="top"> 
        <td height="43"><h3 align="center"><strong>Please
              use the following scale to describe your</strong></h3>
          <h3 align="center"><strong>REAL SELF</strong></h3>
          <h3 align="center"><strong>Yourself as YOU see yourself in your own
              eyes.<br>
          </strong><br>          
            <input type="submit" name="Submit" value="Continue">        
            </h3>
        </td>
      </tr>
    </table>
</center>
</cfform>
