
<cfoutput>
<cfquery name="Updaterat" datasource="#dataSource#">
  UPDATE #myTable#
  SET rr1='#Form.rr1#',
    ri8 ='#Form.ri8#',
    ro11 ='#Form.ro11#',
    ri3 = '#Form.ri3#',
    rr10 = '#Form.rr10#',
    ro2='#Form.ro2#',
    rr4 = '#Form.rr4#',
    ri6= '#Form.ri6#',
     ri11 = '#Form.ri11#',
    ro12='#Form.ro12#',
    rr8 ='#Form.rr8#',
    rr6 ='#Form.rr6#'
   WHERE Id=#URL.myId#
</cfquery>
</cfoutput>

<cfquery name="RealRating" datasource="#dataSource#">
 SELECT * FROM #myTable# WHERE Id=#URL.myId#
</cfquery>


<cfform action="frame.cfm?num=#myIndex+1#&myTo=9c&myID=#myID#">
<center>
    <table width="585" border="0" cellpadding="0" cellspacing="0">
      <tr valign="top"> 
        <td colspan="11"> <h3>Describe your REAL SELF: This is yourself as YOU 
            see yourself in your own eyes.</h3></td>
      </tr>
      <tr> 
        <td colspan="11"> <div align="center"><img src="../constructs.gif" width="586" height="49"></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="50%" rowspan="2" valign="middle"><cfoutput query="RealRating"> 
            #opid6# </cfoutput>&nbsp;</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="41"> <div align="center"> <font size="2"> 
            <input type="radio" name="ri12" value="1">
            </font></div></td>
        <td width="41"> <div align="center"> <font size="2"> 
            <input type="radio" name="ri12" value="2">
            </font></div></td>
        <td width="41"> <div align="center"> <font size="2"> 
            <input type="radio" name="ri12" value="3">
            </font></div></td>
        <td width="41"> <div align="center"> <font size="2"> 
            <input type="radio" name="ri12" value="4">
            </font></div></td>
        <td width="42"> <div align="center"> <font size="2"> 
            <input type="radio" name="ri12" value="5">
            </font></div></td>
        <td width="41"> <div align="center"> <font size="2"> 
            <input type="radio" name="ri12" value="6">
            </font></div></td>
        <td width="42"> <div align="center"> <font size="2"> 
            <input type="radio" name="ri12" value="7">
            <input type=hidden name="ri12_required" value= "You must enter a rating.">
            </font></div></td>
        <td width="42">&nbsp;</td>
        <td width="42">&nbsp;</td>
        <td width="42">&nbsp;</td>
      </tr>
      <tr> 
        <td rowspan="2" valign="middle"><cfoutput query="RealRating"> #ideal5# 
          </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr> 
        <td height="14"> <div align="center"> <font size="2"> 
            <input type="radio" name="ri5" value="1">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ri5" value="2">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ri5" value="3">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ri5" value="4">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ri5" value="5">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ri5" value="6">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ri5" value="7">
            <input type=hidden name="ri5_required" value= "You must enter a rating.">
            </font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td rowspan="2" valign="middle"><cfoutput query="RealRating"> #opid3# 
          </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td height="14"> <div align="center"> 
            <input type="radio" name="ri9" value="1">
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="ri9" value="2">
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="ri9" value="3">
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="ri9" value="4">
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="ri9" value="5">
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="ri9" value="6">
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="ri9" value="7">
            <input type=hidden name="ri9_required" value= "You must enter a rating.">
          </div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" valign="middle"><cfoutput query="RealRating"> 
            #ought4# </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ro4" value="1">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ro4" value="2">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ro4" value="3">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ro4" value="4">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ro4" value="5">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ro4" value="6">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ro4" value="7">
            <input type=hidden name="ro4_required" value= "You must enter a rating.">
            </font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" bgcolor="#FFFFCC"><cfoutput query="RealRating"> 
            #opr1# </cfoutput></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">1</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">2</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">3</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">4</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">5</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">6</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">7</font></div></td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr7" value="1">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr7" value="2">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr7" value="3">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr7" value="4">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr7" value="5">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr7" value="6">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr7" value="7">
            <input type=hidden name="rr7_required" value= "You must enter a rating.">
          </div></td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2"><cfoutput query="RealRating"> #real2# </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr2" value="1">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr2" value="2">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr2" value="3">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr2" value="4">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr2" value="5">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr2" value="6">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr2" value="7">
            <input type=hidden name="rr2_required" value= "You must enter a rating.">
            </font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" bgcolor="#FFFFCC"><cfoutput query="RealRating"> 
            #opou3# </cfoutput></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">1</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">2</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">3</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">4</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">5</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">6</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">7</font></div></td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ro9" value="1">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ro9" value="2">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ro9" value="3">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ro9" value="4">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ro9" value="5">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ro9" value="6">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ro9" value="7">
            <input type=hidden name="ro9_required" value= "You must enter a rating.">
          </div></td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2"><cfoutput query="RealRating"> #ideal4# </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ri4" value="1">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ri4" value="2">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ri4" value="3">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ri4" value="4">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ri4" value="5">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ri4" value="6">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ri4" value="7">
            <input type=hidden name="ri4_required" value= "You must enter a rating.">
            </font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" bgcolor="#FFFFCC"><cfoutput query="RealRating"> 
            #real3# </cfoutput></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">1</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">2</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">3</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">4</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">5</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">6</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">7</font></div></td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr3" value="1">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr3" value="2">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr3" value="3">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr3" value="4">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr3" value="5">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr3" value="6">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr3" value="7">
            <input type=hidden name="rr3_required" value= "You must enter a rating.">
          </div></td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2"><cfoutput query="RealRating"> #ideal2# </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ri2" value="1">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ri2" value="2">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ri2" value="3">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ri2" value="4">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ri2" value="5">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ri2" value="6">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ri2" value="7">
            <input type=hidden name="ri2_required" value= "You must enter a rating.">
            </font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2" bgcolor="#FFFFCC"><cfoutput query="RealRating"> 
            #opr2# </cfoutput></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">1</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">2</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">3</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">4</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">5</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">6</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">7</font></div></td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr12" value="1">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr12" value="2">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr12" value="3">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr12" value="4">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr12" value="5">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr12" value="6">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr12" value="7">
            <input type=hidden name="rr12_required" value= "You must enter a rating.">
          </div></td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43" rowspan="2"><cfoutput query="RealRating"> #opou4# </cfoutput></td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ro10" value="1">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ro10" value="2">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ro10" value="3">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ro10" value="4">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ro10" value="5">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ro10" value="6">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ro10" value="7">
            <input type=hidden name="ro10_required" value= "You must enter a rating.">
            </font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td height="43">&nbsp;</td>
        <td colspan="10"> <div align="left"> <br> <input type="submit" name="Submit" value="Continue"> 
        </td>
      </tr>
    </table>
</center>
</cfform>
