<cfoutput>
<cfquery name="Updaterat" datasource="#mySource#">
  UPDATE #myTable#_supplemental
  SET ir1='#Form.ir1#',
    ir2 ='#Form.ir2#',
    ir3 ='#Form.ir3#',
    ir4 = '#Form.ir4#',
    ir5 = '#Form.ir5#',
    ir6='#Form.ir6#',
    ir7 = '#Form.ir7#',
    ir8= '#Form.ir8#',
    ir9 = '#Form.ir9#',
    ir10='#Form.ir10#',
    ir11 ='#Form.ir11#',
    ir12 ='#Form.ir12#',
    ir13 ='#Form.ir13#',
    ir14 ='#Form.ir14#'
   WHERE FK=#URL.myId#
</cfquery>
</cfoutput>

<cfquery name="RealRating" datasource="#mySource#">
 SELECT * FROM #myTable# WHERE Id=#URL.myId#
</cfquery>


<cfif RealRating.numpick IS 1 OR RealRating.numpick IS 5> 
<cfset going="ought1">
</cfif>


<cfif RealRating.numpick IS 4 OR RealRating.numpick IS 6> 
<cfset going="real1">
</cfif>

<cfif RealRating.numpick IS 2 OR RealRating.numpick IS 3> 
<cfset going="end">
</cfif>

<cfform action="frame.cfm?num=#myIndex+1#&myTo=#going#&myId=#URL.myId#&instr=y" method="post">
<center>
    <table width="585" border="0" cellpadding="0" cellspacing="0">
      <tr valign="top"> 
        <td colspan="11"> <h3>Describe your IDEAL SELF: This is yourself as YOU 
            would like to be in your own eyes.</h3></td>
      </tr>
      <tr> 
        <td colspan="11"> <div align="center"><img src="../constructs.gif" width="586" height="49"></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="50%" rowspan="2" valign="middle">quiet</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="41"> <div align="center"> <font size="2"> 
            <input type="radio" name="ir15" value="1" <cfif debug>checked</cfif>>
            </font></div></td>
        <td width="41"> <div align="center"> <font size="2"> 
            <input type="radio" name="ir15" value="2">
            </font></div></td>
        <td width="41"> <div align="center"> <font size="2"> 
            <input type="radio" name="ir15" value="3">
            </font></div></td>
        <td width="41"> <div align="center"> <font size="2"> 
            <input type="radio" name="ir15" value="4">
            </font></div></td>
        <td width="42"> <div align="center"> <font size="2"> 
            <input type="radio" name="ir15" value="5">
            </font></div></td>
        <td width="41"> <div align="center"> <font size="2"> 
            <input type="radio" name="ir15" value="6">
            </font></div></td>
        <td width="42"> <div align="center"> <font size="2"> 
            <input type="radio" name="ir15" value="7">
            <input type=hidden name="ir15_required" value= "You must enter a rating.">
            </font></div></td>
        <td width="42">&nbsp;</td>
        <td width="42">&nbsp;</td>
        <td width="42">&nbsp;</td>
      </tr>
      <tr> 
        <td rowspan="2" valign="middle">pleasant</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr> 
        <td height="14"> <div align="center"> <font size="2"> 
            <input type="radio" name="ir16" value="1" <cfif debug>checked</cfif>>
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir16" value="2">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir16" value="3">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir16" value="4">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir16" value="5">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir16" value="6">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir16" value="7">
            <input name="ir16_required" type=hidden id="ir16_required" value= "You must enter a rating.">
            </font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td rowspan="2" valign="middle">unconventional</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td height="14"> <div align="center"> 
            <input type="radio" name="ir17" value="1" <cfif debug>checked</cfif>>
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="ir17" value="2">
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="ir17" value="3">
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="ir17" value="4">
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="ir17" value="5">
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="ir17" value="6">
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="ir17" value="7">
            <input name="ir17_required" type=hidden id="ir17_required" value= "You must enter a rating.">
          </div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td rowspan="2" valign="middle">individualistic</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir18" value="1" <cfif debug>checked</cfif>>
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir18" value="2">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir18" value="3">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir18" value="4">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir18" value="5">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir18" value="6">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir18" value="7">
            <input name="ir18_required" type=hidden id="ir18_required" value= "You must enter a rating.">
            </font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td rowspan="2" valign="middle" bgcolor="#FFFFCC">tense</td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">1</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">2</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">3</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">4</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">5</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">6</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">7</font></div></td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir19" value="1" <cfif debug>checked</cfif>>
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir19" value="2">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir19" value="3">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir19" value="4">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir19" value="5">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir19" value="6">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir19" value="7">
            <input name="ir19_required" type=hidden id="ir19_required" value= "You must enter a rating.">
          </div></td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td rowspan="2" valign="middle">good-looking</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir20" value="1" <cfif debug>checked</cfif>>
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir20" value="2">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir20" value="3">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir20" value="4">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir20" value="5">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir20" value="6">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir20" value="7">
            <input name="ir20_required" type=hidden id="ir20_required" value= "You must enter a rating.">
            </font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td rowspan="2" valign="middle" bgcolor="#FFFFCC">reflective</td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">1</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">2</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">3</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">4</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">5</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">6</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">7</font></div></td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir21" value="1" <cfif debug>checked</cfif>>
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir21" value="2">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir21" value="3">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir21" value="4">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir21" value="5">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir21" value="6">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir21" value="7">
            <input name="ir21_required" type=hidden id="ir21_required" value= "You must enter a rating.">
          </div></td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td rowspan="2" valign="middle">nervous</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir22" value="1" <cfif debug>checked</cfif>>
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir22" value="2">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir22" value="3">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir22" value="4">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir22" value="5">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir22" value="6">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir22" value="7">
            <input name="ir22_required" type=hidden id="ir22_required" value= "You must enter a rating.">
            </font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td rowspan="2" valign="middle" bgcolor="#FFFFCC">thorough</td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">1</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">2</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">3</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">4</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">5</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">6</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">7</font></div></td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir23" value="1" <cfif debug>checked</cfif>>
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir23" value="2">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir23" value="3">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir23" value="4">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir23" value="5">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir23" value="6">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir23" value="7">
            <input name="ir23_required" type=hidden id="ir23_required" value= "You must enter a rating.">
          </div></td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td rowspan="2" valign="middle">kind</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir24" value="1" <cfif debug>checked</cfif>>
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir24" value="2">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir24" value="3">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir24" value="4">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir24" value="5">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir24" value="6">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir24" value="7">
            <input name="ir24_required" type=hidden id="ir24_required" value= "You must enter a rating.">
            </font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td rowspan="2" valign="middle" bgcolor="#FFFFCC">charming</td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">1</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">2</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">3</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">4</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">5</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">6</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">7</font></div></td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir25" value="1" <cfif debug>checked</cfif>>
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir25" value="2">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir25" value="3">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir25" value="4">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir25" value="5">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir25" value="6">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir25" value="7">
            <input name="ir25_required" type=hidden id="ir25_required" value= "You must enter a rating.">
          </div></td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td rowspan="2" valign="middle">clever</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir26" value="1" <cfif debug>checked</cfif>>
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir26" value="2">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir26" value="3">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir26" value="4">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir26" value="5">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir26" value="6">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir26" value="7">
            <input name="ir26_required" type=hidden id="ir26_required" value= "You must enter a rating.">
            </font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td rowspan="2" valign="middle" bgcolor="#FFFFCC">lazy</td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">1</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">2</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">3</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">4</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">5</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">6</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">7</font></div></td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir27" value="1" <cfif debug>checked</cfif>>
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir27" value="2">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir27" value="3">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir27" value="4">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir27" value="5">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir27" value="6">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="ir27" value="7">
            <input name="ir27_required" type=hidden id="ir27_required" value= "You must enter a rating.">
          </div></td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td rowspan="2" valign="middle">silent</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir28" value="1" <cfif debug>checked</cfif>>
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir28" value="2">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir28" value="3">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir28" value="4">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir28" value="5">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir28" value="6">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="ir28" value="7">
            <input name="ir28_required" type=hidden id="ir28_required" value= "You must enter a rating.">
            </font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td >&nbsp;</td>
        <td colspan="10"> <div align="left"> <br> <input type="submit" name="Submit" value="Continue"> 
        </td>
      </tr>
    </table>
</center>
</cfform>
