

<cfoutput>
<cfquery name="Updaterat" datasource="#mySource#">
  UPDATE #myTable#_supplemental
  SET 
  rr1 = '#Form.rr1#',
  rr2 = '#Form.rr2#',
  rr3 = '#Form.rr3#', 
  rr4 = '#Form.rr4#',
  rr5 = '#Form.rr5#', 
  rr6 = '#Form.rr6#', 
  rr7 = '#Form.rr7#',
  rr8 = '#Form.rr8#', 
  rr9 = '#Form.rr9#', 
  rr10 = '#Form.rr10#', 
  rr11 = '#Form.rr11#', 
  rr12 = '#Form.rr12#',
  rr13 = '#Form.rr13#', 
  rr14 = '#Form.rr14#'
  WHERE FK = #URL.myID#
</cfquery>
</cfoutput>

<cfquery name="RealRating" datasource="#mySource#">
 SELECT numpick FROM #myTable# WHERE Id=#URL.myId#
</cfquery>


<cfif RealRating.numpick IS 2 OR RealRating.numpick IS 6> 
<cfset var="ought1">
</cfif>


<cfif RealRating.numpick IS 1 OR RealRating.numpick IS 3> 
<cfset var="ideal1">
</cfif>

<cfif RealRating.numpick IS 4 OR RealRating.numpick IS 5> 
<cfset var="end">
</cfif>

<cfform action="frame.cfm?num=#myIndex+1#&myTo=#var#&myId=#URL.myId#" method="post">
<center>
    <table width="585" border="0" cellpadding="0" cellspacing="0">
      <tr valign="top"> 
        <td colspan="11"> <h3>Describe your REAL SELF: This is yourself as YOU 
            see yourself in your own eyes.</h3></td>
      </tr>
      <tr> 
        <td colspan="11"> <div align="center"><img src="../constructs.gif" width="586" height="49"></div></td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="50%" rowspan="2" valign="middle">quiet</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td width="41"> <div align="center"> <font size="2"> 
            <input type="radio" name="rr15" value="1" <cfif debug>checked</cfif>>
            </font></div></td>
        <td width="41"> <div align="center"> <font size="2"> 
            <input type="radio" name="rr15" value="2">
            </font></div></td>
        <td width="41"> <div align="center"> <font size="2"> 
            <input type="radio" name="rr15" value="3">
            </font></div></td>
        <td width="41"> <div align="center"> <font size="2"> 
            <input type="radio" name="rr15" value="4">
            </font></div></td>
        <td width="42"> <div align="center"> <font size="2"> 
            <input type="radio" name="rr15" value="5">
            </font></div></td>
        <td width="41"> <div align="center"> <font size="2"> 
            <input type="radio" name="rr15" value="6">
            </font></div></td>
        <td width="42"> <div align="center"> <font size="2"> 
            <input type="radio" name="rr15" value="7">
            <input type=hidden name="rr15_required" value= "You must enter a rating.">
            </font></div></td>
        <td width="42">&nbsp;</td>
        <td width="42">&nbsp;</td>
        <td width="42">&nbsp;</td>
      </tr>
      <tr> 
        <td rowspan="2" valign="middle">pleasant</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr> 
        <td height="14"> <div align="center"> <font size="2"> 
            <input type="radio" name="rr16" value="1" <cfif debug>checked</cfif>>
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr16" value="2">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr16" value="3">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr16" value="4">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr16" value="5">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr16" value="6">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr16" value="7">
            <input name="rr16_required" type=hidden id="rr16_required" value= "You must enter a rating.">
            </font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td rowspan="2" valign="middle">unconventional</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFCC"> 
        <td height="14"> <div align="center"> 
            <input type="radio" name="rr17" value="1" <cfif debug>checked</cfif>>
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="rr17" value="2">
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="rr17" value="3">
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="rr17" value="4">
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="rr17" value="5">
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="rr17" value="6">
          </div></td>
        <td> <div align="center"> 
            <input type="radio" name="rr17" value="7">
            <input name="rr17_required" type=hidden id="rr17_required" value= "You must enter a rating.">
          </div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td rowspan="2" valign="middle">individualistic</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr18" value="1" <cfif debug>checked</cfif>>
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr18" value="2">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr18" value="3">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr18" value="4">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr18" value="5">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr18" value="6">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr18" value="7">
            <input name="rr18_required" type=hidden id="rr18_required" value= "You must enter a rating.">
            </font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td rowspan="2" valign="middle" bgcolor="#FFFFCC">tense</td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">1</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">2</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">3</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">4</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">5</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">6</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">7</font></div></td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr19" value="1" <cfif debug>checked</cfif>>
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr19" value="2">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr19" value="3">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr19" value="4">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr19" value="5">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr19" value="6">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr19" value="7">
            <input name="rr19_required" type=hidden id="rr19_required" value= "You must enter a rating.">
          </div></td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td rowspan="2" valign="middle">good-looking</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr20" value="1" <cfif debug>checked</cfif>>
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr20" value="2">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr20" value="3">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr20" value="4">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr20" value="5">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr20" value="6">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr20" value="7">
            <input name="rr20_required" type=hidden id="rr20_required" value= "You must enter a rating.">
            </font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td rowspan="2" valign="middle" bgcolor="#FFFFCC">reflective</td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">1</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">2</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">3</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">4</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">5</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">6</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">7</font></div></td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr21" value="1" <cfif debug>checked</cfif>>
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr21" value="2">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr21" value="3">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr21" value="4">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr21" value="5">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr21" value="6">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr21" value="7">
            <input name="rr21_required" type=hidden id="rr21_required" value= "You must enter a rating.">
          </div></td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td rowspan="2" valign="middle">nervous</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr22" value="1" <cfif debug>checked</cfif>>
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr22" value="2">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr22" value="3">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr22" value="4">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr22" value="5">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr22" value="6">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr22" value="7">
            <input name="rr22_required" type=hidden id="rr22_required" value= "You must enter a rating.">
            </font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td rowspan="2" valign="middle" bgcolor="#FFFFCC">thorough</td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">1</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">2</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">3</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">4</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">5</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">6</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">7</font></div></td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr23" value="1" <cfif debug>checked</cfif>>
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr23" value="2">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr23" value="3">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr23" value="4">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr23" value="5">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr23" value="6">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr23" value="7">
            <input name="rr23_required" type=hidden id="rr23_required" value= "You must enter a rating.">
          </div></td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td rowspan="2" valign="middle">kind</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr24" value="1" <cfif debug>checked</cfif>>
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr24" value="2">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr24" value="3">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr24" value="4">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr24" value="5">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr24" value="6">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr24" value="7">
            <input name="rr24_required" type=hidden id="rr24_required" value= "You must enter a rating.">
            </font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td rowspan="2" valign="middle" bgcolor="#FFFFCC">charming</td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">1</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">2</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">3</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">4</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">5</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">6</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">7</font></div></td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr25" value="1" <cfif debug>checked</cfif>>
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr25" value="2">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr25" value="3">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr25" value="4">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr25" value="5">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr25" value="6">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr25" value="7">
            <input name="rr25_required" type=hidden id="rr25_required" value= "You must enter a rating.">
          </div></td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td rowspan="2" valign="middle">clever</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr26" value="1" <cfif debug>checked</cfif>>
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr26" value="2">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr26" value="3">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr26" value="4">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr26" value="5">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr26" value="6">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr26" value="7">
            <input name="rr26_required" type=hidden id="rr26_required" value= "You must enter a rating.">
            </font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td rowspan="2" valign="middle" bgcolor="#FFFFCC">lazy</td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">1</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">2</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">3</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">4</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">5</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">6</font></div></td>
        <td bgcolor="#FFFFCC"><div align="center"><font size="2">7</font></div></td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr27" value="1" <cfif debug>checked</cfif>>
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr27" value="2">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr27" value="3">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr27" value="4">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr27" value="5">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr27" value="6">
          </div></td>
        <td bgcolor="#FFFFCC"> <div align="center"> 
            <input type="radio" name="rr27" value="7">
            <input name="rr27_required" type=hidden id="rr27_required" value= "You must enter a rating.">
          </div></td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
        <td bgcolor="#FFFFCC">&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td rowspan="2" valign="middle">silent</td>
        <td><div align="center"><font size="2">1</font></div></td>
        <td><div align="center"><font size="2">2</font></div></td>
        <td><div align="center"><font size="2">3</font></div></td>
        <td><div align="center"><font size="2">4</font></div></td>
        <td><div align="center"><font size="2">5</font></div></td>
        <td><div align="center"><font size="2">6</font></div></td>
        <td><div align="center"><font size="2">7</font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr28" value="1" <cfif debug>checked</cfif>>
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr28" value="2">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr28" value="3">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr28" value="4">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr28" value="5">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr28" value="6">
            </font></div></td>
        <td><div align="center"> <font size="2"> 
            <input type="radio" name="rr28" value="7">
            <input name="rr28_required" type=hidden id="rr28_required" value= "You must enter a rating.">
            </font></div></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr valign="top"> 
        <td >&nbsp;</td>
        <td colspan="10"> <div align="left"> <br> <input type="submit" name="Submit" value="Continue"> 
        </td>
      </tr>
    </table>
</center>
</cfform>
