
<table width="585" height="20" border="0" cellpadding="0" cellspacing="0">

  <tr> 
    <td width="73" height="19" bgcolor="#FFFFCC"> <strong> 
      <CFINPUT TYPE="radio" NAME="q#myIndex#" value="0">
      0</strong></td>
    <td colspan="7" bgcolor="#FFFFCC"><strong>I do not feel sad.</strong></td>
  </tr>
  <tr> 
    <td height="19"><strong> 
      <CFINPUT TYPE="radio" NAME="q#myIndex#" value="1">
      1 </strong></td>
    <td colspan="7"><strong>I feel sad much of the time.</strong></td>
  </tr>
  <tr> 
    <td height="19" bgcolor="#FFFFCC"> <strong> 
      <CFINPUT TYPE="radio" NAME="q#myIndex#" value="2">
      2 </strong></td>
    <td colspan="7" bgcolor="#FFFFCC"><strong>I am sad all the time.</strong></td>
  </tr>
  <tr> 
    <td height="19"><strong> 
      <CFINPUT TYPE="radio" NAME="q#myIndex#" value="3">
      3 </strong></td>
    <td colspan="7"><strong>I am so sad or unhappy that I can't stand it.</strong>
	<input type=hidden name="<cfoutput>q#myIndex#</cfoutput>_required" value= "<cfoutput>#ERROR#</cfoutput>">
	</td>
  </tr>
    <tr> 
    <td height="19"><strong> 
      &nbsp;</td>
    <td colspan="7"><strong><input type="submit" onclick="validate(this.form);" value="Continue"></strong></td>
  </tr>
</table>

